<!DOCTYPE html>
<html lang="fr">
<head>
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

    <meta charset="UTF-8">
    <title>Générateur de PDF d'Images</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
{% include 'templates/widget_back_menu.html' %}

    <h1>Générateur de PDF d'Images</h1>
    <div class="controls">
        <label for="fileInput">Choisir des images:</label>
        <input type="file" id="fileInput" multiple accept="image/*">
    </div>
    <div class="controls">
        <label>Nombre d'images par page :</label>
        <input type="radio" name="imagesPerPage" value="2"> 2
        <input type="radio" name="imagesPerPage" value="4"> 4
        <input type="radio" name="imagesPerPage" value="6"> 6
        <input type="radio" name="imagesPerPage" value="9"> 9
        <input type="radio" name="imagesPerPage" value="12"> 12
    </div>
    <div class="controls">
        <label>Orientation du PDF :</label>
        <input type="radio" name="orientation" value="portrait" checked> Portrait
        <input type="radio" name="orientation" value="landscape"> Paysage
    </div>
    <div class="controls">
        <label for="fileName">Nom du fichier PDF :</label>
        <input type="text" id="fileName" placeholder="Nom du fichier PDF">
    </div>
    <div class="controls" id="rectoVersoControl" style="display:none;">
        <label>Option recto verso :</label>
        <input type="checkbox" id="rectoVerso"> Activer
    </div>
    <button onclick="generatePDF()">Générer le PDF</button>
    <div id="errorMessages" class="error"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="script.js"></script>
{% include 'templates/global.js.html' %}
</body>
</html>
