@font-face {
  font-family: 'crayoneregular';
  src: url('fonts/crayone-webfont.eot');
  src: url('fonts/crayone-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/crayone-webfont.woff2') format('woff2'),
       url('fonts/crayone-webfont.woff') format('woff'),
       url('fonts/crayone-webfont.ttf') format('truetype'),
       url('fonts/crayone-webfont.svg#crayoneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 98%;
  margin:0;
  padding:0;
  -webkit-user-select: none;
}

hr {
  width: 50%;
}

#ecran-blanc{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fefefe;
  opacity: 0.5;
  z-index: 9999;
}

#zone-haut {
  display: flex;
  width: 100%;
  height: 95%;
}

#zone-action {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

#zone-affichage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

#modele {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  color: black;
  font-size: 7vmin;
  background-color: #f4d4d4;
  border-color: white;
  border-style: solid;
  border-top-width: 10px;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 10px;
}

#modele.cursive {
  font-family: 'crayoneregular';
  font-size: 12vmin;
}

#annonces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f32415;
  background-color: #f7ebd0;
  height: 25%;
  font-size: 3vmin;
  font-weight: bold;
  border-color: white;
  border-style: solid;
  border-left-width: 5px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 10px;
}

#zone-exercice {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: #d5e5ef;
  border-color: white;
  border-style: solid;
  border-left-width: 5px;
  border-top-width: 5px;
  border-bottom-width: 10px;
  border-right-width: 10px;
}

#form-saisie {
  height: 50%;
}

#zone-boutons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

#zone-exercice label {
  color: black;
  text-justify: center;
}

#form-saisie input {
  font-size: 3vh;
  padding-left: 3%;
  border: solid black 1px;
}

#form-saisie input.cursive {
  font-family: 'crayoneregular';
  font-size: 5vh;
  height: 8vh;
  padding-bottom: 8px;
}

#form-saisie input:disabled {
  background-color: #bababa;
  color: black;
}

#zone-annexe {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background-color: #0eb4bb;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-left-width: 10px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-right-width: 5px;
  font-size: 1.9vh;
}

#zone-annexe p {
  text-align: center;
  font-weight: bold;
}

#zone-resultats {
  flex-direction: column;
  width: 92%;
  height: 40%;
  box-sizing: border-box;
  border: solid black 1px;
  border-radius: 15px;
  margin: 4%;
}

#titre {
  position: relative;
  float: left;
  margin-left: 3%;
  margin-top: -4%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #0eb4bb;
}

#interieur {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#separation {
  width: 100%;
  height: 2%;
}

#resultats-epreuve {
  padding-top: 2%;
}

#bt-resultats {
 height: 18%;
 margin: auto;
}

#zone-selection {
  width: 100%;
  height: 60%;
  margin-left: 2%;
  padding-top: 6rem;
}

#zone-selection select {
  max-width: 96%;
  margin-bottom: 2%;
}

#zone-bas {
  display: flex;
  flex-direction: column;
  height: 7%;
  background-color: #063663;
}

#zone-commandes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#zone-boutons2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#options {
  z-index: 99999;
  height: 50%;
  width: 60%;
  position: fixed;
  left: 20%;
  top: 20%;
  justify-content: center;
  align-items: center;
}

#formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: solid black 1px;
  background-color:#c8c8c8;
  padding: 0 2% 2% 2%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.2);
}

#form-nom {
  z-index: 99999;
  height: 18%;
  width: 25%;
  position: fixed;
  left: 35%;
  top: 20%;
  justify-content: center;
  align-items: center;
  background-color:#c8c8c8;
  padding: 2%;
  font-size: 2vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.2);
}

#patronyme {
  width: 95%;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.label-resultat {
  margin-left: 2%;
}

.bloc-resultat {
  display: Flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  justify-content: center;
}

.ligne-resultat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resultat {
  color: darkred;
  font-weight: bold;
  padding-right: 2%;
}

.bouton {
  background-color: #DCE0D2;
  font-size: 2.3vh;
  padding: 3px 5px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.2);
  border: none;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.bouton:enabled:hover {
  background-color: white;
}

.bouton:disabled {
  color: #bcbcbc;
}

.bouton2 {
  background-color: #DCE0D2;
  margin-left: auto;
  margin-right: auto;
}

.consigne {
  color: #6d6d6d;
  text-align: center;
  font-size: 3vh;
  font-weight: normal;
}

.lb-inactif {
  opacity: 0;
}

.lb-actif {
  opacity: 1;
}

@media screen and (orientation: portrait) {
  #zone-haut {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
  }
  #zone-action {
    width: 100%;
    height: 50%;
  }
  #modele {
    border-left-width: 10px;
  }
  #annonces {
    border-left-width: 10px;
  }
  #zone-exercice {
    border-bottom-width: 5px;
    border-left-width: 10px;
  }
  #form-saisie {
    height: 70%;
  }
  #zone-annexe {
    flex-direction: row;
    width: 100%;
    height: 50%;
    font-size: 2vw;
    border-bottom-width: 5px;
    border-right-width: 10px;
  }
  #zone-resultats {
    width: 50%;
    height: 88%;
  }
  #zone-selection {
    width: 50%;
    height: 100%;
  }
  #annonces {
    font-size: 3vw;
  }
  #modele.cursive {
    font-size: 8vmin;
  }
  #form-saisie input.cursive {
    font-size: 8vmin;
    height: 12vmin;
  }
  #form-nom {
    font-size: 2vh;
  }
  .consigne {
    font-size: 2.5vw;
  }
}
