<!DOCTYPE html>
<html lang="fr">
<head>
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éducajou - ELF</title>
    <link rel="stylesheet" href="style.css?version=COMMITHASH">
    <link rel="apple-touch-icon" sizes="180x180" href="elf.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/elf.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/elf.png">
    <link rel="icon" type="image/svg+xml" href="images/elf.svg">

</head>
<body>
{% include 'templates/widget_back_menu.html' %}
    

    <div id="haut">
        <a id="educajou" href="../"><img draggable="false" style="height: 100%;" src="https://educajou.forge.apps.education.fr/img/educajou.png"></a>
        <div id="zone-boutons-haut" class="debut">
            <button class="bouton-haut hide masquable" title="Modifier la liste de mots" style="background-image: url(images/crayon.svg);" onclick="edit()"></button>
            <button class="bouton-haut hide masquable" title="Arrêter l'exercice" style="background-image: url(images/stop.svg);" onclick="fin()"></button>
            <button class="bouton-haut hide masquable" title="Écouter" style="background-image: url(images/entendre.svg);" onclick="ecouter()"></button>
            <button class="bouton-haut hide masquable" title="Masquer / Afficher le mot (Raccourci clavier : B)" style="background-image: url(images/oeil.svg);" onclick="masque()"></button>
            <button class="bouton-haut" title="Options" style="background-image: url(images/options.svg);" onclick="options()"></button>
        </div>
    </div>


    <div id="milieu">

        <div id="fin" class="hide">
            <button style="background-image: url(images/demarrer.svg);" onclick="traiterListes('diaporama');">Recommencer</button>
            <br>
            <button style="background-image: url(images/crayon.svg);" onclick="edit(true);">Éditer la liste</button>
            <br>
            <button style="background-image: url(images/copielien.svg);" onclick="copieLien(this);">Partager</button>

        </div>

        <div id="options" class="hide">
            <button id="bouton-retour" onclick="options();">Retour</button>
            <div id="reglages">
                <div class="form-group">
                    <input id="checkbox-masquer-auto" type="checkbox" checked="true" onchange="appliqueOptions();">
                    <label for="input-duree">Masquer le mot au bout de</label>
                    <input id="input-duree" name="input-duree" type="number" min="0.1" value="1" step="0.1" onchange="appliqueOptions()">
                    secondes
                </div>
                <div class="form-group">
                    <label for="input-frequence-nouveaux">Proposer les mots nouveaux</label>
                    <input id="input-frequence-nouveaux" name="input-frequence-nouveaux" type="number" min="1" value="3" step="1" onchange="appliqueOptions()">
                    fois
                </div>
                <div class="form-group">
                    <label for="input-frequence-anciens">Proposer les mots de révision</label>
                    <input id="input-frequence-anciens" name="input-frequence-anciens" type="number" min="1" value="1" step="1" onchange="appliqueOptions()">
                    fois
                </div>
            </div>
        </div>

        <div id="accueil">
            Cette application lance un <strong>diaporama "flash"</strong>(identification rapide) aléatoire à partir d'une liste de mots. Au cours du diaporama on ajuste la fréquence de réapparition de chaque mot selon l'aisance des élèves.
        </div>
        

        <div id="zone-listes">

            <div class="zone-liste">
                <div class="entete-liste" spellcheck="true">Mots nouveaux<br>(affichés plus souvent)</div>
                <textarea class="input-liste" id="input-principaux" spellcheck="true" placeholder="Un mot ou expression par ligne (ou séparés par des . , ;)"></textarea>
            </div>

            <div class="zone-liste">
                <div class="entete-liste">Révisions<br>(affichés moins souvent)</div>
                <textarea class="input-liste" id="input-anciens" spellcheck="true" placeholder="Un mot ou expression par ligne (ou séparés par des . , ;)""></textarea>
            </div>
        </div>



        <div id="diaporama" class="hide">
            <div id="contenu-diaporama"></div>
            <div id="progression">
                <div id="barre-progression-next"></div>
                <div id="barre-progression"></div>
            </div>
        </div>

    </div>

    <span id="titre">
        <img id="logo" src="images/elf.png">
        <span id=texte-titre>ELF</span>
        <span id=texte-slogan>Éducajou Lecture Flash</span>
    </span>

        
    <div id="bas">
        <button class="bouton-reussite hide masquable" style="background-color: rgb(35, 253, 49);" title="Ne plus proposer ce mot" onclick="reussite(4)">TRÈS FACILE</button>
        <button class="bouton-reussite hide masquable" style="background-color: rgb(255, 242, 0);" title="Proposer moins souvent ce mot" onclick="reussite(3)">FACILE</button>
        <button class="bouton-reussite hide masquable" style="background-color: rgb(222, 147, 26);" title="Proposer encore ce mot" onclick="reussite(2)">MOYEN</button>
        <button class="bouton-reussite hide masquable" style="background-color: rgb(255, 10, 10);" title="Proposer plus souvent ce mot" onclick="reussite(1)">DIFFICILE</button>
        <div id="zone-boutons">
            <button id="qr-code" style="background-image: url(images/qrcode.svg);" onclick="traiterListes('qrcode',this)">Code QR</button>
            <button id="copier-lien" style="background-image: url(images/copielien.svg);" onclick="traiterListes('lien',this)">Lien</button>
            <button style="background-image: url(images/demarrer.svg);" onclick="traiterListes('diaporama')">Démarrer</button>
        </div>
    </div>

    <button id="informations" onclick="ouvre(divApropos)"></button>

<!-- Darkbox pour fond sombre -->
<div id="darkbox" class="hide"></div>

<!-- Section À propos -->
<div id="apropos" class="lightbox hide">
    <button class="bouton-fermer" onclick="ferme(divApropos)"></button>
    <h1>À propos de ELF</h1>

    <div class="contenu-lightbox">
        <ul>
            <strong>ELF</strong> (Éducajou Lecture Flash) permet de lancer instantanément un diaporama à partir d'une liste de mots, en adaptant leur fréquence d'apparition en fonction de la facilité de lecture. Il s'agit d'une application sous licence libre GNU/GPL, de la <a class="cartouche" style="background-image: url(images/educajou.png);" href="https://educajou.forge.apps.education.fr/">suite Éducajou</a>, écrite par Arnaud Champollion.
        </ul>
        <ul>
            La police cursive utilisée est <a href="https://www.jeanboyault.fr/belle-allure/">Belle Allure</a> avec l'aimable autorisation de Jean Boyault.
        </ul>
        <ul>
            Les QR-codes sont générés avec la bibliothèque libre <a href="https://github.com/kozakdenys/qr-code-styling">QR code styling</a>, de <a href="https://github.com/kozakdenys">Denys Kozak</a> - sous licence MIT. Remerciements à Emmanuel Zimmer alias <a href="https://ladigitale.dev/">La Digitale</a> pour la mise à disposition de la bibliothèque compilée.
        </ul>

        <h2>Utiliser hors-ligne</h2>
        <ul>
            Télécharger l'application <a class="cartouche" style="background-image: url(images/zip.png);" href="https://forge.apps.education.fr/educajou/elf/-/archive/main/elf-main.zip">elf-main.zip</a>
        </ul>
        <ul>Extraire le ZIP</ul>
        <ul>Ouvrir le fichier index.html</ul>

        <h2>En savoir plus et accéder aux sources</h2>
        <ul>
            Voir <a class="cartouche" style="background-image: url(images/forge.png);" href="https://forge.apps.education.fr/educajou/elf">la page du projet</a> sur la Forge des Communs Numériques Éducatifs.
        </ul>

        <h2>Signaler un bug ou suggérer une amélioration</h2>
        <ul>
            Pour contribuer, vous pouvez ajouter <a href="https://forge.apps.education.fr/educajou/elf/-/issues">un ticket</a>.
        </ul>
    </div>
</div> <!-- Fin de div apropos -->

<!-- Section QR Code (indépendante) -->
<div id="div-qrcode" class="lightbox hide">
    <div id="entete-qrcode">
        <button id="bouton-fermer-qrcode" onclick="ferme(divQrcode)">X</button>
    </div>
    <div id="zone-qrcode"></div>
    <div id="pied-qrcode">
        <button id="bouton-telecharger-qrcode" onclick="telechargerQrcode()">Télécharger</button>
    </div>
</div>


    <script src="qrcode-styling.js"></script>
    <script src="fonctions.js?version=COMMITHASH"></script>
    <script src="script.js?version=COMMITHASH"></script>
{% include 'templates/global.js.html' %}
</body>
</html>
