body {
    font-family: 'Roboto', sans-serif;
    background-color: color(srgb 0.84 0.84 0.84);
    color: #333;
    margin: 0;
    padding: 0;
    width: 98vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 3px solid color(srgb 0.0088 0.3428 0.3271);
    margin-top:5px;
}

button {
    background-color: #025753;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

button:hover {
    background-color: #4caf50;

    transform: translateY(-2px);

}

button:active {
    transform: translateY(1px);

}


#cursorButton::before {
    content: "\f245";

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}


#brushButton::before {
    content: "\f303";

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}


#eraserButton::before {
    content: "\f12d";

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

#emojiButton::before {
    content: "\f118";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
}

.upload-label {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.upload-label:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.upload-label:active {
    transform: translateY(1px);
}


#resolutionContainer {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 20px;
    max-width: 600px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 10px 9px 38px rgba(0, 0, 0, 1);
    flex-wrap: wrap;
}


.customCursor {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #007BFF;
    border-radius: 50%;
    display: none;
    position: absolute;
    pointer-events: none;
    transition: transform 0.1s ease;
}

#cursorIcon {
    font-size: 1.5em;
    color: #007BFF;
}

#facesContainer {
    display: flex;
    flex-wrap: wrap;
}

.faceBox {
    margin: 10px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
}

canvas {
    max-width: 100%;
    max-height: 800px;
}

#downloadButton {
    background-color: #4CAF50;

    color: white;

    font-size: 18px;

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    height: 50px;

    width: auto;

    text-align: center;

    display: inline-block;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: background-color 0.3s ease, transform 0.2s ease;

}

#downloadButton:hover {
    background-color: #45a049;

    transform: translateY(-2px);

}

#downloadButton:active {
    transform: translateY(1px);

}

.custom-file-input {
    display: none;

}

.upload-label {
    background-color: #4CAF50;

    color: white;

    font-size: 18px;

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    height: 30px;

    line-height: 30px;

    text-align: center;

    display: inline-block;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: background-color 0.3s ease, transform 0.2s ease;

}

.upload-label:hover {
    background-color: #45a049;

    transform: translateY(-2px);

}

.upload-label:active {
    transform: translateY(1px);

}


#resolutionContainer {
    display: flex;

    align-items: center;

    justify-content: center;

    margin: 0 auto;

    padding: 20px;

    max-width: 300px;

    border: 2px solid #333;

    border-radius: 10px;

    background-color: #f9f9f9;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.field-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#resolutionContainer label {
    font-size: 1em;
    margin-right: 2px;
    color: #555;
}

#resolutionContainer input[type="number"] {
    width: 70px;
    padding: 5px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

#resolutionContainer input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}

.upload_zone {

    background-color: rgb(3, 87, 83);
    margin: 0;
}

.blur-title {
background-color: color(srgb 0.7505 0.7854 0.8021);
width: 80%;
margin-left: auto;
margin-right: auto;
border-radius: 150px;
border:4px solid rgb(3, 87, 83);
padding-top: 10px;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-5px, 5px);
    }

    40% {
        transform: translate(5px, -5px);
    }

    60% {
        transform: translate(-5px, -5px);
    }

    80% {
        transform: translate(5px, 5px);
    }

    100% {
        transform: translate(0);
    }
}

.tools {
    padding-top: 10px;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #025753;
    margin: 0;
    display: inline-block;
    font-family: italic;
    width: 100%;
    background-color: color(srgb 0.905 0.905 0.905);
    padding-top: 10px;
    padding-bottom: 10px;
}

.export_zone {
    background-color: color(srgb 0.0088 0.3428 0.3271);
    padding: 20px;
}

.collapsible i {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.collapsible.active i {
    transform: rotate(90deg);
}

.footer {
    bottom: 0;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.accordion {
    background-color: #444;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.4s ease;
    margin-bottom: 5px;
}

.accordion:hover {
    background-color: #555;
}

.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 15px;
    background-color: #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    color: #fff;
    margin-bottom: 10px;
}

.panel p {
    margin: 15px 0;
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  #loadingSpinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid color(srgb 0.0088 0.3428 0.3271);
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #options {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.mode-button {
    width: 50px;  
    height: 50px; 
    border-radius: 50%; 
    border: 3px solid transparent; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    cursor: pointer; 
    transition: border 0.3s, transform 0.2s; 
}


#blurModeButton {
    background-image: url('images/blur.png'); 
    background-color: #065753; 
}


#emojiModeButton {
    background-image: url('images/emoji.png'); 
    background-color: #065753; 
}


.mode-button.selected {
    border:3px solid white;
    transform: scale(1.1); 
}


.mode-button:hover {
    border:3px solid #007BFF;
    transform: scale(1.1); 
}

.mode-button::before {
    content: attr(data-tooltip); 
    position: absolute;
    bottom: 70px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #333; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    white-space: nowrap; 
    font-size: 12px; 
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.3s; 
    z-index: 1; 
}


.mode-button::after {
    content: '';
    position: absolute;
    bottom: 60px; 
    left: 50%; 
    transform: translateX(-50%); 
    border-width: 5px; 
    border-style: solid;
    border-color: #333 transparent transparent transparent; 
    opacity: 0; 
    transition: opacity 0.3s; 
    z-index: 1; 
}


.mode-button:hover::before,
.mode-button:hover::after {
    opacity: 1; 
}

.button {
    border: none!important;
}

.button.active {
    border: 3px solid white!important;
}

#outputCanvas {
    touch-action: pinch-zoom;
}

#sizeSlider {
 touch-action: none;
}
