@font-face {
    font-family: 'ScriptFont';
    src: url('polices/BelleAllureCE-Gros.otf') format('opentype');
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5c6d6;
    margin: 0;
    padding: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-preview {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
    height: 423px; /* Height is 1.41 times the width */
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-preview .image-container {
    width: 100%;
    height: 60%; /* Image container takes up 60% of the card height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    background-color: #ddd;
    margin-bottom: 10px;
}
.card-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.card-preview .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black; /* Default text color */
}
.card-preview .text .large {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.card-preview .text .medium {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-preview .text .script {
    font-size: 18px;
    font-family: 'ScriptFont', 'Brush Script MT', cursive;
    font-feature-settings: "calt" 1;
}
.form-group {
    margin-bottom: 20px;
}

#bouton-generer {
    font-size: 28px;
}

.hide {
    display: none;
}