<!DOCTYPE html>

<html>

<head>

{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

<meta name="description" content="Baby-bot, bébé Beebot apprend à butiner" />
<meta charset="utf-8" />
<title>Baby-bot</title>


</head>

<body style="background:#fcf49e;margin:auto;font-family:Arial,verdana,calibri">
{% include 'templates/widget_back_menu.html' %}
<script>
		if (document.body)
		{
		fenlarg = (window.innerWidth);
		fenhaut = (window.innerHeight);
		}
		else
		{
		fenlarg = (document.body.clientWidth);
		fenhaut = (document.body.clientHeight);
		}
		if(fenlarg>fenhaut)
		{
		fenmax=fenlarg;
		}
		else
		{
		fenmax=fenhaut;
		}
</script>

	<img src="titre.png" style="margin-top:0vw;margin-left:40vw;width:20vw">
	<a href="soutien.html"><div style="background:#1E2726;position:absolute;left:93vw;width:7vw;top:0vw;height:6vw;border-radius: 0 0 0 5vw"></div></a>
	<div style="background:#1E2726;position:absolute;left:0vw;width:15vw;top:0vw;height:5vw;border-radius: 0 0 5vw 0;margin-left: 10rem;"></div>
	<img src="logo.png" style="width:10vw;position:absolute;z-index:2;top:0.5vw;left:11rem;">
	<div style="margin:auto;width:100vw;text-align:center">
		<img src="carte.png" style="width:75vw">
		<a href="soutien.html"><img src="donation.png" style="width: 4vw;position: absolute;top: 0.5vw;left: 95vw;"></a>
		<a href="introbabybot.html"><div style="position:absolute;z-index:2;cursor:pointer;width:5vw;height:5vw;border-radius:50%;top: 7.7vw;left: 13vw;"></div></a>
		<a href="Bebe-Beebot-appli-2.html"><div style="position:absolute;z-index:2;cursor:pointer;width:5vw;height:5vw;border-radius:50%;top: 16vw;left: 23.5vw;"></div></a>
		<a href="Bebe-Beebot-appli-3.html"><div style="position:absolute;z-index:2;cursor:pointer;width:5vw;height:5vw;border-radius:50%;top: 31vw;left: 19.5vw;"></div></a>
		<a href="Bebe-Beebot-appli-4.html"><div style="position:absolute;z-index:2;cursor:pointer;width:5vw;height:5vw;border-radius:50%;top: 22vw;left: 33.5vw;"></div></a>
		<a href="Bebe-Beebot-appli-5.html"><div style="position:absolute;z-index:2;cursor:pointer;width:5vw;height:5vw;border-radius:50%;top: 7.6vw;left: 40.7vw;"></div></a>
		<a href="Bebe-Beebot-appli-6.html"><div style="position:absolute;z-index:2;cursor:pointer;width:5vw;height:5vw;border-radius:50%;top: 19vw;left: 46.7vw;"></div></a>
		<a href="Bebe-Beebot-appli-7.html"><div style="position:absolute;z-index:2;cursor:pointer;width:5vw;height:5vw;border-radius:50%;top: 30vw;left: 57.5vw;"></div></a>
		<a href="Bebe-Beebot-appli-8.html"><div style="position:absolute;z-index:2;cursor:pointer;width:5vw;height:5vw;border-radius:50%;top: 18.5vw;left: 62.4vw;"></div></a>
		<a href="Bebe-Beebot-appli-9.html"><div style="position:absolute;z-index:2;cursor:pointer;width:5vw;height:5vw;border-radius:50%;top: 6.4vw;left: 67.5vw;"></div></a>
		<a href="Bebe-Beebot-appli-10.html"><div style="position:absolute;z-index:2;cursor:pointer;width:5vw;height:5vw;border-radius:50%;top: 20.6vw;left: 80vw;"></div></a>
	</div>


{% include 'templates/global.js.html' %}

</body>

<script>


</script>
