/* style.css */

/* Style de base */
body, html {
    height: 100%;
    margin: 0;
    background-color: #6495ed; /* Couleur bleue du ciel */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Titres */
h1, h2, h3 {
    color: #ffffff; /* Couleur du texte en blanc */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Ombre portée */
    margin-top: 20px;
}

/* Conteneur de la caméra */
#camera {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Flux vidéo */
#video {
    width: 90vw;
    max-width: 90%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 1px solid black;
    background-color: #000;
}

/* Bouton Prendre une photo */
#capture {
    margin-top: 10px;
    font-size: 1.25em;
    padding: 10px 20px;
}

/* Canvas pour l'image capturée */
#snapshot {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#canvas {
    display: none;
    max-width: 80vw;
    border: 1px solid #ccc;
}

/* Contrôles */
#controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls button {
    font-size: 1.25em;
    padding: 10px 20px;
    margin: 5px;
}

#sliders {
    margin-top: 10px;
}

#sliders label {
    display: flex;
    align-items: center;
    margin: 5px;
    color: #ffffff;
}

#sliders input[type="range"] {
    margin-left: 10px;
}

/* Liens */
a:link {
    color: yellow; /* Jaune pour les liens non visités */
}

a:visited {
    color: #ffd88a; /* Orange clair pour les liens visités */
}

/* Conteneur des boutons de rotation */
#rotationButtons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#rotationButtons button {
    font-size: 1.25em;
    padding: 10px 20px;
}

/* Styles pour les boutons d'exportation */
#controls button {
    font-size: 1.25em;
    padding: 10px 20px;
    margin: 5px;
}

#cropButtons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#cropButtons button {
    font-size: 1.25em;
    padding: 10px 20px;
}