<!DOCTYPE html>
<html lang="fr">
<head>
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

    <meta charset="UTF-8">
    <title>ScanneMaCam</title>
    <!-- Inclure le style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Inclure FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- Inclure Cropper.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
    <!-- Ajout du style pour centrer la vidéo -->
</head>
<body>
{% include 'templates/widget_back_menu.html' %}

    <div>
        <h1><i class="fas fa-camera"></i> ScanneMaCam</h1>
        <h3>
            Plus d'informations sur l'application ScanneMaCam : <a href="ReadMe.html" target="_blank"><i class="fa-solid fa-circle-info"></i></a>
        </h3>
    </div>
    <div id="camera">
        <div id="videoControls" style="text-align: center; margin-bottom: 10px;">
            <h4 style="margin-top: 0; margin-bottom: 0.25em; color:white">Action sur l'aperçu :</h4>
            <button id="rotateVideoLeftButton"><i class="fas fa-undo"></i></button>
            <button id="rotateVideoRightButton"><i class="fas fa-redo"></i></button>
            <button id="flipVertButton"><i class="fa-solid fa-arrows-up-down"></i></button>
            <button id="flipHorizButton"><i class="fa-solid fa-arrows-left-right"></i></button>
            <button id="centerCameraButton"><i class="fa-solid fa-crosshairs"></i></button>
        </div>
        <div id="cameraContainer" class="video-container">
            <video id="video" autoplay style="display: block; margin: 0 auto;"></video> 
        </div>
        
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px;;">
            <button id="capture"><i class="fas fa-camera"></i> Prendre une photo</button>
            <button id="restartVideo" style="margin-left: 10px;"><i class="fa-solid fa-camera-rotate"></i> Relancer la caméra</button>
        </div>
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px;;">
        <button id="toggleControlsButton"><i class="fas fa-eye-slash"></i> Masquer les contrôles</button>
        </div>
    </div>
    
    <div style="display: flex; margin-top: 1em; margin-left: 1%; margin-right: 1%; max-width:98%">
    <div id="cameraContainer2" class="video-container">
        <canvas id="canvas" style="display: none;"></canvas>
    </div>
    
    <div id="controls" style="display: none;">
        <h4 style="margin-top: 0; margin-bottom: 0.25em; color:white">Action sur la capture :</h4>
        <div id="cropButtons">
            <button id="undoCrop" disabled><i class="fas fa-arrow-left"></i></button>
            <button id="crop"><i class="fas fa-crop"></i> Recadrer</button>
        </div>
        <div id="rotationButtons">
            <button id="rotateLeft" disabled><i class="fas fa-undo"></i></button>
            <button id="rotateRight" disabled><i class="fas fa-redo"></i></button>
            <button id="symHoriz" style="margin-left:3em;" disabled><i class="fa-solid fa-arrows-up-down"></i></button>
            <button id="symVert" disabled><i class="fa-solid fa-arrows-left-right"></i></button>
        </div>
        <div id="sliders">
            <label><i class="fas fa-sun"></i>&ensp;Luminosité : <input type="range" id="brightness" min="-100" max="100" value="0"></label>
            <label><i class="fas fa-adjust"></i>&ensp;Contraste : <input type="range" id="contrast" min="-100" max="100" value="0"></label>
            <label><i class="fas fa-tint"></i>&ensp;Saturation : <input type="range" id="saturation" min="-100" max="100" value="0"></label>
            <div style="margin-top: 1em;">
                <button id="copyImage"><i class="fas fa-copy"></i> Copier l'image</button>
                <button id="exportImage"><i class="fas fa-image"></i> Exporter en Image</button>
                <button id="exportPDF"><i class="fas fa-file-pdf"></i> Exporter en PDF</button>
            </div>
        </div>
    </div>

    </div>
        <p style="color:white;"><strong>Confidentialité :</strong> L'application n'enregistre aucune image sur un serveur. Toutes les opérations sont effectuées localement dans votre navigateur.</p>
    <!-- Inclure Cropper.js -->
    <script src="https://unpkg.com/cropperjs"></script>
    <!-- Inclure jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <!-- Inclure le script JavaScript -->
    <script src="script.js"></script>
{% include 'templates/global.js.html' %}
</body>
</html>
