<html lang="fr">
  <head>
    <title>Achats</title>
    <meta charset="UTF-8" />
    {% include 'templates/favicon.html' %}
    {% include 'templates/global.css.html' %}
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/standard.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/achats.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/dialogbox.css" />
</head>
<body>
  {% include 'templates/widget_back_menu.html' %}
  <div id="ecran-blanc" class="invisible"></div>
  <div id="commandes">
    <button id="btverifier" type="button" class="btcommande" disabled onclick="verification()">Vérifier</button>
    <button id="btoptions" type="button" class="btcommande" onclick="choixOptions()">Changer les options</button>
  </div>
  <div id="zone-action">
    <div id="zone-gauche">
      <div id="consigne">
        <div class="consigne titre-consigne">Consignes</div>
        <div class="consigne">Place pièces et billets sur le comptoir afin de payer le prix de l'objet.*<br/><span id="pc" class="invisible">Pièces ou billets peuvent être enlevés du comptoir par un clic droit.</span><span id="tactile" class="invisible">Les valeurs peuvent être enlevés du comptoir par un appui long ou par glissé inverse.</span><br/><span class="renvoi">*pièces ou billets peuvent être utilisés plusieurs fois.</span></div>
        </div>
      <div id="reserve"></div>
    </div>
    <div id="zone-droite">
      <div id="zone-objets">
        <div id="nom-objet"></div>
        <div id="image-objet"></div>
        <div id="prix-objet">
          <div id="montant"></div>
        </div>
      </div>
      <div id="receptacle" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
  </div>
  <div id="choix-niveau" class="invisible">
    <div id="formulaire">
      <form name="form-niveau" id="form-niveau" action="index.html" onsubmit="lanceExercice(event);">
        <p class="titre">Choisis un exercice:</p>
        <p><input type="radio" name="type-exo" value="objets" id="exo1" checked /> <label for="exo1">Acheter des objets.</label></p>
        <p><input type="radio" name="type-exo" value="montants" id="exo2" /> <label for="exo2">Payer un montant donné.</label></p>
        <p class="titre">Choisis un niveau de difficulté :</p>
        <p><input type="radio" name="niveau" value="0" id="niveau1" checked /> <label for="niveau1">Prix ronds en euros</label></p>
        <p><input type="radio" name="niveau" value="1" id="niveau2" /> <label for="niveau2">Prix en euros et centimes.</label></p>
        <p class="titre">Choisis une option :</p>
        <p><input type="radio" name="option" value="option1" id="option1" checked /> <label for="option1">Usage libre des pièces et billets.</label></p>
        <p><input type="radio" name="option" value="option2" id="option2" /> <label for="option2">Utiliser le minimum de pièces et billets.</label></p>
        <p class="centre"><button id="btok" type="submit" class="btcommande">Valider</button></p>
      </form>
    </div>
  </div>

  {% include 'templates/global.js.html' %}
  <script src="static/js/dialogbox.js" type="text/javascript"></script>
  <script src="static/js/donnees.js" type="text/javascript"></script>
  <script src="static/js/achats.js" type="text/javascript"></script>
</body>
</html>
