@font-face {
  font-family: 'crayoneregular';
  src: url('fonts/crayone-webfont.eot');
  src: url('fonts/crayone-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/crayone-webfont.woff2') format('woff2'),
       url('fonts/crayone-webfont.woff') format('woff'),
       url('fonts/crayone-webfont.ttf') format('truetype'),
       url('fonts/crayone-webfont.svg#crayoneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  background-color: #395f46;
  -webkit-user-select: none;
}

form button {
  margin-top: 1vh;
}

#ecran-blanc{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fefefe;
  opacity: 0.5;
  z-index: 9999;
}

#zone-lettres {
  margin-top: 6rem;
  height: 33%;
  background-color: #FAE8B7;
  border-color: #8c93a8;;
  border-style: solid;
  border-top-width: 10px;
  border-left-width: 10px;
  border-bottom-width: 10px;
  border-right-width: 10px;
}

#centre {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

#zone-action {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 85%;
}

#zone-exercice {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
  margin: auto;
}

#zone-affichage {
  display: flex;
  height: 50%;
  width: 100%;
  color: white;
}

#mot-reference {
  font-size: 5vw;
  letter-spacing: 3.5vw;
  margin: auto;
}

#zone-mots {
  position: relative;
  width: 15%;
  padding-top: 1%;
}

#liste-mots {
  width: 75%;
  height: 80%;
}

#zone-mots label {
  color: white;
}

#zone-commandes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
}

.bottom {
    position: fixed;
    bottom: .5rem;
    width: 100%;
}

#ligne1, #ligne2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-bottom: .5rem;
}

#consigne {
  color: white;
  margin: auto;
  text-align: center;
}

#selection-mot {
  height: 100%;
}

#options {
  z-index: 99999;
  height: 50%;
  width: 50%;
  position: fixed;
  left: 35%;
  top: 25%;
  justify-content: center;
  align-items: center;
}

#formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  border: solid black 1px;
  background-color: #dedede;
  padding: 0 2% 2% 2%;
}

.bouton {
  font-size: 2vmin;
}

.lettre {
  display: inline-block;
  padding: 5px 1% 0 1%;
  margin-left: 1%;
  margin-top: 1%;
  /* height: 12vmin; */
  height: 9vmin;
  font-size: 7vmin;
  font-weight: bold;
  box-sizing: border-box;
  border: solid black 1px;
  background-color: #B8FDB8;
  cursor: grab;
}

.cursive {
  font-family: 'crayoneregular';
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

#mot-reference.cursive {
  letter-spacing: normal;
}

.etiquette {
  display: flex;
  border: solid black 1px;
  margin-right: 2.5vw;
  margin-top: auto;
  margin-bottom: auto;
  height: 90%;
  max-height: 8vw;
  width: 6vw;
  background-color: coral;
}

#zone-exercice .lettre {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 7vmin;
  font-weight: bold;
  height: 100%;
  max-height: none;
  opacity: 0.8;
}

.info {
  font-size: 2vmin;
}

@media (max-aspect-ratio: 6/5) {

  #centre {
    flex-direction: column;
  }

  #zone-action {
    width: 100%;
    height: 60%;
  }

  #zone-mots {
    height: 40%;
    width: 100%;
  }

  #liste-mots {
    width: 60%;
    height: 80%;
  }

  #zone-commandes {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #ligne1, #ligne2 {
    width: 50%;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
  #zone-exercice .lettre {
    font-size: 5vmin;
  }
}

@media screen and (max-aspect-ratio: 15/22) {
  #zone-exercice .lettre {
    font-size: 4vmin;
  }
}

@media screen and (max-aspect-ratio: 25/22) {
  .lettre{
    height: 10vmin;
    font-size: 6vmin;
  }
}

@media screen and (min-aspect-ratio: 9/5) {
  #zone-exercice .lettre {
    font-size: 9vmin;
  }
}


@media screen and (max-height: 480px) {
  #zone-lettres {
    border-top-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
  }
  #zone-commandes {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #ligne1, #ligne2 {
    width: auto;
    padding-right: 1%;
  }
}
