body {margin-top:10px; background-color:#E3F0CE; background-image:url(fond_jmp.png); background-size:cover; background-attachment:fixed; background-position:center; background-repeat:no-repeat;}
.avertissement_navigateur {border:2px solid #9C5B30; background-color:#EDEDED; padding:10px; margin:20px auto 0 auto; width:70%;}
#modale_info .modal-body h4 {color:blue; font-weight:bold;}
h2 {background:#3F9BE0; color:#FFF; font-size:20px; margin:0; padding:3px 10px; cursor:pointer;}
h2:hover {background:#1F7ABE;}
h2 span {font-size:14px;}
audio {width:100%;}
.faux_lien {text-decoration:none; color:#337AB7; cursor:pointer;}

.image_bt img {margin:5px; cursor:pointer; opacity:0.9; border-radius:5px; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: box-shadow, transform; transition-property: box-shadow, transform;}
.image_bt img:hover, .acces_module > div > img:focus, .acces_module > div > img:active {opacity:1; box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); -webkit-transform: scale(1.1); transform: scale(1.1);}

.accueil_pave_documentation h3 {background:#64D9E8; cursor:pointer; margin:20px 0 10px 0; padding:2px 10px;}
.accueil_pave_documentation h3:hover {background:#1FB8CD;}
.accueil_pave_documentation h4 {color:#D52076; font-weight:bold; font-size:18px; margin:15px 0 10px 0;}
.accueil_pave_documentation h4:before {content:url(img/icone_doigt_16.png)}
.accueil_pave_documentation h5, #modale_info_editeur_cartable h5, #modale_info_editeur_mot h5 {color:#304FE0; font-weight:bold; font-size:16px;}
.accueil_pave_documentation p {padding:0; margin:0 0 5px 0;}
.intro_doc {color:#00A88E; font-weight:bold;}


.logo_acc {width:128px; height:128px; float:left;}
.ecran_decouvrir .logo_acc, .ecran_sentrainer .logo_acc, .ecran_sentrainer1 .logo_acc, .ecran_sentrainer2 .logo_acc, .ecran_sentrainer1_ecoute .logo_acc, .ecran_sentrainer1_lis .logo_acc, .ecran_editer .logo_acc, .ecran_imprimer .logo_acc, .ecran_imp_cartes .logo_acc {width:64px; height:64px;}
.bandeau_haut {margin:0 80px 10px 150px;}
.ecran_imp_cartes .bandeau_haut {margin:0 80px 10px 80px;}
.bandeau_haut h4 {color:#C06A28; font-style:italic; font-size:20px;}
.titre_haut {font-size:50px; color:#C06A28;}
ul.li_left {margin:0; padding:0;}
.li_left li {list-style:none; float:left; margin:0 10px 10px 0;}/* attention, appliquer la classe au ul ou div parent*/
.choix_langue img {width:32px; height:22px;}
.choix_activite img {width:32px; height:32px;}
#onglet_decouvrir > ul img {width:48px; height:48px;}
#onglet_decouvrir .li_left li {background:white; border-radius:5px; border:1px solid #808080; cursor:pointer; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;}
#onglet_decouvrir .li_left li:hover {transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2);}
#onglet_decouvrir .li_left li img {width:64px; height:64px; background:white; margin:2px;}
#onglet_decouvrir .zone_question {font-size:20px; margin-bottom:10px; min-height:40px;}
#onglet_decouvrir .laquestion {margin-left:50px; font-weight:bold;}
#onglet_decouvrir .lareponse {margin-left:50px; color:red; font-style:italic;}
#onglet_decouvrir .ecouter_question {float:left;}
.carte_active {
	-moz-box-shadow: 0px 0px 5px 0px #FF0000;
	-webkit-box-shadow: 0px 0px 5px 0px #FF0000;
	-o-box-shadow: 0px 0px 5px 5px #FF0000;
	box-shadow: 0px 0px 5px 5px #FF0000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#FF0000, Direction=NaN, Strength=5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.mosaique {background:#FFF;}
.ecran_sentrainer2 .mosaique td {border:5px solid blue; padding:2px; text-align:center;}
.ecran_sentrainer2 .mosaique img {width:64px; height:64px;}
.mosaique img.abs {opacity:0.2;}
.mosaique img.active {opacity:1; cursor:pointer; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;}
.mosaique img.active:hover {transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2);}

.onglet_choix_content ul > li, .onglet_choix_imp_content ul > li {background:#FFF; padding:5px; border-radius:5px; cursor:pointer; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;}
.onglet_choix_content ul > li:hover, .onglet_choix_imp_content ul > li:hover {transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2);}

.pave_sel_act {margin-bottom:10px;}
.pave_sel_act {
	cursor:pointer; margin:0 8px 8px 0; padding:6px 10px; background:#B7D9E3; opacity:0.7;
	-moz-box-shadow: 4px 4px 4px 0px #656565; -webkit-box-shadow: 4px 4px 4px 0px #656565; -o-box-shadow: 4px 4px 4px 0px #656565;
	box-shadow: 4px 4px 4px 0px #656565; filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=4);
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
}
.pave_sel_act.on {
	-moz-box-shadow: inset 4px 4px 4px 0px #656565; -webkit-box-shadow: inset 4px 4px 4px 0px #656565; -o-box-shadow: inset 4px 4px 4px 0px #656565;
	box-shadow: inset 4px 4px 4px 0px #656565; filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=4);
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	background:#CCE4EC; color:#000; font-weight:bold; opacity:1;
}
.pave_sel_act:hover {background:#CCE4EC; color:#000;}


.pave_sel_act > img {float:left; width:64px; height:64px;}
.pave_sel_act_quest {margin-left:74px; overflow:hidden; height:64px;}
.pave_sel_act_quest > img {float:right; margin:0 0 5px 5px;}

.pave_bts_joueurs {text-align:center; margin-top:10px;}
.pave_bts_joueurs button {margin:5px;}
.pave_joueurs {margin-bottom:10px;}
.nom_j {margin-right:35px; height:24px; overflow:hidden; padding-top:2px;}
.score_j {float:right; width:30px; font-size:110%; text-align:right; cursor:help; font-weight:bold;}
.pave_j {border:5px solid #ABD26A; border-radius:10px; padding:2px 5px;}
.pave_j.on {border:5px solid yellow; font-weight:bold;}
.pave_j1 {background:blue; color:#FFF;}
.pave_j2 {background:red; color:#FFF;}
.pave_j3 {background:black; color:#FFF;}
.pave_j4 {background:green; color:#FFF;}

.bt_oeil_sent {float:right; margin-right:15px;}
.pave_num_quest {margin-right:55px; font-size:20px; font-weight:bold; color:#947E75;}
.sent_droit, .sent_desc_personnage {margin-left:250px; margin-top:20px; background:#C7E19B; padding:5px;}
.reponses_proposees > div {position:relative;}
.bt_ecouter_question, .reponses_proposees .bt_ecouter_rep {position:absolute; left:0; top:0;}
.sent_quest {position:relative; min-height:32px; margin-bottom:10px;}
.sent_question {margin-left:40px; font-weight:bold; font-size:22px;}
.sent_rep {position:relative; min-height:133px;}
.sent_rep > div {position:relative; min-height:32px; margin-bottom:10px; margin-left:140px;}
.sent_rep_img {position:absolute; left:0; top:0; wdth:128px; height:128px; background:#FFF;}
.sent_reponse {margin:0 0 10px 40px; font-weight:bold; background:#EAF0F2; min-height:32px; border: -1px -1px 2px white; padding:5px 10px; border-radius: 10px; box-shadow:2px 2px 2px gray; cursor:pointer;}
.sent_reponse:hover {box-shadow:2px 2px 2px gray inset; -moz-box-shadow:2px 2px 2px gray inset; -webkit-box-shadow:2px 2px 2px gray inset; border: -1px -1px 2px white;}

.nb_quest_partie {cursor:pointer; text-decoration:underline;}
.nb_quest_partie:hover {text-decoration:none;}
.changer_nb_q_partie {position:absolute; top:30px; left:0px; background:#F9F8F7; width:330px; border:1px solid #847464; border-radius:10px; padding:10px; z-index:10;}

.sent_desc_personnage {position:relative; min-height:138px;}
.sent_desc_personnage span {font-size:18px; cursor:pointer;}
.sent_desc_personnage span:hover {text-decoration:underline;}
.texte_et_bt {margin-left:140px;}
.aff_personnage_decouvert {position:absolute; left:5px; top:5px; wdth:128px; height:128px; background:#FFF;}

.mosaique .anim_mosaique_debut {
	width: 5px;
	height: 5px;
}
.mosaique .anim_mosaique_fin {
	width: 64px;
	height: 64px;
	/* background:#B7FFB7; */
	/* border-radius: 50%;  on arrondit l'image */
	/* -webkit-filter: grayscale(0) blur(0px); */
	/* filter: grayscale(0) blur(0px); */
	-webkit-transition: all 3s ease;
	transition: all 3s ease;
	-webkit-transform: rotate(720deg);
	transform: rotate(720deg);
}

.sentrainer0 .ombre_autour_5 {padding:5px; background:#FFF;}
.sent1 {margin:20px 5px; background:#C7E19B; padding-top:10px;}
.sent1 img.img-responsive {background:#FFF; cursor:pointer;}
.sent1 img.erreur {background:#FF9393; cursor:default;}
.sent1 > div {margin-bottom:10px;}
.question_lis_ecoute {margin-left:200px;}
.pave_num_reponse {font-size:20px; font-weight:bold; color:#947E75;}
.question_lis_ecoute {font-size:20px; font-weight:bold; color:red;}

.editer_zone_gpes {background:#DFB595; border:1px sold #865028; border-radius:5px; padding: 5px 5px 0 5px;}
.editer_zone_param {background:#F2F8E9; border:1px solid #537324; margin-top:10px; border-radius:5px; padding:5px;}
.editer_zone_boutons {margin-top:10px;}
.zone_edition {margin-top:10px;}
.personnage_edite {margin-bottom:10px; padding:5px; background:#C7E19B;}
.ecran_editer .mosaique {float:left;}
.ecran_editer .mosaique img {}
.ecran_editer .mosaique td {border:2px solid blue; padding:2px; text-align:center;}
.ecran_editer .mosaique img {width:40px; height:40px; cursor:pointer; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;}
.ecran_editer .mosaique img:hover {transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2);}

.numero_et_image {width:120px; background:#D6E9B6; text-align:center; margin-left:10px; float:left; border:1px solid grey;}
.numero_et_image img {width:96px; height:96px; margin:10px 0;}
.desc_perso {margin-left:284px; font-size:18px;}
/* .edition_choisir_reponse img {width:64px; height:64px; margin:5px; cursor:pointer; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;} */
/* .edition_choisir_reponse img:hover {transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2);} */
.edition_choisir_reponse img {width:64px; height:64px; background:#FFF; margin:5px; cursor:pointer;}
.code_a_copier {background:#FFF; border:1px solid grey; padding:10px; color:#6F6F6F;}

.ec_imp_tous > div {background:#FFF; padding:10px; margin-bottom:20px;}
.table_liste {width:100%;}
.table_liste > tbody > tr > td {vertical-align:middle; border-bottom:1px solid grey; border-top:1px solid grey; padding:0; margin:0;}
.table_liste .numero {font-weight:bold; width:40px; font-size:20px; text-align:center; color:grey;}
.table_liste .picto {width:50px; height:50px;}
.table_liste .picto img {width:40px; height:40px;}
.table_liste .desc_imp {color:blue;}
.sautdepageavant {page-break-before: always;}
.pasdesautdepage {page-break-inside:avoid;}
.bt_avecousanspicto, .bt_avecousanstexte {margin-left:10px;}
.ec_imp_listedesreponses h4 img {width:40px; height:40px;}
.ec_imp_cartesdesquestions table > tbody > tr > td {position:relative; width:190px; height:190px;}
.ec_imp_grilledesquestions table > tbody > tr > td {position:relative; width:210px; height:210px;}
.taille_carte {width:200px; height:200px; margin:5px;}
.table_pointille {}
.table_pointille > tbody > tr > td {vertical-align:middle; border:1px dashed grey; padding:0; margin:0;}
.table_solid > tbody > tr > td {vertical-align:middle; border:3px solid blue; padding:0; margin:0;}
.icon_image {position:absolute; top:10px; left:10px; width:100px; height:100px;}
.icon_num {position:absolute; top:10px; right:10px; width:32px; height:32px;}
.texte_carte {position:absolute; bottom:10px; left:10px; width:168px; height:60px; border:1px solid blue; border-radius:5px; font-size:12px; padding:5px; overflow:hidden;}
.ec_imp_grilledesquestions .texte_carte {width:188px;}
.ec_imp_tous > .choix_serie_imp {background:none; padding:0;}
table.grille_personnage > tbody > tr > td {position:relative; width:190px; height:190px;}
.menu_questions > img {width:48px; height:48px; border:3px solid #DADADA; margin:3px; border-radius:5px;}
.menu_questions > img.on {width:48px; height:48px; border:3px solid red;}
.menu_questions > .car_taille {float:right; width:120px; text-align:right;}
.menu_questions > .car_taille img {margin-left:5px; border-bottom:5px solid transparent;}
.menu_questions > .car_taille img.on {border-bottom:5px solid red;}
.quest_toutes.taille_1 img {width:64px; height:64px; margin:5px; border:1px solid grey; border-radius:5px;}
.quest_toutes.taille_2 img {width:128px; height:128px; margin:10px; border:2px solid grey; border-radius:10px;}
.quest_toutes.taille_3 img {width:640px; height:640px; margin-bottom:50px; border:5px solid grey; border-radius:25px;}

.letiquette {border:1px dashed grey; width:294px; padding:10px; margin-bottom:10px;}
.letiquette h4 {margin:0 0 10px 0; padding:0;}
.etiq_personnage {margin-bottom:10px; padding:5px; background:#C7E19B;}
.etiq_mosaique {float:left;}
.etiq_mosaique img {width:40px; height:40px;}
.etiq_mosaique td {border:2px solid blue; padding:2px; text-align:center;}
.etiq_numero_et_image {width:120px; background:#D6E9B6; text-align:center; margin-left:10px; float:left; border:1px solid grey;}
.etiq_numero_et_image img {width:96px; height:96px; margin:10px 0;}
.ec_imp_cartesdespersonnages > .carte_pers_imp {background:none; padding:0;}
.page_imp_personnage {margin-bottom:10px; background:#FFF; padding:5px;}
.page_imp_personnage > p {color:blue;}
.ec_imp_cartesdesquestions > div, .ec_imp_cartesdesquestions > div {color:blue;}
.icon_picto {position:absolute; right:10px; top:50px; width:40px; height:40px;}
.infos_yc {color:grey; font-style:italic; font-size:90%;}
.ec_imp_regledujeudecartes > div h4 {color:blue;}


.contenu_doc {padding:10px; background:#FFF; margin-bottom:20px;}

.ombre_autour {
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
.ombre_autour_5 {
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.ombre_autour_15 {
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.ombre_cote {
	-moz-box-shadow: 1px 1px 5px 0px #656565;
	-webkit-box-shadow: 1px 1px 5px 0px #656565;
	-o-box-shadow: 1px 1px 5px 0px #656565;
	box-shadow: 1px 1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.ombre_cote:hover {
	-moz-box-shadow: -1px -1px 5px 0px #656565;
	-webkit-box-shadow: -1px -1px 5px 0px #656565;
	-o-box-shadow: -1px -1px 5px 0px #656565;
	box-shadow: -1px -1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=315, Strength=5);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.ombre_cote_5 {
	-moz-box-shadow: 1px 1px 5px 0px #656565;
	-webkit-box-shadow: 1px 1px 5px 0px #656565;
	-o-box-shadow: 1px 1px 5px 0px #656565;
	box-shadow: 1px 1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.ombre_cote_5:hover {
	-moz-box-shadow: -1px -1px 5px 0px #656565;
	-webkit-box-shadow: -1px -1px 5px 0px #656565;
	-o-box-shadow: -1px -1px 5px 0px #656565;
	box-shadow: -1px -1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=315, Strength=5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.ombre_cote_ss_hover {
	-moz-box-shadow: 1px 1px 5px 0px #656565;
	-webkit-box-shadow: 1px 1px 5px 0px #656565;
	-o-box-shadow: 1px 1px 5px 0px #656565;
	box-shadow: 1px 1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.bt_scale_05 {cursor:pointer; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;}
.bt_scale_05:hover {transform: scale(1.05); -webkit-transform: scale(1.05); -moz-transform: scale(1.05); -o-transform: scale(1.05);}
.bt_scale_1 {cursor:pointer; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;}
.bt_scale_1:hover {transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1);}
.bt_scale_2 {cursor:pointer; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;}
.bt_scale_2:hover {transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2);}
.bt_scale_3 {cursor:pointer; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;}
.bt_scale_3:hover {transform: scale(1.3); -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -o-transform: scale(1.3);}

/* Présentation des onglets */
.onglet_decouvrir_content, .onglet_choix_content, .onglet_choix_imp_content {background-color:#C4C9EA; padding:1em 0.5em 0.5em 0.5em; margin-bottom:20px; border-right:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD; border-left:1px solid #DDDDDD;}
.onglet_decouvrir > li , .onglet_decouvrir > li.active a, .onglet_choix > li , .onglet_choix > li.active a, .onglet_choix_imp > li , .onglet_choix_imp > li.active a {
	-moz-border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
	-webkit-border-top-left-radius: 10px 10px;
	-webkit-border-top-right-radius: 10px 10px;
	-webkit-border-bottom-right-radius: 0px 0px;
	-webkit-border-bottom-left-radius: 0px 0px;
	border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
	margin-right:5px;
}
.onglet_decouvrir > li, .onglet_choix > li, .onglet_choix_imp > li {background-color:#B69BE1; margin-top:0px;}
.onglet_decouvrir > li > a, .onglet_choix > li > a, .onglet_choix_imp > li > a {color:#000; padding:0.3em 0.5em; color:#FFF;}
.onglet_decouvrir > li.active > a, .onglet_decouvrir > li.active > a:focus, .onglet_choix > li.active > a, .onglet_choix > li.active > a:focus, .onglet_choix_imp > li.active > a, .onglet_choix_imp > li.active > a:focus {color:#000; font-weight:bold; background-color:#C4C9EA;}


/* Présentation des faux boutons */
.faux_bouton {
	list-style:none;  display: inline-block; cursor:pointer; margin:0 8px 8px 0; padding:6px 10px; background:#B7D9E3; text-align:center;
	-moz-box-shadow: 4px 4px 4px 0px #656565;
	-webkit-box-shadow: 4px 4px 4px 0px #656565;
	-o-box-shadow: 4px 4px 4px 0px #656565;
	box-shadow: 4px 4px 4px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.faux_bouton.on {
	-moz-box-shadow: inset 4px 4px 4px 0px #656565;
	-webkit-box-shadow: inset 4px 4px 4px 0px #656565;
	-o-box-shadow: inset 4px 4px 4px 0px #656565;
	box-shadow: inset 4px 4px 4px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:#CCE4EC; color:#000; font-weight:bold;
}
.faux_bouton:hover {background:#CCE4EC; color:#000;}


/* -------------------------------------------------------- */
/* Gestion du bouton de retour en haut de page              */
/* -------------------------------------------------------- */

/* Return on top */
#returnOnTop {
    background: url('img/return_on_top.png') no-repeat;
    bottom: 1%;
    cursor: pointer;
    display: none;
    filter: alpha(opacity = 50); /* IE < 8 */
    height: 48px;
    opacity: 0.5;
    position: fixed;
    right: 1%;
    width: 48px;
}

#returnOnTop:hover {
    filter: alpha(opacity = 100); /* IE < 8 */
    opacity: 1;
}


.impression_slt {display:none;} 
@media print {
.no_imprim {display:none;}
.impression_slt {display:block; color:blue; border-bottom: thick solid blue;}
}
