<!DOCTYPE html>
<html lang="fr">
    <head>
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">  
      <link href="style.css?version=COMMITHASH" rel="stylesheet" type="text/css">
      <link rel="icon" href="images/favicon.ico" sizes="any" />
    <title>Estimation</title>    
  </head>
    <body class="qcm">
{% include 'templates/widget_back_menu.html' %}

    <button id="bouton-menu" class='bouton-haut' onclick="visibiliteMenu('ouvre')"></button>
    <button id="bouton-stats" class='bouton-haut' onclick="visibiliteStats('ouvre')"></button>

    <div id="haut">
          <button id="bouton-graduation" class='bouton-haut' onclick="visibilite('premiere','transparent');active(this);aidePremiereGraduation=true;"></button>        
          <button id="bouton-bloc" class='bouton-haut' onclick="visibilite('bloc-unite');active(this);aideBlocUnite=true"></button>
          <button id="bouton-graduations" class='bouton-haut' onclick="visibilite('toutes','transparent');active(this);aideGraduations=true"></button>
    </div>
    <div id="milieu">
    <div id="zone-droite">
      <div id="droite">
        <div id="droite-debord"></div>
        <div id="debut" class="etiquette"></div>
        <div id="fin" class="etiquette"></div>
        <div id="erreur" class="etiquette hide"></div>
        <div id="mobile" style="left: 0%;"></div>
        <div id="etiquette-mobile" class="etiquette" style="left: 0%; background-color: #fff;"></div>
        <div id="bloc-unite" class="bloc-unite hide draggable"></div> 
        <div class="graduation premiere transparent" id="premiere-graduation"></div> 
      </div>
     </div>
      <div id="zone-reponse" class="hide modeclavier">
        <div id="reponse"><p id="nombre" style="background-color: #fff;"></p></div>
        <button id="ok" onclick="verifieReponse()">✅</button>    <button id="suivant" class="hide" onclick="exerciceSuivant()">Suivant</button>
        <p id="consigne">Écris le nombre représenté par la flèche avec le clavier ou les touches.</p>
      </div>
      <button id="suivantbis" class='transparent modeqcm' onclick="exerciceSuivant()">Suivant</button>
    </div>




    <div id="clavier" class="hide modeclavier">
      <button class="touche" onclick="entreNombre('1')">1</button>
      <button class="touche" onclick="entreNombre('2')">2</button>
      <button class="touche" onclick="entreNombre('3')">3</button>
      <button class="touche" onclick="entreNombre('4')">4</button>
      <button class="touche" onclick="entreNombre('5')">5</button>
      <button class="touche" onclick="entreNombre('6')">6</button>
      <button class="touche" onclick="entreNombre('7')">7</button>
      <button class="touche" onclick="entreNombre('8')">8</button>
      <button class="touche" onclick="entreNombre('9')">9</button>
      <button class="touche" onclick="entreNombre('0')">0</button>
      <button class="touche" id="efface" onclick="entreNombre('⌫')"></button>
      <button class="touche" id="valider" onclick="verifieReponse()"></button>
    </div>

    <div id="qcm" class="modeqcm">
      <button id="bouton-reponse-1" class="touche" onclick="verifieReponse(0)"></button>
      <button id="bouton-reponse-2" class="touche" onclick="verifieReponse(1)"></button>
      <button id="bouton-reponse-3" class="touche" onclick="verifieReponse(2)"></button>
      <button id="bouton-reponse-4" class="touche" onclick="verifieReponse(3)"></button>
      <button id="bouton-reponse-5" class="touche" onclick="verifieReponse(4)"></button>
      <button id="bouton-reponse-6" class="touche" onclick="verifieReponse(5)"></button>

    </div>

    <div id="menu" style="left: -415px;">
      <button id="bouton-ferme-menu" onclick="visibiliteMenu('ferme')">Fermer</button>
      <p id="titre-options">Options</p>
      <div class="section">
        <p class="titre">Valeurs des extrémités</p>
        <div id="droite-menu">
          <input type='number' id="choix-a" name="choix-a" value=0 step=1 class="choix-nombre" onchange="maj(choixA)" onblur="verifieValeurA()">
          <input type='number' id="choix-b" name="choix-b" value=10 step=1 class="choix-nombre" onchange="maj(choixB)" onblur="verifieValeurB()">
          <form id="choix-verr-a"  class="choix-lock" onchange="changelockA()">
            <input type='radio' id="a1" name="choix-verr-a">
            <label for="choix-verr-a">Min</label><br>
            <input type='radio' id="a2" name="choix-verr-a">
            <label for="choix-verr-a">Fixe</label><br>
          </form>
          <form id="choix-verr-b" class="choix-lock" onchange="changelockB()">
            <input type='radio' id="b1" name="choix-verr-b">
            <label for="choix-verr-b">Max</label><br>
            <input type='radio' id="b2" name="choix-verr-b">
            <label for="choix-verr-b">Fixe</label><br>
          </form>        
        </div>
      </div>
      <div class="section">
        <p class="titre">Mode de réponse</p>
        <form id="choix-mode-reponse">
          <input type='radio' id="boutonclavier" name="mode" value="clavier" onchange="changeMode(this.value)">
          <label for="boutonclavier">clavier</label><br>
          
          <input type='radio' id="boutonqcm" name="mode" value="qcm" onchange="changeMode(this.value)">
          <label for="boutonqcm">QCM</label>
        </form>
        
      </div>
      <button id="info" onclick="ouvre(divApropos)">À propos de cette application ...</button>

    </div>

    <div id="stats" style="right: -415px;">
      <button id="bouton-ferme-stats" onclick="visibiliteStats('ferme')">Fermer</button>
      <button id="bouton-effacer-stats" onclick="effaceStats()">Effacer</button>

      <p id="titre-stats">Activité</p>
      <div class="section" id="reussite">
      Réussite : <span id="taux-reussite"></span>
      </div>
      <div class="section" id="resultats"></div>
    </div>



    <div id="darkbox" class="hide"></div>

    <div id="apropos" class="lightbox hide">
      <button class="bouton-fermer" onclick="ferme(divApropos)"></button>
      <h1>À propos</h1> <!-- Le  titre -->
      
      <div class="contenu-lightbox"> <!-- Le  contenu -->
            
        <ul>Estimation est une application sous licence libre, de la <a class="cartouche" style="background-image: url(images/educajou.png);" href="https://educajou.forge.apps.education.fr/">suite Éducajou</a>.</ul> 
        
        <h2>Utiliser hors-ligne</h2>
            <ul>Télécharger l'application <a class="cartouche" style="background-image: url(images/zip.png);" href="https://forge.apps.education.fr/educajou/estimation/-/archive/main/estimation-main.zip">estimation-main.zip</a></ul> 
            <ul>Extraire le ZIP</ul>
            <ul>Ouvrir le fichier index.html</ul>


        <h2>En savoir plus et accéder aux sources</h2>
            <ul>Voir <a class="cartouche" style="background-image: url(images/forge.png);" href="https://forge.apps.education.fr/educajou/estimation">la page du projet</a> sur la Forge des Communs Numériques Éducatifs.</ul> 

                 
        <h2>Signaler un bug ou suggérer une amélioration</h2>
            <ul>Pour contribuer, vous pouvez ajouter <a href="https://forge.apps.education.fr/educajou/estimation/-/issues">un ticket</a>.</ul> 
          </p>   
    </div>
    

      <script src="script.js?version=COMMITHASH"></script> 
   
    {% include 'templates/global.js.html' %}
</body>
</html>