@font-face {
    font-family: Luciole;
    src: url("../fonts/Luciole-Regular.ttf") format("truetype"),
         url("../fonts/Luciole-Regular.woff2") format("woff");
}

html {
    font-size: 14px !important;
}

body {
    font-family: Luciole;
    line-height: 1.15 !important;
}

.c-back-to-menu {
    top: .5rem;
    left: .5rem;
    display: block;
    width: 3rem;
    height: 3rem;
    font-family: 'Luciole';
    font-size: 3rem;
    background-color: #262E42;
    color: white;
    margin: .5rem;
    padding: .5rem;
    position: fixed;
    z-index: 10000;
    box-sizing: content-box;
    cursor: pointer;
    border: none;
}
.c-back-to-home {
    top: .5rem;
    right: .5rem;
    display: block;
    width: 3rem;
    height: 3rem;
    font-family: 'Luciole';
    font-size: 3rem;
    background-color: #262E42;
    color: white;
    margin: .5rem;
    padding: .5rem;
    position: fixed;
    z-index: 10000;
    box-sizing: content-box;
    cursor: pointer;
    border: none;
}
