@font-face {
    font-family: 'Romain';
    src: url(polices/EcritureA-Romain.otf)
}


html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


body {
    background: linear-gradient(to bottom, #9bbbff, #ffffff); /* Dégradé du bleu clair vers le blanc */
    display: flex;
    flex-direction: row;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    margin: 0; /* Enlève les marges par défaut du body */
}

body.prof {
    background: #ffffff;
}

#gauche {
    flex: 1;
    display: flex;
    flex-direction: column;
}



#haut {
    height: 80px;
    background-color: #2c3e50; /* Couleur de fond sombre et moderne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre portée */
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
}

body.sansheader #haut {
    display: none;
}

#titre {
    font-family: Romain;
    font-size: 64px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;

}

#logo {
    height: 70px;
    margin-right: 10px;
}


#bas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #2c3e50; /* Couleur de fond sombre et moderne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre portée */
    position: relative;
    color: #ffffff;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.cartouche {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}


#bouton-infos {
    position: absolute;
    bottom: 10px;
    left: 5px;
    height: 60px;
    width: 60px;
    background-image: url(images/question.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
}

input[type="number"] {
    width: 1.2em;
    display: inline-block;
    font-family: Romain;
    font-weight: bold;
    text-align: center;
    font-size: 64px;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 5px;
    vertical-align: middle;
}

#panneau input[type="number"] {
    width: 1.2em;
    display: inline-block;
    font-family: Romain;
    font-weight: bold;
    text-align: center;
    font-size: 54px;
    line-height: 40px;
    height: 40px;
    margin-bottom: 3px;
    vertical-align: middle;
    border-radius: 5px;
    vertical-align: middle;
}

input[type="range"] {
    vertical-align: middle;
    width: 120px;
}

.nombre {
    display: inline-block;
    font-family: Romain;
    font-weight: bold;
    text-align: center;
    font-size: 64px;
    line-height: 40px;
    height: 40px;
    min-width: 40px;
    color: #000000;
    background: #ffffff;
    border-radius: 50%;
    padding: 1px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

#resultat {
    min-width: 60px;
    height: 60px;
    line-height: 60px;
}

#milieu {
    flex: 1; /* Prend l'espace restant entre le haut et le bas */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    font-size: 0px;;
}

.bouton-replier {
    position: absolute;
    background-image: url(images/fleche.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}

#bouton-replier-droite {
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
}

body.sanspanneau #bouton-replier-droite {
    transform: translateY(-50%) rotate(180deg);
}

#bouton-replier-haut {
    top: 3px;
    right: 50px;
    transform: translateX(-50%) rotate(270deg);
}

body.sansheader #bouton-replier-haut {
    transform: translateX(-50%) rotate(90deg);
}

#contenu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#panneau {
    height: 100%;
    background-color: #2c3e50; /* Couleur de fond sombre et moderne */
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: #ffffff 3px solid;
    overflow-y: auto;
}

body.sanspanneau #panneau {display: none;}

#panneau h2 {
    text-align: center;
}

.section {
    padding: 10px;
}

.section p {
    margin: 0px;
}

.intitule {
    display: inline-block;    
    padding-right: 0.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: right;
    vertical-align: middle;
}

#gestion-hasard .intitule {
    width: 1.8em;
}

#gestion-flou .intitule {
    width: 4.2em;
}


#bouton-hasard {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 60px;
    font-size: 24px;
    padding: 5px 5px 5px 32px;    
    background-image: url(images/hasard.svg);
    background-size: 25px;
    background-position: 2px center;
    background-repeat: no-repeat;
    border-radius: 5px;

}

#multiplication {
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px;
    left: 25px;
}

#representation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#flou {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(10px);
    z-index: 10;
}

#dessus {
    position: absolute;
    width: 100%;
    bottom : calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-size: 100% 10px;
    background-position: center;    
}

#dessus .nombre, #cote .nombre {
    z-index: 10;
}

#barre-dessus {
    position: absolute;
    width: calc(100% - 60px);
    height: 10px;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    background: var(--couleur-fleches);
}

#dessus::before {
    content: '';
    position: absolute;
    left: 0px; /* Ajustez pour la position de la flèche */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Ajustement pour le centrage vertical */
    width: 0;
    height: 0;
    border-top: 15px solid transparent; /* Taille de la flèche */
    border-bottom: 15px solid transparent;
    border-right: 30px solid var(--couleur-fleches); /* Couleur de la flèche */
}

#dessus::after {
    content: '';
    position: absolute;
    right: 0px; /* Ajustez pour la position de la flèche */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Ajustement pour le centrage vertical */
    width: 0;
    height: 0;
    border-top: 15px solid transparent; /* Taille de la flèche */
    border-bottom: 15px solid transparent;
    border-left: 30px solid var(--couleur-fleches); /* Couleur de la flèche */
}

#cote {
    position: absolute;
    height: 100%;
    right : calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;   
}


#dessus .nombre {
    z-index: 10;
}

#barre-cote {
    position: absolute;
    height: calc(100% - 60px);
    width: 10px;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    background: var(--couleur-fleches);
}

#cote::before {
    content: '';
    position: absolute;
    top: 0px; /* Ajustez pour la position de la flèche */
    left: 50%; /* Centrer verticalement */
    transform: translateX(-50%); /* Ajustement pour le centrage vertical */
    width: 0;
    height: 0;
    border-left: 15px solid transparent; /* Taille de la flèche */
    border-right: 15px solid transparent;
    border-bottom: 30px solid var(--couleur-fleches); /* Couleur de la flèche */
}

#cote::after {
    content: '';
    position: absolute;
    bottom: 0px; /* Ajustez pour la position de la flèche */
    left: 50%; /* Centrer verticalement */
    transform: translateX(-50%); /* Ajustement pour le centrage vertical */
    width: 0;
    height: 0;
    border-left: 15px solid transparent; /* Taille de la flèche */
    border-right: 15px solid transparent;
    border-top: 30px solid var(--couleur-fleches); /* Couleur de la flèche */
}

.chocolat #colonnes {
    display: none;
}

body.colonne .chocolat #colonnes {
    display: block;
}

.chocolat #ensemble, .chocolat #ensemble-couleurs, .chocolat #separations, .chocolat #colonnes {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-chocolat);
}

#colonnes {
    z-index: 10;
}

body.colonne div.colonne {
    display: inline-block;
    background-color: #ffffff;
    opacity: 0;
    height: 100%;
    transition: opacity 0.2s ease;
}

body.colonne div.colonne:hover {
    opacity: 0.5;
}

.chocolat .separation {
    position: absolute;
    background-color: red;
    z-index: 15;
}

.separation.horizontale {
    height: 3px;
    width: 100%;
    transform: translateY(-2px);
}

.separation.verticale {
    width: 3px;
    height: 100%;
    transform: translateX(-2px);
}

.chocolat #ensemble {
    z-index: 12;
}

.chocolat #conteneur-papier {
    display: block;
    position: absolute;
    z-index: 14;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-chocolat);
}

.chocolat #papier {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.chocolat #ombre-papier {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    box-shadow: var(--largeur-ombre-negative) var(--largeur-ombre-negative) var(--largeur-ombre) #000000b4 inset;
}


.chocolat #ensemble-couleurs {
    z-index: 13;
    display: flex;
    flex-direction: column;
    font-size: 0px;
    margin: 0;
    padding: 0;
}

.rangee-ensemble-couleurs {
    display: flex;
    flex-direction: row;
}

.chocolat .zone-couleur {
    display: inline-block;
    position: relative;
    height: 100%;
}

.chocolat #ensemble, .chocolat .zone-couleur{    
    background: linear-gradient(145deg, #7a4a02, #4e2c01);
    box-shadow: 
        -5px -5px 5px #000000b4 inset, 
        5px 5px 5px rgba(255, 255, 255, 0.3) inset;    
}

.chocolat #ensemble::before, .chocolat .zone-couleur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0.02) 2px,
        transparent 2px,
        transparent 4px
    );
    opacity: 0.1;
    pointer-events: none;
}

.chocolat #ensemble::after, .chocolat .zone-couleur::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.1), transparent);
    border-radius: var(--border-radius-chocolat);
    pointer-events: none;
}


.rangee {
    display: flex;
    transition: filter 0.1s linear;
}

body.ligne .rangee:hover {
    filter: brightness(200%);    
}



.chocolat .rangee {
    position: relative;
}

.chocolat .rangee::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-chocolat);
    background: #4e2c01;
}

body.couleursX .chocolat .rangee::before {
    background: #ffffff;
}

body.simple .rangee::before {
    display: none !important;
}


.chocolat .rangee.premiere::before {
    top: 5px;
    height: calc(100% - 5px);   
}

.chocolat .rangee.derniere::before {
    bottom: 5px;
    height: calc(100% - 5px);   
}


:root {
    --nombre-max-carreaux: 10;
    --couleur-fleches: #866d6d85;
    --largeur-carreau: 80px;
    --filtre-xx-impair: hue-rotate(90deg) brightness(1.8) saturate(2);
    --filtre-xx-pair: hue-rotate(90deg) brightness(1.2) saturate(2);
    --filtre-xy-impair: hue-rotate(300deg) brightness(1.5) saturate(2);
    --filtre-xy-pair: hue-rotate(300deg) brightness(1) saturate(2);
    --filtre-yx-impair: hue-rotate(150deg) brightness(1.8) saturate(2);
    --filtre-yx-pair: hue-rotate(150deg) brightness(1.3) saturate(2);
    --filtre-yy: hue-rotate(30deg) brightness(2.5) saturate(2);
    --largeur-ombre: 5px;
    --largeur-ombre-negative: -5px;
    --border-radius-chocolat: 5px;
}

#xx { filter: var(--filtre-xx-impair);}
body:not(.couleursX) #xx {width: 100% !important;}
#xy { filter: var(--filtre-xy-impair);}
#yx { filter: var(--filtre-yx-impair);}
body:not(.couleursX) #yx {width: 100% !important;}
#yy { filter: var(--filtre-yy);}
body:not(.couleursY) #rangee1 {height: 100% !important;}


.carreau {
    display: inline-block;
    width: var(--largeur-carreau);
    height: var(--largeur-carreau);
}

.chocolat .carreau {
    background: linear-gradient(145deg, #7a4a02, #4e2c01);
    box-shadow: 
        var(--largeur-ombre-negative) var(--largeur-ombre-negative) var(--largeur-ombre) #000000b4 inset, 
        var(--largeur-ombre)  var(--largeur-ombre)  var(--largeur-ombre)  rgba(255, 255, 255, 0.3) inset;
    border-radius: var(--border-radius-chocolat);
    position: relative;
    overflow: hidden;
}


.chocolat .carreau::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        45deg,
        rgba(51, 20, 20, 0.02),
        rgba(255, 255, 255, 0.02) 2px,
        transparent 2px,
        transparent 4px
    );
    opacity: 0.1;
    pointer-events: none;
}

.chocolat .carreau::after {
    background: radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.1), transparent);
    border-radius: var(--border-radius-chocolat);
    pointer-events: none;
}

body.simple .chocolat .carreau {
    background: #7a4a02 !important;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    box-sizing: border-box;
}

body.simple .chocolat.carreau::after, body.simple .chocolat.carreau::before {
    display: none !important;
}


body.couleursX .chocolat .carreau.dizaineX.impairX,
body.couleursY .chocolat .carreau.dizaineY.impairY
{
    filter: var(--filtre-xx-impair);
}

body.couleursX:not(.nombrePairDeDizainesY):not(.couleursY) .chocolat .carreau.dizaineX.uniteY.impairX {
    filter: var(--filtre-xx-pair) !important;
}

body.couleursY:not(.nombrePairDeDizainesX):not(.couleursX) .chocolat .carreau.dizaineY.uniteX.impairY {
    filter: var(--filtre-xx-pair) !important;
}


body.couleursX .chocolat .carreau.dizaineX.carreau.dizaineX.pairX,
body.couleursY .chocolat .carreau.dizaineY.pairY
{
    filter: var(--filtre-xx-pair);
}

body.couleursX:not(.nombrePairDeDizainesY):not(.couleursY)  .chocolat .carreau.dizaineX.uniteY.pairX {
    filter: var(--filtre-xx-impair) !important;
}

body.couleursY:not(.nombrePairDeDizainesX):not(.couleursX)  .chocolat .carreau.dizaineY.uniteX.pairY {
    filter: var(--filtre-xx-impair) !important;
}

body.couleursX.couleursY .chocolat .dizaineX.dizaineY.pairX.pairY
{
    filter: var(--filtre-xx-impair);
}


body.couleursX .chocolat .carreau.uniteX

{
    filter: var(--filtre-xy-impair);
}


body.couleursX.couleursY .chocolat .carreau.uniteX.dizaineY.impairY {
    filter: var(--filtre-xy-impair) !important;
}

body.couleursX.couleursY .chocolat .carreau.uniteX.dizaineY.pairY {
    filter: var(--filtre-xy-pair) !important;
}

body.couleursY .chocolat .carreau.uniteY {
    filter: var(--filtre-yx-impair) !important;
}

body.couleursX.couleursY .chocolat .carreau.uniteY.dizaineX.pairX {
    filter: var(--filtre-yx-pair) !important;
}

body.couleursX.couleursY .chocolat .carreau.uniteY.uniteX {
    filter: var(--filtre-yy) !important;
}

body:not(.couleurs-alternees).couleursX .chocolat .carreau.dizaineX.dizaineY,
body:not(.couleurs-alternees).couleursY .chocolat .carreau.dizaineX.dizaineY,
body:not(.couleurs-alternees).couleursX:not(.couleursY) .chocolat .carreau.dizaineX.carreau.uniteY,
body:not(.couleurs-alternees).couleursY:not(.couleursX) .chocolat .carreau.dizaineY.uniteX,
body:not(.couleurs-alternees).couleursY:not(.couleursX) .chocolat .carreau.dizaineY.uniteX.impairY

{
    filter: var(--filtre-xx-impair) !important; /* Vert clair */
}

body:not(.couleurs-alternees).couleursY .chocolat .carreau.dizaineX.carreau.uniteY,
body:not(.couleurs-alternees).couleursY:not(.couleursX) .chocolat .carreau.uniteX.uniteY 

{
    filter: var(--filtre-yx-impair) !important; /* Bleu clair */
}

body:not(.couleurs-alternees).couleursX .chocolat .carreau.dizaineY.uniteX.pairY,
body:not(.couleurs-alternees).couleursX:not(.couleursY) .chocolat .carreau.uniteX.uniteY 
{
    filter: var(--filtre-xy-impair) !important;  /* Rose clair */
}

body:not(.couleurs-alternees).couleursX.couleursY .chocolat .carreau.uniteX.uniteY {
    filter: var(--filtre-yy) !important; /* Jaune */
}





.hide {
    display: none !important;
}

.transparent {
    color: rgba(255, 255, 255, 0);
}

#educajou {
    height: 70px;
    width: 70px;
    margin: 5px;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1000;
}

.primtux #educajou {display: none;}


#menu {
    position: absolute;
    bottom: 0px;
    width: 389px;
    max-height: calc(100% - 10px);
    max-width: calc(100% - 10px);
    padding: 5px 5px 5px 5px;
    background: #ffffffe5;
    border: none;
    z-index: 1000;
    border-radius: 0px 15px 0px 0px;
    transition: left 0.2s linear;
    color: #fff;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu p {
    margin: 0px 0px 10px 0px;
    font-weight: bold;

}

#stats {
    position: absolute;
    overflow-y: hidden;
    bottom: 0px;
    width: 389px;
    max-width: calc(100% - 10px);
    padding: 5px 5px 5px 5px;
    height: calc(100% - 10px);
    background: #041832ec;
    border: none;
    z-index: 1000;
    border-radius: 15px 0px 0px 0px;
    transition: right 0.2s linear;
    color: #fff;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#stats p {
    margin: 0px 0px 10px 0px;
    font-weight: bold;

}

.section {
    border-top: 1px solid #fff;
}

.section:first-of-type {
    border-top: none;
}

#reussite {
    text-align: center;
}

#resultats {
    padding-top: 15px;
    height: calc(100% - 170px);
    overflow-y: scroll;
    text-align: left;
    border-bottom: 1px solid #fff;
}

.titre {
    padding: 5px 0px 5px 0px;
}

#titre-options, #titre-stats {
    height: 60px;
    margin: 0;
    font-size: 36px;
    line-height: 52px;
}


#bouton-ferme-menu {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;    
}

#stats-bas {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bouton-effacer-stats {
    font-size: 24px;
    margin: 5px;
    vertical-align: middle;
}

.bouton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.bouton-haut {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(214, 207, 207);
    background-size: 90%;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#bouton-menu {
    background-image: url(images/menu.svg);
    position: absolute;
    bottom: 15px;
    left: 10px;
    z-index: 100000;    
}

#bouton-stats {
    display: none;
    background-image: url(images/stats.svg);
    position: absolute;
    bottom: 15px;
    right: 10px;
    z-index: 100000;
}

#bouton-plein-ecran {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 20px;
    right: 10px;
    height: 40px;
    width: 40px;
    background-image: url(images/fullscreen.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: bottom;    
}

.pleinecran #bouton-plein-ecran {
    background-position: top;
}

.eleve #bouton-stats {
    display: block;
}

.eleve #bouton-reponses {
    display: none;
}

#menu button {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
    background-size: 30px;
    background-position: left;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
}

form {
    margin-bottom: 10px;
}


#darkbox {
    /* Elle doit prendre toute la largeur et toute la hauteyr  */
      position: fixed;
      z-index: 999; /* O la place sous la lightbox */
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.5);
    }
    
    .lightbox {
      position: fixed;
      z-index: 1000; /* O la place sur la lightbox */
      display: flex;
      flex-direction: column;
      max-width: 60%;
      height: 60%;
      top: 50%;
      left: 50%;
      padding: 10px; /* Marge intérieure */
      border-radius: 20px; /* Coins arrondis */
      box-shadow: 0px 0px 15px #ffffff; /* Ombre transparente blanche */
      border: 2px solid #000000; /* Bordure de 2px noire */
      transform: translateX(-50%) translateY(-50%); /* Pour centrer dans la page */
      background-color: #ffffff; /* Couleur de fond */
    
    }
    
    .lightbox h1 { /* Le titre */
      font-family: Arial, Helvetica, sans-serif;
      font-size: 36px;
      min-height: 36px;
      margin: 10px;
    }
    
    .contenu-lightbox {
      flex: 1;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      overflow-y: auto;
      text-align: left;
      width: fit-content;
      margin: auto;
    }
    
    .bouton-fermer {
      position : fixed;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-image: url(images/bouton_fermer.svg);
      background-size: contain;
      background-color: transparent;
      border: none;
      outline: none;
    }

    @media screen and (max-height: 465px) {
        /* Tes règles CSS ici */
        #haut {
            display: none;
        }

        #milieu {
            max-height: calc(100% - 175px);
            padding-bottom: 85px;
        }

        
      }



    .accueil #boutons-milieu-bas {
        display: none !important;
    }

    body.colonne .carreau.invisible, body.ligne .rangee.invisible {
        opacity: 0.15;
    }

    .visible {
        opacity: 1 !important;
    }

    #boutons-gauche-bas>button {
        width: 60px;
        height: 60px;
        background-size: cover;
    }

    #boutons-gauche-bas {
        position: absolute;
        left: 100px;
    }

    #boutons-gauche-bas>button:active, #boutons-gauche-bas>button.actif {
        filter: brightness(200%);
    }

