<!DOCTYPE html>
<html lang="fr">
  <!--
    Seyes est une application libre
    sous licence GNU GPL
    écrite par Arnaud Champollion -->
  <head>
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link href="style.css?version=COMMITHASH" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="icon" href="images/favicon.ico" sizes="any" />
    <title>Seyes</title>
  </head>

    <body>
{% include 'templates/widget_back_menu.html' %}

      <!--
      <audio id="audio" src="sons/noces_de_figaro.mp3"></audio>
      <button id="bouton-audio" class="draggable bouton-musique new" onclick="playAudio(event)" title="Amadeus Morzart - Les noces de Figaro (ouverture), interprétée par l'Orchestre philarmonique de Prague, Licence Public Domain"><div class="draggable_item"></div></button>
      <button id="bouton-stop" class="draggable bouton-musique" onclick="stopAudio(event)"><div class="draggable_item"></div></button>
      -->  

      <div id="barre" class="draggable">
        <span class="section">
          <button type="button" id="nouveau" title="Nouveau document" onclick="nouveauTexte()"></button>
          <button type="button" id="enregistrer" title="Enregistrer au format sey" onclick="prepareEnregistrement()"></button>
          <button type="button" id="ouvrir" title="Ouvrir un fichier txt, docx, sey ou json" onclick="ouvrir()"></button>
          <button type="button" id="copielien" title="Exporter comme lien" onclick="menu_copier_lien()"></button>
        </span>


        <span class="multibouton gestion-texte">
          <button type="button" id="date" title="Appliquer la date courante" onclick="changeDate()"></button>
          <div id="bouton_deroule_date" class="fleche_bas" title="Choisir une date" onclick="ouvreSelecteurDate()"></div>
        </span>

        <button type="button" id="zoom_out" title="Diminuer la taille" onclick="zoom(-10)"></button>
        <button type="button" id="zoom_in" title="Augmenter la taille" onclick="zoom(10)"></button>

        <button type="button" id="carreaux" class="deroule_carreaux" title="Changer de lignage" onclick="ouvreBoutonsCarreau(event)">
        </button>



          

         
          <button type="button" id="bouton_ligatures" title="Améliorer les ligatures" onclick="ligatures()" ></button>

            <select id="choix_police" onchange="change_police(this.value)">
                <option value="Arial">Arial</option>
                <option value="AA Cursive">AA Cursive</option>
                <option value="Open Dyslexic">Open Dyslexic</option>
                <option value="Belle Allure GS">Belle Allure GS</option>
                <option value="Belle Allure CE">Belle Allure CE</option>
                <option value="Belle Allure CM">Belle Allure CM</option>
                <option value="Luciole">Luciole</option>
                <option value="Acceseditionscursive">Acces Editions Élémentaire *</option>
            </select>

          <button type="button" id="left" title="Aligner à gauche le texte" onclick="align('left')"></button>

          <button type="button" id="center" title="Centrer le texte" onclick="align('center')"></button>
 
          <span class="multibouton gestion-texte">
            <button type="button" id="couleur-texte" class="gestion-texte" value="blue" style="color: blue;" title="Couleur du texte" onclick="couleurs(this.value)">A</button>
            <div id="bouton_deroule_couleurs" class="fleche_bas gestion-texte" onclick="ouvreBoutonsCouleurs(event)"></div>
          </span>


          <span class="multibouton gestion-texte">
            <button type="button" id="souligne" class="gestion-texte" title="Couleur du soulignement" style="color: blue; text-decoration-color: red;" value="red" onclick="souligne(this.value)">A</button>
            <div id="bouton_deroule_souligne" class="fleche_bas gestion-texte" onclick="ouvreBoutonsSouligne(event)"></div>
          </span>                


          <label for="inputFichier" id="bouton_image" title="Ajouter une image"></label>
          <input type="file" id="inputFichier" name="inputFichier" accept=".jpg, .jpeg, .png .svg" oninput="cree_image(event)"/>
          <button type="button" id="regle" title="Tracer des traits droits" onclick="activeRegle()"></button>
          <button type="button" id="fullscreen" title="Plein écran / Réduire" onclick="pleinecran()"></button>
          <button type="button" id="a_propos" title="Informations sur Seyes" onclick="ouvre(divApropos)"></button>
          <button type="button" id="options" title="Options" onclick="ouvreOptions()"></button>

          <input type="color" id="inputCouleurTrait" style="display: none;" oninput="changeCouleurTrait(this.value)">
        </div>

      <div id="entete">

          <div id="marge-entete">   
            <div id="haut-marge"></div>
              <div id="bas-marge">       
                <div id="case1">MATIÈRE</div>
                <div id="case2">POUR LE</div>
              </div>
          </div>
          
          <div id="case3">
              <select id="select-jours" oninput="changeJour(this.value)">
                <option value="lundi">LUNDI</option>
                <option value="mardi">MARDI</option>
                <option value="mercredi">MERCREDI</option>
                <option value="jeudi">JEUDI</option>
                <option value="vendredi">VENDREDI</option>
                <option value="samedi">SAMEDI</option>
            </select>
            <input type="color" id="choix-couleur-entete" oninput="changeCouleurEntete(this.value)">
          
          </div>

      </div>
       
      <!-- DÉBUT DU CONTENU -->

      <div id="contenu">

        <div id="conteneur-extensible">
        
          <!-- CONTENUS EN POSITION ABSOLUE -->
          <input type="text" id="date-input" class="hide" placeholder="Sélectionner une date">
          <div id="datepicker" class="hide"></div>

          <div id="boutons_soulignement" class="hide deroule">
            <h3 style="font-size: 14px;">Couleur de soulignement</h3>            
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: red" value="red" onclick="souligne(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: green" value="green" onclick="souligne(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: black" value="black" onclick="souligne(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: blue" value="blue" onclick="souligne(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: purple" value="purple" onclick="souligne(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: orange" value="orange" onclick="souligne(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: white" value="white" onclick="souligne(this.value)">X</button>
          </div>

          <div id="boutons-couleur-texte" class="hide deroule">
            <h3 style="font-size: 14px;">Couleur de texte</h3>            
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: red" value="red" onclick="couleurs(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: green" value="green" onclick="couleurs(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: black" value="black" onclick="couleurs(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: blue" value="blue" onclick="couleurs(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: purple" value="purple" onclick="couleurs(this.value)"></button>
            <button type="button" class="deroule-couleur gestion-texte bouton-couleur" style="background-color: orange" value="orange" onclick="couleurs(this.value)"></button>
          </div>
          
          <div id="boutons_carreaux" class="hide deroule">
            <h3 style="font-size: 14px;">Type de lignage</h3>          
            <button type="button" id="carreau_seyes" class="deroule_carreaux" onclick="changeCarreaux('seyes')"></button>
            <button type="button" id="carreau_seyes_noir" class="deroule_carreaux" onclick="changeCarreaux('seyes_noir')"></button>
            <button type="button" id="carreau_seyes_gris" class="deroule_carreaux" onclick="changeCarreaux('seyes_gris')"></button>
            <button type="button" id="carreau_simple_ligne" class="deroule_carreaux" onclick="changeCarreaux('simple_ligne')"></button>
            <button type="button" id="carreau_double_ligne" class="deroule_carreaux" onclick="changeCarreaux('double_ligne')"></button>
            <button type="button" id="carreau_petit" class="deroule_carreaux" onclick="changeCarreaux('petit')"></button>
            <button type="button" id="carreau_terre" class="deroule_carreaux" onclick="changeCarreaux('terre')"></button>
            <button type="button" id="carreau_cahier_de_textes" class="deroule_carreaux" onclick="changeCarreaux('cahier_de_textes')"></button>
            <button class="bouton-fermer" onclick="document.getElementById('boutons_carreaux').classList;add('hide')"></button>
          </div>

          <!-- FIN DES CONTENUS EN POSITION ABSOLUE -->

          
          <!-- MARGES -->


            <div id="marge">

              <div id="voile_marge" class="voile"></div>
              <div id="marge1">
                <div class="texte" id="texte_marge" contenteditable="true" spellcheck="false"></div>
              </div>

              <div id="marge2">
                <div id="voile_marge2" class="voile"></div>
                <div class="texte" id="texte_marge_complementaire" contenteditable="true" spellcheck="false">              
                </div>
              </div>

            </div>

            <!-- PAGE PRINCIPALE -->


            <div id="page">
                <div id="voile_page" class="voile"></div>
                <div id="graphismes"></div>
                <div contenteditable="true" class="texte" id="texte_principal" spellcheck="false"></div>           
            </div>

        </div>

        <div id="panneauOptions" class="hide">
          <button class="bouton-fermer" onclick="ouvreOptions()"></button>
          <h2>Options</h2>
            <div class="section">
              Espacement des lettres
              <input id="inputEspacement" type="range" min="0" max="50" step="0.5" oninput="changeEspacementLettres(this.value)">
            </div>
            <div class="section">
              Espacement des mots
              <input id="inputEspacementMots" type="range" min="00" max="3" step="0.1" oninput="changeEspacementMots(this.value)">
            </div>
            <div class="section">
              Opacité du lignage
                <input type="range" id="inputOpacite"  min="0" max="1" value="1" step="0.05" oninput="opacite(this.value)" />       
            </div>
            <div class="section">
              <p>
                <input type="checkbox" id="checkboxAjouterDate" onchange="changeModeDate()">
                Ajouter la date aux nouveaux documents
              </p>
              <p>
                <input type="checkbox" id="checkboxSoulignerDate" onchange="changeModeDate()">
                Souligner la date
              </p>
            </div>

        </div>
    </div>

      <!-- FIN DU CONTENU -->

      <div id="confirmation-nouveau" style="display: none;" class="draggable boite">
        Voulez-vous effacer tout le contenu ?
        <br>
        <button type="button" id="oui" style="font-size: 20px;" title="oui" onclick="ferme_confirmation();raz()">OUI</button>
        <button type="button" id="non" style="font-size: 20px;" title="non" onclick="ferme_confirmation()">NON</button>
      </div>

      <div id="zone_menu_copie_lien" style="display: none;" class="draggable boite">
        Pour exporter votre page, copiez le lien ci-dessous.
        <div id="zone_lien"></div>
        <button type="button" id="copier" style="font-size: 20px;" title="Copier" onclick="copier()">Copier</button>
        <button type="button" id="ferme_menu_copie_lien" style="font-size: 20px;" title="Fermer" onclick="ferme_menu_copie_lien()">Fermer</button>
      </div>  

    <div id="darkbox" class="hide"></div>

    <div id="apropos" class="lightbox hide">

      <button class="bouton-fermer" onclick="ferme(divApropos)"></button>
      <h1>À propos de Seyes</h1> <!-- Le  titre -->
      
      <div class="contenu-lightbox"> <!-- Le  contenu -->
            
        <ul>Seyes est une application sous licence libre GNU GPL, de la <a class="cartouche" style="background-image: url(images/educajou.png);" href="https://educajou.forge.apps.education.fr/">suite Éducajou</a>, écrite par Arnaud Champollion.</ul> 
        <br>
        <h2>Polices utilisées</h2>
        <br>
        AA Cursive, par A. Renaudin, sous licence libre OFL.
        <br>
        Open Dyslexic, par Abelardo Gonzalez, sous licence libre.
        <br>
        Luciole par Laurent Bourcellier & Jonathan Perez, sous licence libre Creative Commons BY.
        <br>
        Belle Allure par Jean Boyault, avec son aimable autorisation.
        <br>
        Arial & Acces ne sont pas présentes sur cette application, néammoins si elles sont installées sur votre ordinateur, Seyes pourra les utiliser.
        <br><br>
        <h2>Bibliothèques</h2>
        La fonction de calendrier s'appuie sur la bibliothèque <a target="_blank" href="https://github.com/flatpickr/flatpickr">flatpickr</a> sous licence MIT.
        <br>
        La fonction d'import de fichier docx s'appuie sur <a target="_blank" href="https://github.com/mwilliamson/mammoth.js">Mammoth</a> sous licence BSD.
        <br><br>
        <h2>Utiliser hors-ligne</h2>
        <br>
            <ul>Télécharger l'application <a class="cartouche" style="background-image: url(images/zip.png);" href="https://forge.apps.education.fr/educajou/seyes/-/archive/main/seyes-main.zip">seyes-main.zip</a></ul> 
            <ul>Extraire le ZIP</ul>
            <ul>Ouvrir le fichier index.html</ul>

            <br>
        <h2>En savoir plus et accéder aux sources</h2>
        <br>
            <ul>Voir <a class="cartouche" style="background-image: url(images/forge.png);" href="https://forge.apps.education.fr/educajou/seyes">la page du projet</a> sur la Forge des Communs Numériques Éducatifs.</ul> 

            <br>   
        <h2>Signaler un bug ou suggérer une amélioration</h2>
        <br>
            <ul>Pour contribuer, vous pouvez ajouter <a href="https://forge.apps.education.fr/educajou/seyes/-/issues">un ticket</a>.</ul> 
          </p>  
        </div> 
        
    </div>



      <script src="mammoth.browser.min.js"></script>
      <script src="flatpickr.js"></script>
      <script src="flatpickr-fr.js"></script>
      <script src="fonctions.js?version=COMMITHASH"></script>
      <script src="script.js?version=COMMITHASH"></script>
    {% include 'templates/global.js.html' %}
</body>
</html>