<!DOCTYPE html>
<html lang="fr">
  <head>
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
	<link href="style.css?version=COMMITHASH" rel="stylesheet" type="text/css">
  <link rel="icon" href="images/favicon.ico" sizes="any" />
  <link rel="apple-touch-icon" href="images/logo.png" />  
  <title>Syllabux</title>
  </head>
  <body>
{% include 'templates/widget_back_menu.html' %}


<div id="zone_1">
  <span class="boutons_menu menu_encadre">
    <button type="button" class="bouton_choix" id="bouton_options" onclick="lightbox('options')"></button>
    <button type="button" class="bouton_choix" id="bouton_apropos" onclick="lightbox('apropos')"></button>
  </span>
  <span class="boutons_menu menu_encadre">
  <div class="hide_mobile" style="font-size: 16px; font-family: Arial;">GRAPHÈMES</div>
  <button type="button" class="bouton_choix" id="bouton_consonnes" onclick="choix_consonnes()"></button>
  
  <button type="button" class="bouton_choix" id="bouton_voyelles" onclick="choix_voyelles()"></button>
  </span> 
  <span class="boutons_menu menu_encadre" id="menu_auto">
    <div class="hide_mobile" style="font-size: 16px; font-family: Arial;">ALÉATOIRE</div>
    <button class="bouton_haut" type="button" id="bouton_precedent" onclick="precedent()"></button>
    <button class="bouton_haut" type="button" style="background-image: url(images/suivant.png);" onclick="tirage('manuel')"></button>
    <button class="bouton_haut" id="bouton_play" type="button" style="background-image: url(images/play.png);" onclick="tirage_auto()"></button>
    <br>
    <input id="curseur_duree_diaporama" type="range" min="0.5" max="5" step="0.1" style="vertical-align: bottom;" oninput="updateValue(this.value)" onchange="stocke('delai',this.value)">
    <br>
    <span style="font-size: 16px; font-family: Arial;">délai </span>
    <span id="valueDisplay" style="font-size: 16px; font-family: Arial;"> 1 s</span>

  </span>

  <span class="boutons_menu menu_encadre">
  <span class="hide_mobile" style="font-size: 16px; font-family: Arial;">MANUEL</span>
  <br>
  <button type="button" id="bouton_syllabaire" style="background-image: url(images/syllabaire.png);" onclick="syllabaire()"></button>
  </span>


  
 

</div>

<div id="zone_2">
  <div id="menus_deroulants" style="display: block; position: absolute; top: 10px;">
  <select id="choix_forme" style="display: block; width: 100%; text-align: center;" name="forme" onchange="change_forme(this.value)">
    <option value="cv">Consonne Voyelle</option>
    <option value="vc">Voyelle Consonne</option>
    <option value="cvc">Consonne Voyelle Consonne</option>
  </select>
  </div>
  <button id="haut_parleur" class="bouton_transp" type="button" onclick="entendre()"></button>
  <div id="zone_mentions">
    <div id="logo">Syllabux</div>
  </div>

<span id="syllabe">
  <span id="graph_1"></span><span id="graph_2"></span><span id="graph_3"></span>
</span>

<div id="colonne_gauche" class="colonne" style="display: none;"></div>
<div id="colonne_milieu" class="colonne" style="display: none;"></div>
<div id="colonne_droite" class="colonne" style="display: none;"></div>

<div id="choix_consonnes" class="fenetre_choix" style="display: none;">
  <input class="bouton_quitter bouton" type="button" style="background-image:url(images/bouton_fermer.svg);float:right;background-size: contain;" onclick="fermeture_choix_consonnes()">
  <input type="button" value="Tout cocher" onclick="cocherTout('case_consonne',liste_consonnes_choisies)">
  <input type="button" value="Tout décocher"  onclick="decocherTout('case_consonne',liste_consonnes_choisies)">
  <div class="defile">
    <div id="checkboxes_consonnes">
    </div>
  </div>
</div>
<div id="choix_voyelles" class="fenetre_choix" style="display: none;">
  <input class="bouton_quitter bouton" type="button" style="background-image:url(images/bouton_fermer.svg);float:right;background-size: contain;" onclick="fermeture_choix_voyelles()">
  <input type="button" value="Tout cocher" onclick="cocherTout('case_voyelle',liste_voyelles_choisies)">
  <input type="button" value="Tout décocher"  onclick="decocherTout('case_voyelle',liste_voyelles_choisies)">
  <div class="defile">
    <div id="checkboxes_voyelles">
    </div>
  </div>
</div>

</div>



<button class="bouton_transp" id="bouton_replier" type="button" style="position: absolute; width: 49px; height: 49px;" onclick="visibilite_panneau()"></button>




<div id="apropos" class="lightbox ombre-portee">
<input class="bouton_quitter bouton" type="button" style="float: right;background-image:url(images/bouton_fermer.svg);position:sticky;left:calc(100% - 38px);top:0px;" onclick="lightbox_ferme('apropos')">
<h3>À propos de Syllabux</h3>
<div class="texte_defilable">
  <p>Syllabux une application de type "syllabaire".</p>
  <p>Elle permet de faire défiler des graphèmes consonnes et voyelles, pour former des syllabes.</p>
  <p>L'application fonctionne avec un simple navigateur web, elle est donc en principe utilisable sur ordinateur, tablette et téléphone.</p>
  <p>Syllabux est développée par Arnaud Champollion, et partagée sous licence libre GNU/GPL. Le code source est déposé sur <a href="https://forge.apps.education.fr/">la forge des Communs Numériques</a></p>
  <p>Pour en savoir plus et télécharger une version hors-ligne, suggérer des améliorations, rapporter des bugs voire participer au développement ... consultez <a href="https://forge.apps.education.fr/educajou/syllabux">la page du projet Syllabux sur la forge</a>.</p>
  
</div>
</div>

<div id="options" class="lightbox ombre-portee">
  <input class="bouton_quitter bouton" type="button" style="float: right;background-image:url(images/bouton_fermer.svg);position:sticky;left:calc(100% - 38px);top:0px;" onclick="lightbox_ferme('options')">
  <h3>Options</h3>
  <div class="texte_defilable">
    <p>
      Police
      <select id="police" style="text-align: center; transition: left 1s;" name="police" onchange="change_police(this.value)">
        <option value="Arial">Arial</option>
        <option value="OpenDyslexic">OpenDyslexic</option>
        <option value="AA Cursive">Cursive</option>
        <option value="Times">Times</option>
      </select>
    </p>
    <p>
      Fond d'écran
      <select id="fond" style="text-align: center; transition: left 1s;" name="fond" onchange="change_fond(this.value)">
        <option value="url(images/primtux.png)">Primtux</option>
        <option value="url(images/crayons.jpg)">Crayons</option>
        <option value="url(images/lac.jpg)">Lac</option>
        <option value="url(images/feuille_blanche.jpg)">Feuille blanche</option>
        <option value="none">Aucun</option>
      </select>
    </p>
    <p>
      <input type="checkbox" id="encadrer" name="cadre">
      <label for="encadrer">Encadrer les graphèmes cliqués</label>
    </p>
    <p>
      Forme des syllabes aléatoires
    <select id="mode_diaporama" style="text-align: center; transition: left 1s;" name="mode_diaporama" onchange="change_modediaporama(this.value)">
      <option value="suivre">Seulement la forme sélectionnée</option>
      <option id="melanger" value="melanger">Mélanger les formes</option>
    </select>
    </p>
    
      <form id="formes" style="display: none;">
        <input type="checkbox" id="cv" name="cv" value="cv" checked>
        <label for="cv">consonne voyelle</label><br>
        <input type="checkbox" id="vc" name="vc" value="vc" checked>
        <label for="vc">voyelle consonne</label><br>
        <input type="checkbox" id="cvc" name="cvc" value="cvc">
        <label for="cvc">consonne voyelle consonne</label><br>
      </form>
      <p style="font-style: italic;">* Si le syllabaire manuel est ouvert, cette option est ignorée et le tirage suivra la forme sélectionnée.</p>
    <span class="selection_couleur">
    <p class="consonne titre_couleur">Couleur des consonnes</p>
    <div>
      <input type="color" id="lettres_consonne" name="lettres_consonne" value="#e66465" onchange="couleur('lettres','consonne',this.value)"/>
      <label for="head">Lettres</label>
    </div>
    <div>
      <input type="color" id="fond_consonne" name="fond_consonne" value="#f6b73c" onchange="couleur('fond','consonne',this.value)"/>
      <label for="body">Fond</label>
    </div>
  </span>
  <span class="selection_couleur">
    <p class="voyelle titre_couleur">Couleur des voyelles</p>
    <div>
      <input type="color" id="lettres_voyelle" name="lettres_voyelle" value="#e66465" onchange="couleur('lettres','voyelle',this.value)" />
      <label for="head">Lettres</label>
    </div>
    <div>
      <input type="color" id="fond_voyelle" name="fond_voyelle" value="#f6b73c" onchange="couleur('fond','voyelle',this.value)" />
      <label for="body">Fond</label>
    </div>
  </span>
  <span class="selection_couleur">
    <p>Opacité du fond</p>
<div>
  <input type="range" id="opacite" name="opacite" min="0" step="0.1" max="1" oninput="reglage_opacite(this.value)"/>
</div>
  </span>


  </div>
  </div>



<script src="scripts/main.js?version=COMMITHASH"></script>
{% include 'templates/global.js.html' %}
</body>
</html>

