<html lang="fr">
  <head>
    <title>A la campagne</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="height=device-height">
    {% include 'templates/favicon.html' %}
    {% include 'templates/global.css.html' %}
    <link rel="stylesheet" type="text/css" media="screen" href="alacampagne.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="dialogbox.css" />
</head>
<body>
  {% include 'templates/widget_back_menu.html' %}
   <!-- Zone d'affichage des consignes et de boutons de commande -->
  <div id="zone-commande">
    <div id="consignes">
      <p>Les animaux peuvent être ajoutés dans les différents enclos en les faisant glisser depuis les images à gauche ou en haut, ou bien en les déplaçant d'un enclos à l'autre.<br/>On les supprime en les faisant glisser dans le petit enclos de gauche.</p>
    </div>

    <div id="commandes">
      <button id="Niveau1" class="bouton" type="button" value="Niveau1" autocomplete="off" onclick="defNiveau1()">Nombres de 1 à 10</button>
      <button id="Niveau2" class="bouton" type="button" value="Niveau2" autocomplete="off" onclick="defNiveau2()">Nombres de 10 à 20</button>
      <button id="verifier" class="bouton" type="button" disabled>Vérifier</button>
    </div>
  </div>

  <!-- zone d'affichage de l'image de fond et d'exécution de l'exercice -->
  <div id="zone-exercice">
    <!-- Zone d'affichage de la réserve des animaux à déplacer -->
    <div id="action" class="action">
      <div id="ligne1" class="ligne">
        <div id="pre1" class="pre">
          <div id="modele1" class="modele"></div>
          <div id="erreur1" class="erreur"></div>
          <div id="enclos1" class="enclos parc"></div>
        </div>
        <div id="pre2" class="pre">
          <div id="modele2" class="modele"></div>
          <div id="erreur2" class="erreur"></div>
          <div id="enclos2" class="enclos parc"></div>
        </div>
      </div>
      <div id="ligne2" class="ligne">
        <div id="pre3" class="pre">
          <div id="modele3" class="modele"></div>
          <div id="erreur3" class="erreur"></div>
          <div id="enclos3" class="enclos parc"></div>
        </div>
        <div id="pre4" class="pre">
          <div id="fermier" class="decor"></div>
          <div id="modele4" class="modele"></div>
          <div id="erreur4" class="erreur"></div>
          <div id="enclos4" class="enclos parc"></div>
        </div>
      </div>
      <div id="eolienne" class="decor"></div>
      <div id="potager" class="decor"></div>
      <div id="arbre" class="decor"></div>
      <div id="tracteur" class="decor"></div>
    </div>
    <div id="drag-zone-container">
        <div id="drag-zone">
            <div id="masque-ligne1" class="ligne">
                <div id="masque-enclos1" class="masque" ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                <div id="masque-enclos2" class="masque" ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
            </div>
            <div id="masque-ligne2" class="ligne">
                <div id="masque-enclos3" class="masque" ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                <div id="masque-enclos4" class="masque" ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
            </div>
        </div>
    </div>
    <div id="reserve" class="reserve">
        <img src="img/enclos.png" id="poubelle" ondrop="detruit(event)" ondragover="allowDrop(event)">
        <img src="img/lapin.png" id="animal1" class="animal1 animal" alt="animal1" draggable="true" ondragstart="drag(event)">
        <img src="img/mouton.png" id="animal2" class="animal2 animal" alt="animal2" draggable="true" ondragstart="drag(event)">
        <img src="img/vache.png" id="animal3" class="animal3 animal" alt="animal3" draggable="true" ondragstart="drag(event)">
        <img src="img/poule.png" id="animal4" class="animal4 animal" alt="animal4" draggable="true" ondragstart="drag(event)">
    </div>
  </div>
  {% include 'templates/global.js.html' %}
  <script src="dialogbox.js" type="text/javascript"></script>
  <script src="alacampagne.js" type="text/javascript"></script>
</body>
</html>
