<!doctype html>
<html>
  <head>
	  <meta charset="UTF-8">
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

    <title>Edit interactive SVG version 1.1.3</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" type="text/css" href="./static/bootstrap_3.3.7.min.css" />
<link rel="stylesheet" type="text/css" href="./static/trumbowyg.2.7.2.min.css" />
<link rel="stylesheet" type="text/css" href="./static/spectrum.1.8.min.css" />
<link rel="stylesheet" type="text/css" href="./static/style.css" />

  </head>
  <body onload="load();">
{% include 'templates/widget_back_menu.html' %}

    <div id="locales">
      <div id="mask-on-drag" class="hidden"></div>
      <div id="show-menu" class="container-fluid">
        <nav class="collapse navbar-collapse" id="bs-navbar">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </nav>
      </div>
      <button id="return-to-edit" onclick="return_to_edit();" type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <span class="i18n" data-i18n="edit"></span>
      </button>
      <header id="edit-menu" class="container-fluid bs-docs-nav navbar navbar-static-top">
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

        <div class="navbar-header">
          <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse" id="bs-navbar">
          <ul class="nav navbar-nav">
            <li>
              <button onclick="export_html(this);" id="save-form" class="btn btn-default btn-xs disabled">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                <span class="i18n" data-i18n="save"></span>
              </button>
            </li>
            <li>
              <button class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-about-modal-sm">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="i18n" data-i18n="about"></span>
              </button>
            </li>
            <li>
              <button class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-help-modal-lg">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                <span class="i18n" data-i18n="help"></span>
              </button>
            </li>
            <li>
                
              <div id="error-zone" class="alert alert-danger hidden" role="alert">
                <span class="glyphicon glyphicon-warning-sign"></span>
                <span id="error-message">
                  <span id="number-of-errors" class="badge">0</span>
                  <span class="i18n" data-i18n="errors_detected"></span>
                  <a href="#" class="alert-link"  data-toggle="modal" data-target=".bs-errors-modal-md">
                     <span class="i18n" data-i18n="see_more"></span>
                  </a>
                </span>
              </div>
              <div id="warning-zone" class="alert alert-warning hidden" role="alert">
                <span class="glyphicon glyphicon-warning-sign"></span>
                <span id="warning-message">
                  <span id="number-of-warnings" class="badge">0</span>
                  <span class="i18n" data-i18n="warnings_detected"></span>
                  <a href="#" class="alert-link"  data-toggle="modal" data-target=".bs-warnings-modal-md">
                     <span class="i18n" data-i18n="see_more"></span>
                  </a>
                </span>
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="choose-language">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
                <span class="flags" id="selected-lang"></span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li onclick="translate_app('en');" class="i18n flags en" data-i18n="english"></li>
                <li onclick="translate_app('fr');" class="i18n flags fr"  data-i18n="french"></li>
              </ul>
            </li>
            <li>
              <button onclick="display_result(this);" id="nav-right" type="button" class="btn btn-default btn-xs disabled">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <span class="i18n" data-i18n="show"></span>
              </button>
            </li>
          </ul>
          <div class="container">
          <ul class="nav navbar-nav">
            <li>
              <button id="undo-button" type="button" class="btn btn-default btn-xs disabled hidden">
                <span class="glyphicon glyphicon-undo" aria-hidden="true"></span>
                <span class="i18n" data-i18n="undo"></span>
              </button>
            </li>
            <li>
             <button id="redo-button" type="button" class="btn btn-default btn-xs disabled hidden">
              <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
              <span class="i18n" data-i18n="redo"></span>
            </button>
            </li>
          </ul>
          </div>
        </nav>
      </header>
      <div id="upload-zone" class="container">
        <form method="post" action="." enctype="multipart/form-data" novalidate="" class="box has-advanced-upload">
          <div class="box__input">
            <div id="download-pic" class="glyphicon glyphicon-download-alt" aria-hidden="true"></div>
            <input type="file" name="files[]" id="file" class="box__file" onclick="this.value=null;">
            <label id="choose-file" for="file">
              <div id="choose-file-zone">
                <div>
                  <strong class="i18n" data-i18n="choose_a_file"></strong>
                  <span class="box__dragndrop i18n" data-i18n="drag_it_here"></span>
                </div>
            </div>
            </label>
            <label id="upload-text" class="hidden" for="file"></label>
            <button type="submit" class="box__button i18n" data-i18n="upload"></button>
          </div>
          <div class="box__error i18n" data-i18n="error_try_again"></div>
        </form>
      </div>
      <div id="edit-zone" class="hidden">
        <div id="svg" class="edit-mode">
          <section id="descriptions">
            <article id="template-description" class="description hidden">
              <h2>
                <span class="indice">0</span>
                <span class="title"></span>
              </h2>
              <div class="description-content">
              </div>
            </article>
        </section>
          <div id="frame">
            <button id="delete-svg" type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target=".bs-delete-picture-modal-sm">
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
              <span class="i18n" data-i18n="delete"></span>
            </button>
            <button id="update-svg" type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target=".bs-update-picture-modal-sm">
              <span class="glyphicon  glyphicon-refresh" aria-hidden="true"></span>
              <span class="i18n" data-i18n="_new"></span>
            </button>
            <div id="content" data-full="false">
              <button id="help-button" class="hidden" onclick="show_help()" title="Aide">?</button>
              <button id="copyright-button" class="hidden" onclick="show_copyright()" title="Crédits">©</button>
              <div id="help-dialog" class="dialog hidden">
                  <label id="close-help-dialog" class="dialog__close" onclick="closeDialog(this)"></label>
                  <h2>Raccourcis clavier</h2>
                  <p>Il est possible de commander cette illustration avec le clavier :</p>
                  <p><strong>Avancer</strong> : <kbd>barre espace</kbd> ou <kbd>↦</kbd> (boucle sur le premier indice si on est à la fin)</p>
                  <p><strong>Reculer</strong> : <kbd>↤</kbd> (boucle sur le dernier indice si on est au début)</p>
                  <p><strong>Aller au premier indice</strong> : <kbd>↥</kbd> ou <kbd>↖</kbd></p>
                  <p><strong>Aller au dernier indice</strong> : <kbd>↧</kbd> ou <kbd>Fin</kbd></p>
                  <p><strong>Ajuster la page à l'illustration</strong> (on ne sélectionne aucun indice) : <kbd>Echap</kbd></p>
                  <p><strong>Sélectionner un indice</strong> : il suffit de saisir un chiffre sur le clavier numérique.<br>Par exemple <kbd>11</kbd></p>
                  <p class="help-shortcut"><strong>Afficher l'aide</strong> :  <kbd>?</kbd></p>
                  <p class="last-element"><strong>Sortir du panneau d'aide</strong> : <kbd>Echap</kbd></p>
              </div>
              <div id="copyright-dialog" class="dialog hidden">
                  <label id="close-help-dialog" class="dialog__close" onclick="closeDialog(this)"></label>
                  <h2>Crédits</h2>
                  <div id="copyright-content"></div>
              </div>
              <section id="real-legend" class="hidden">
                <div id="fit-page-to-drawing" data-i18n="fit_page_to_drawing" onclick="fit_page_to_drawing();">
                    <div></div>
                </div>
                <label id="real-template-indice" class="indice hidden" onclick="real_zoom(this);">
                    <span>0</span>
                    <em></em>
                </label>
              </section>
            </div>
          </div>
        </div>
        <div id="sidebar">
            <div id="legend-container" class="container-fluid">
              <div id="add-and-delete-legend">
                <button type="button" id="add-legend-button" onclick="add_legend(this);" class="btn btn-success btn-xs">
                  <span class="i18n" data-i18n="add_to_legend"></span>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" id="delete-legend-button" class="btn btn-danger btn-xs disabled" onclick="modal_delete_legend(this)">
                  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                  <span class="i18n" data-i18n="delete"></span>
                </button>
                <button type="button" id="edit-coypright-button" class="btn btn-success btn-xs" data-toggle="modal" data-target=".bs-edit-copyright-modal-lg">
                  <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
                  <span class="i18n" data-i18n="edit_copyright"></span>
                </button>
              </div>
              <div id="legend-list-container" class="container-fluid">
                <input type="hidden" id="nb-indices" value="0" />
                <input type="hidden" id="count-nb-display" value="0" />
                <input type="hidden" id="count-nb-selected" value="0" />
                <input type="hidden" id="last-folded-indice" value="" />
                <table id="list-of-legend" class="table table-bordered hidden">
                  <thead>
                    <tr id="tr-show-all-legend">
                      <th>
                        <span id="show-all-legend" class="display-indice" onclick="show_all_legend();"></span>
                      </th>
                      <th class="no-visible"></th>
                      <th>
                        <input type="checkbox" id="select-all-legend" onclick="select_all_legend();">
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="template-legend" class="hidden">
                      <td>
                        <span class="display-indice" onclick="show_legend(this);"></span>
                      </td>
                      <td>
                        <span class="open-detail" onclick="open_detail(this);"></span>
                        <span class="indice">0</span><em class="i18n" data-i18n="no_title"></em>
                        <div class="detail hidden">
                          <div class="form-group first">
                            <span class="i18n" data-i18n="zoom"></span> <input class="zoom-input"
                            type="number"
                            step="10" value="100"
                            min="10" max="1000" onchange="zoom(this);"> %
                            <input class="zoom-enabled" type="checkbox" onchange="active_zoom(this);" />
                            <span class="i18n" data-i18n="preview"></span>
                          </div>
                          <div class="form-group last">
                            <input class="color-indice-picker" />
                            <button type="button" class="related-target-editor btn btn-success btn-xs" data-toggle="modal" data-target=".bs-edit-legend-modal-lg">
                              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                              <span class="i18n" data-i18n="edit_title"></span>
                            </button>
                          </div>
                        </div>
                      </td>
                      <td class="selection">
                        <input class="select" type="checkbox" onchange="select_legend(this);">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="source-file-zone">
              <span id="source-file-label" class="i18n" data-i18n="source_file"></span>
              <strong id="source-file"></strong>
            </div>
        </div>
      </div>
      <div id="edit-legend-modal" class="modal fade bs-edit-legend-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title i18n" id="myModalLabel" data-i18n="edit_legend"></h4>
            </div>
            <div class="modal-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-lg-1 control-label i18n" id="indice-title" data-i18n="title"></label>
                  <div class="col-lg-11">
                    <input id="modal-legend-id" type="hidden" />
                    <input id="legend-title" type="text" name="indice-text" maxlength="50" class="form-control" />
                  </div>
                </div>
              </div>
              <div id="indice-description"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="about-modal" class="modal fade bs-about-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title i18n" id="myModalLabel" data-i18n="about"></h4>
            </div>
            <div id="about">
              <details open>
                <summary><strong>Edit interactive SVG</strong> (<span id="app-version">1.1.3</span>)</summary>
                <p class="i18n" data-i18n="description1"></p>
                <p  class="i18n" data-i18n="description2"></p>
              </details>
              
              <details>
                <summary class="i18n" data-i18n="credits"></summary>
                <ul>
                  <li><a href="http://mothsart.github.io" target="_blank">Jérémie Ferry (mothsART)</a></li>
                  <li><a href="https://www.de-bric-et-de-broc.fr" target="_blank">Philippe Ronflette</a></li>
                  <li><a href="https://primtux.fr" target="_blank">Stéphane Deudon</a></li>
                  <li><a href="https://cyrille-borne.com" target="_blank">Cyrille Borne</a></li>
                  <li><a href="https://github.com/jonadem" target="_blank">jonadem</a></li>
                </ul>
              </details>
              <details>
                <summary class="i18n" data-i18n="translators"></summary>
                <ul>
                  <li><a href="http://mothsart.github.io" target="_blank">Jérémie Ferry (mothsART)</a></li>
                </ul>
              </details>
              <details>
    <summary class="i18n" data-i18n="license"></summary>
    <p>
    Copyright (c) 2017, Ferry Jérémie and individual contributors.
    All rights reserved.
    </p>
    <p>
    Redistribution and use in source and binary forms, with or without modification,
    are permitted provided that the following conditions are met:
    </p>
      <ol>
        <li>Redistributions of source code must retain the above copyright notice,
           this list of conditions and the following disclaimer.
        </li>
        <li>Redistributions in binary form must reproduce the above copyright
           notice, this list of conditions and the following disclaimer in the
           documentation and/or other materials provided with the distribution.
        </li>
        </ol>
    <p>
    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
    ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
    ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </p>
</details>

              <details>
                <summary>Source</summary>
                  <a href="https://github.com/mothsART/editInteractiveSVG" target="_blank">
                    <span class="i18n" data-i18n="github_repo">Github repository</span>
                  </a>
              </details>
            </div>
          </div>
        </div>
      </div>
      <div id="help-modal" class="modal fade bs-help-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title i18n" id="myModalLabel" data-i18n="help"></h4>
            </div>
            <div id="help">
              <details open>
                <summary class="i18n" data-i18n="intro"></summary>
                <div class="i18n" data-i18n="intro_description">
                </div>
                <p>
              </details>
              <details>
                <summary class="i18n" data-i18n="principle"></summary>
                <div class="i18n" data-i18n="principle_description">
                </div>
                <p>
              </details>
              <details>
                <summary class="i18n" data-i18n="import"></summary>
                <div class="i18n" data-i18n="import_description">
                </div>
                <fieldset id="figure-1">
                  <legend>Figure 1</legend>
                  <img src="./static/help/fig1.png" alt="figure 1" />
                </fieldset>
                <fieldset id="figure-2">
                  <legend>Figure 2</legend>
                  <img src="./static/help/fig2.png" alt="figure 2" />
                </fieldset>
                <p>
              </details>
              <details>
                <summary class="i18n" data-i18n="create_legend"></summary>
                <div class="i18n" data-i18n="create_legend_description">
                </div>
              </details>
              <details>
                <summary class="i18n" data-i18n="save"></summary>
                <div class="i18n" data-i18n="save_description">
                </div>
              </details>
              <details>
                <summary class="i18n" data-i18n="reopen"></summary>
                <div class="i18n" data-i18n="reopen_description">
                </div>
              </details>
              <details>
                <summary class="i18n" data-i18n="new_import"></summary>
                <div class="i18n" data-i18n="new_import_description">
                </div>
              </details>
              <details>
                <summary class="i18n" data-i18n="view_mode"></summary>
                <div class="i18n" data-i18n="view_mode_description">
                </div>
              </details>
              <details>
                <summary class="i18n" data-i18n="error_import"></summary>
                <div class="i18n" data-i18n="error_import_description">
                </div>
              </details>
              <details>
                <summary class="i18n" data-i18n="limitation"></summary>
                <div class="i18n" data-i18n="limitation_description">
                </div>
              </details>
              <!--<details>
                <summary>Outil(s) complémentaire(s)</summary>
                <p>
                Ce logiciel ne remplit qu'une et une seule fonction et tente de le faire au mieux. (principe KISS et philosophie Unix)
                A savoir, ajouter de l'interactivité à un document statique.
                </p>
                <p>
                Cependant, votre publication pourrait très bien être dédiée à être visible dans un Imagier.<br />
                Pour ce faire, il existe un outil dédié très proche de celui-ci et contenant une ergonomie partageant les mêmes codes.
                </p>
              </details>-->
            </div>
          </div>
        </div>
      </div>
      <div id="edit-copyright-modal" class="modal fade bs-edit-copyright-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title i18n" id="myModalLabel" data-i18n="edit_copyright"></h4>
            </div>
            <div class="modal-body">
                <div id="edit-copyright"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="delete-legend-modal" class="modal fade bs-delete-legend-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title i18n" id="myModalLabel" data-i18n="delete_legend"></h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-xs i18n" data-dismiss="modal" data-i18n="no"></button>
              <button type="button" onclick="delete_legend();" class="btn btn-primary btn-xs i18n" data-i18n="yes"></button>
            </div>
          </div>
        </div>
      </div>
      <div id="update-picture-modal" class="modal fade bs-update-picture-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title i18n" id="myModalLabel" data-i18n="update_pic"></h4>
            </div>
            <div class="modal-footer">
              <div id="upload-svg-zone" class="container">
                <form method="post" action="." enctype="multipart/form-data" novalidate="" class="box has-advanced-upload">
                  <div class="box__input">
                    <div id="download-pic" class="glyphicon glyphicon-download-alt" aria-hidden="true"></div>
                    <input type="file" name="files[]" id="file" class="box__file">
                    <label id="choose-file" for="file">
                      <div id="choose-file-zone">
                        <div>
                          <strong class="i18n" data-i18n="choose_a_file"></strong>
                          <span class="box__dragndrop i18n" data-i18n="drag_it_here"></span>
                        </div>
                    </div>
                    </label>
                    <label id="upload-text" class="hidden" for="file"></label>
                    <button type="submit" class="box__button i18n" data-i18n="upload"></button>
                  </div>
                  <div class="box__error i18n" data-i18n="error_try_again"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="delete-picture-modal" class="modal fade bs-delete-picture-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title i18n" id="myModalLabel" data-i18n="delete_pic_ans"></h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-xs i18n" data-dismiss="modal" data-i18n="no"></button>
              <button type="button" onclick="delete_pic();" class="btn btn-primary btn-xs i18n" data-i18n="yes"></button>
            </div>
          </div>
        </div>
      </div>
      <div id="load-picture-modal" class="modal fade bs-load-picture-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">
                <span class="i18n" data-i18n="loading_new_pic"></span><br />
                <span class="i18n" data-i18n="are_you_ok"></span>
              </h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-xs i18n" data-dismiss="modal" data-i18n="no"></button>
              <button type="button" onclick="replace_with_example();" class="btn btn-primary btn-xs i18n" data-i18n="yes"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade bs-unstable-errors-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            <h4 class="modal-title i18n" data-i18n="errors"></h4>
            <div class="i18n" data-i18n="error_unstable_version">
            </div>
        </div>
    </div>
</div>
<div id="errors-modal" class="modal fade bs-errors-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title i18n" id="myModalLabel" data-i18n="errors"></h4>
                <div id="error-file-not-supported" class="i18n" data-i18n="error_file_not_supported"></div>
            </div>
        </div>
    </div>
</div>
<div id="warnings-modal" class="modal fade bs-warnings-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title i18n" id="myModalLabel" data-i18n="warnings"></h4>
                <ol id="warning-list">
                    <li id="warning-style-detected"        class="hidden i18n" data-i18n="warning_style"></li>
                    <li id="warning-script-detected"       class="hidden i18n" data-i18n="warning_script"></li>
                    <li id="warning-viewbox-detected"      class="hidden i18n" data-i18n="warning_viewbox"></li>
                    <li id="warning-mask-tag-detected"     class="hidden i18n" data-i18n="warning_mask"></li>
                    <li id="warning-clipPath-tag-detected" class="hidden i18n" data-i18n="warning_clippath"></li>
                </ol>
            </div>
        </div>
    </div>
</div>

    </div>
    <div id="trumbowyg-icons">
      <svg xmlns="http://www.w3.org/2000/svg"><symbol id="trumbowyg-blockquote" viewBox="0 0 72 72"><path d="M21.3 31.9h-.6c.8-1.2 1.9-2.2 3.4-3.2 2.1-1.4 5-2.7 9.2-3.3l-1.4-8.9c-4.7.7-8.5 2.1-11.7 4-2.4 1.4-4.3 3.1-5.8 4.9-2.3 2.7-3.7 5.7-4.5 8.5-.8 2.8-1 5.4-1 7.5 0 2.3.3 4 .4 4.8 0 .1.1.3.1.4 1.2 5.4 6.1 9.5 11.9 9.5 6.7 0 12.2-5.4 12.2-12.2s-5.5-12-12.2-12zM49.5 31.9h-.6c.8-1.2 1.9-2.2 3.4-3.2 2.1-1.4 5-2.7 9.2-3.3l-1.4-8.9c-4.7.7-8.5 2.1-11.7 4-2.4 1.4-4.3 3.1-5.8 4.9-2.3 2.7-3.7 5.7-4.5 8.5-.8 2.8-1 5.4-1 7.5 0 2.3.3 4 .4 4.8 0 .1.1.3.1.4 1.2 5.4 6.1 9.5 11.9 9.5 6.7 0 12.2-5.4 12.2-12.2s-5.5-12-12.2-12z"/></symbol><symbol id="trumbowyg-bold" viewBox="0 0 72 72"><path d="M51.1 37.8c-1.1-1.4-2.5-2.5-4.2-3.3 1.2-.8 2.1-1.8 2.8-3 1-1.6 1.5-3.5 1.5-5.3 0-2-.6-4-1.7-5.8-1.1-1.8-2.8-3.2-4.8-4.1-2-.9-4.6-1.3-7.8-1.3h-16v42h16.3c2.6 0 4.8-.2 6.7-.7 1.9-.5 3.4-1.2 4.7-2.1 1.3-1 2.4-2.4 3.2-4.1.9-1.7 1.3-3.6 1.3-5.7.2-2.5-.5-4.7-2-6.6zM40.8 50.2c-.6.1-1.8.2-3.4.2h-9V38.5h8.3c2.5 0 4.4.2 5.6.6 1.2.4 2 1 2.7 2 .6.9 1 2 1 3.3 0 1.1-.2 2.1-.7 2.9-.5.9-1 1.5-1.7 1.9-.8.4-1.7.8-2.8 1zm2.6-20.4c-.5.7-1.3 1.3-2.5 1.6-.8.3-2.5.4-4.8.4h-7.7V21.6h7.1c1.4 0 2.6 0 3.6.1s1.7.2 2.2.4c1 .3 1.7.8 2.2 1.7.5.9.8 1.8.8 3-.1 1.3-.4 2.2-.9 3z"/></symbol><symbol id="trumbowyg-close" viewBox="0 0 72 72"><path d="M57 20.5l-5.4-5.4-15.5 15.5-15.6-15.5-5.4 5.4L30.7 36 15.1 51.5l5.4 5.4 15.6-15.5 15.5 15.5 5.4-5.4L41.5 36z"/></symbol><symbol id="trumbowyg-create-link" viewBox="0 0 72 72"><path d="M31.1 48.9l-6.7 6.7c-.8.8-1.6.9-2.1.9s-1.4-.1-2.1-.9L15 50.4c-1.1-1.1-1.1-3.1 0-4.2l6.1-6.1.2-.2 6.5-6.5c-1.2-.6-2.5-.9-3.8-.9-2.3 0-4.6.9-6.3 2.6L11 41.8c-3.5 3.5-3.5 9.2 0 12.7l5.2 5.2c1.7 1.7 4 2.6 6.3 2.6s4.6-.9 6.3-2.6l6.7-6.7c2.5-2.6 3.1-6.7 1.5-10l-5.9 5.9zM38.7 22.5l6.7-6.7c.8-.8 1.6-.9 2.1-.9s1.4.1 2.1.9l5.2 5.2c1.1 1.1 1.1 3.1 0 4.2l-6.1 6.1-.2.2L42 38c1.2.6 2.5.9 3.8.9 2.3 0 4.6-.9 6.3-2.6l6.7-6.7c3.5-3.5 3.5-9.2 0-12.7l-5.2-5.2c-1.7-1.7-4-2.6-6.3-2.6s-4.6.9-6.3 2.6l-6.7 6.7c-2.7 2.7-3.3 6.9-1.7 10.2l6.1-6.1c0 .1 0 .1 0 0z"/><path d="M44.2 30.5c.2-.2.4-.6.4-.9 0-.3-.1-.6-.4-.9l-2.3-2.3c-.3-.2-.6-.4-.9-.4-.3 0-.6.1-.9.4L25.9 40.6c-.2.2-.4.6-.4.9 0 .3.1.6.4.9l2.3 2.3c.2.2.6.4.9.4.3 0 .6-.1.9-.4l14.2-14.2zM49.9 55.4h-8.5v-5h8.5v-8.9h5.2v8.9h8.5v5h-8.5v8.9h-5.2v-8.9z"/></symbol><symbol id="trumbowyg-del" viewBox="0 0 72 72"><path d="M45.8 45c0 1-.3 1.9-.9 2.8-.6.9-1.6 1.6-3 2.1s-3.1.8-5 .8c-2.1 0-4-.4-5.7-1.1-1.7-.7-2.9-1.7-3.6-2.7-.8-1.1-1.3-2.6-1.5-4.5l-.1-.8-6.7.6v.9c.1 2.8.9 5.4 2.3 7.6 1.5 2.3 3.5 4 6.1 5.1 2.6 1.1 5.7 1.6 9.4 1.6 2.9 0 5.6-.5 8-1.6 2.4-1.1 4.3-2.7 5.6-4.7 1.3-2 2-4.2 2-6.5 0-1.6-.3-3.1-.9-4.5l-.2-.6H44c0 .1 1.8 2.3 1.8 5.5zM29 28.9c-.8-.8-1.2-1.7-1.2-2.9 0-.7.1-1.3.4-1.9.3-.6.7-1.1 1.4-1.6.6-.5 1.4-.9 2.5-1.1 1.1-.3 2.4-.4 3.9-.4 2.9 0 5 .6 6.3 1.7 1.3 1.1 2.1 2.7 2.4 5.1l.1.9 6.8-.5v-.9c-.1-2.5-.8-4.7-2.1-6.7s-3.2-3.5-5.6-4.5c-2.4-1-5.1-1.5-8.1-1.5-2.8 0-5.3.5-7.6 1.4-2.3 1-4.2 2.4-5.4 4.3-1.2 1.9-1.9 3.9-1.9 6.1 0 1.7.4 3.4 1.2 4.9l.3.5h11.8c-2.3-.9-3.9-1.7-5.2-2.9zm13.3-6.2zM22.7 20.3zM13 34.1h46.1v3.4H13z"/></symbol><symbol id="trumbowyg-em" viewBox="0 0 72 72"><path d="M26 57l10.1-42h7.2L33.2 57H26z"/></symbol><symbol id="trumbowyg-fullscreen" viewBox="0 0 72 72"><path d="M25.2 7.1H7.1v17.7l6.7-6.5 10.5 10.5 4.5-4.5-10.4-10.5zM47.2 7.1l6.5 6.7-10.5 10.5 4.5 4.5 10.5-10.4 6.7 6.8V7.1zM47.7 43.2l-4.5 4.5 10.4 10.5-6.8 6.7h18.1V47.2l-6.7 6.5zM24.3 43.2L13.8 53.6l-6.7-6.8v18.1h17.7l-6.5-6.7 10.5-10.5z"/><path fill="currentColor" d="M10.7 28.8h18.1V11.2l-6.6 6.4L11.6 7.1l-4.5 4.5 10.5 10.5zM60.8 28.8l-6.4-6.6 10.5-10.6-4.5-4.5-10.5 10.5-6.7-6.9v18.1zM60.4 64.9l4.5-4.5-10.5-10.5 6.9-6.7H43.2v17.6l6.6-6.4zM11.6 64.9l10.5-10.5 6.7 6.9V43.2H11.1l6.5 6.6L7.1 60.4z"/></symbol><symbol id="trumbowyg-h1" viewBox="0 0 72 72"><path d="M6.4 14.9h7.4v16.7h19.1V14.9h7.4V57h-7.4V38H13.8v19H6.4V14.9zM47.8 22.5c1.4 0 2.8-.1 4.1-.4 1.3-.2 2.5-.6 3.6-1.2 1.1-.5 2-1.3 2.8-2.1.8-.9 1.3-1.9 1.5-3.2h5.5v41.2h-7.4v-29H47.8v-5.3z"/></symbol><symbol id="trumbowyg-h2" viewBox="0 0 72 72"><path d="M1.5 14.9h7.4v16.7H28V14.9h7.4V57H28V38H8.8v19H1.5V14.9zM70.2 56.9H42c0-3.4.9-6.4 2.5-9s3.8-4.8 6.6-6.7c1.3-1 2.7-1.9 4.2-2.9 1.5-.9 2.8-1.9 4-3 1.2-1.1 2.2-2.2 3-3.4.8-1.2 1.2-2.7 1.2-4.3 0-.7-.1-1.5-.3-2.4s-.5-1.6-1-2.4c-.5-.7-1.2-1.3-2.1-1.8-.9-.5-2.1-.7-3.5-.7-1.3 0-2.4.3-3.3.8s-1.6 1.3-2.1 2.2-.9 2-1.2 3.3c-.3 1.3-.4 2.6-.4 4.1h-6.7c0-2.3.3-4.4.9-6.3.6-1.9 1.5-3.6 2.7-5 1.2-1.4 2.7-2.5 4.4-3.3 1.7-.8 3.8-1.2 6.1-1.2 2.5 0 4.6.4 6.3 1.2 1.7.8 3.1 1.9 4.1 3.1 1 1.3 1.8 2.6 2.2 4.1.4 1.5.6 2.9.6 4.2 0 1.6-.3 3.1-.8 4.5-.5 1.3-1.2 2.6-2.1 3.7-.9 1.1-1.8 2.2-2.9 3.1-1.1.9-2.2 1.8-3.4 2.7-1.2.8-2.4 1.6-3.5 2.4-1.2.7-2.3 1.5-3.3 2.2-1 .7-1.9 1.5-2.6 2.3-.7.8-1.3 1.7-1.5 2.6h20.1v5.9z"/></symbol><symbol id="trumbowyg-h3" viewBox="0 0 72 72"><path d="M1.4 14.5h7.4v16.7h19.1V14.5h7.4v42.1h-7.4v-19H8.8v19H1.4V14.5zM53.1 32.4c1.1 0 2.2 0 3.3-.2 1.1-.2 2.1-.5 2.9-1 .9-.5 1.6-1.2 2.1-2 .5-.9.8-1.9.8-3.2 0-1.8-.6-3.2-1.8-4.2-1.2-1.1-2.7-1.6-4.6-1.6-1.2 0-2.2.2-3.1.7-.9.5-1.6 1.1-2.2 1.9-.6.8-1 1.7-1.3 2.7-.3 1-.4 2-.4 3.1h-6.7c.1-2 .5-3.9 1.1-5.6.7-1.7 1.6-3.2 2.7-4.4s2.6-2.2 4.2-2.9c1.6-.7 3.5-1.1 5.6-1.1 1.6 0 3.2.2 4.7.7 1.6.5 2.9 1.2 4.2 2.1 1.2.9 2.2 2.1 3 3.4.7 1.4 1.1 3 1.1 4.8 0 2.1-.5 3.9-1.4 5.4-.9 1.6-2.4 2.7-4.4 3.4v.1c2.4.5 4.2 1.6 5.5 3.5 1.3 1.9 2 4.1 2 6.8 0 2-.4 3.7-1.2 5.3-.8 1.6-1.8 2.9-3.2 3.9-1.3 1.1-2.9 1.9-4.7 2.5-1.8.6-3.6.9-5.6.9-2.4 0-4.5-.3-6.3-1s-3.3-1.7-4.5-2.9c-1.2-1.3-2.1-2.8-2.7-4.5-.6-1.8-1-3.7-1-5.9h6.7c-.1 2.5.5 4.6 1.9 6.3 1.3 1.7 3.3 2.5 5.9 2.5 2.2 0 4.1-.6 5.6-1.9 1.5-1.3 2.3-3.1 2.3-5.4 0-1.6-.3-2.9-.9-3.8-.6-.9-1.5-1.7-2.5-2.2-1-.5-2.2-.8-3.4-.9-1.3-.1-2.6-.2-3.9-.1v-5.2z"/></symbol><symbol id="trumbowyg-h4" viewBox="0 0 72 72"><path d="M1.5 14.9h7.4v16.7H28V14.9h7.4V57H28V38H8.9v19H1.5V14.9zM70.5 47.2h-5.3V57h-6.4v-9.8H41.2v-6.7l17.7-24.8h6.4v26.2h5.3v5.3zm-24.2-5.3h12.5V23.7h-.1L46.3 41.9z"/></symbol><symbol id="trumbowyg-horizontal-rule" viewBox="0 0 72 72"><path d="M9.1 32h54v8h-54z"/></symbol>
      <symbol id="trumbowyg-italic" viewBox="0 0 72 72"><path d="M26 57l10.1-42h7.2L33.2 57H26z"/></symbol><symbol id="trumbowyg-justify-center" viewBox="0 0 72 72"><path d="M9 14h54v8H9zM9 50h54v8H9zM18 32h36v8H18z"/></symbol><symbol id="trumbowyg-justify-full" viewBox="0 0 72 72"><path d="M9 14h54v8H9zM9 50h54v8H9zM9 32h54v8H9z"/></symbol><symbol id="trumbowyg-justify-left" viewBox="0 0 72 72"><path d="M9 14h54v8H9zM9 50h54v8H9zM9 32h36v8H9z"/></symbol><symbol id="trumbowyg-justify-right" viewBox="0 0 72 72"><path d="M9 14h54v8H9zM9 50h54v8H9zM27 32h36v8H27z"/></symbol><symbol id="trumbowyg-link" viewBox="0 0 72 72"><path d="M30.9 49.1l-6.7 6.7c-.8.8-1.6.9-2.1.9s-1.4-.1-2.1-.9l-5.2-5.2c-1.1-1.1-1.1-3.1 0-4.2l6.1-6.1.2-.2 6.5-6.5c-1.2-.6-2.5-.9-3.8-.9-2.3 0-4.6.9-6.3 2.6L10.8 42c-3.5 3.5-3.5 9.2 0 12.7l5.2 5.2c1.7 1.7 4 2.6 6.3 2.6s4.6-.9 6.3-2.6l6.7-6.7C38 50.5 38.6 46.3 37 43l-6.1 6.1zM38.5 22.7l6.7-6.7c.8-.8 1.6-.9 2.1-.9s1.4.1 2.1.9l5.2 5.2c1.1 1.1 1.1 3.1 0 4.2l-6.1 6.1-.2.2-6.5 6.5c1.2.6 2.5.9 3.8.9 2.3 0 4.6-.9 6.3-2.6l6.7-6.7c3.5-3.5 3.5-9.2 0-12.7l-5.2-5.2c-1.7-1.7-4-2.6-6.3-2.6s-4.6.9-6.3 2.6l-6.7 6.7c-2.7 2.7-3.3 6.9-1.7 10.2l6.1-6.1z"/><path d="M44.1 30.7c.2-.2.4-.6.4-.9 0-.3-.1-.6-.4-.9l-2.3-2.3c-.2-.2-.6-.4-.9-.4-.3 0-.6.1-.9.4L25.8 40.8c-.2.2-.4.6-.4.9 0 .3.1.6.4.9l2.3 2.3c.2.2.6.4.9.4.3 0 .6-.1.9-.4l14.2-14.2z"/></symbol><symbol id="trumbowyg-ordered-list" viewBox="0 0 72 72"><path d="M27 14h36v8H27zM27 50h36v8H27zM27 32h36v8H27zM11.8 15.8V22h1.8v-7.8h-1.5l-2.1 1 .3 1.3zM12.1 38.5l.7-.6c1.1-1 2.1-2.1 2.1-3.4 0-1.4-1-2.4-2.7-2.4-1.1 0-2 .4-2.6.8l.5 1.3c.4-.3 1-.6 1.7-.6.9 0 1.3.5 1.3 1.1 0 .9-.9 1.8-2.6 3.3l-1 .9V40H15v-1.5h-2.9zM13.3 53.9c1-.4 1.4-1 1.4-1.8 0-1.1-.9-1.9-2.6-1.9-1 0-1.9.3-2.4.6l.4 1.3c.3-.2 1-.5 1.6-.5.8 0 1.2.3 1.2.8 0 .7-.8.9-1.4.9h-.7v1.3h.7c.8 0 1.6.3 1.6 1.1 0 .6-.5 1-1.4 1-.7 0-1.5-.3-1.8-.5l-.4 1.4c.5.3 1.3.6 2.3.6 2 0 3.2-1 3.2-2.4 0-1.1-.8-1.8-1.7-1.9z"/></symbol><symbol id="trumbowyg-p" viewBox="0 0 72 72"><path d="M47.8 15.1H30.1c-4.7 0-8.5 3.7-8.5 8.4s3.7 8.4 8.4 8.4v25h7V19.8h3v37.1h4.1V19.8h3.7v-4.7z"/></symbol><symbol id="trumbowyg-redo" viewBox="0 0 72 72"><path d="M10.8 51.2c0-5.1 2.1-9.7 5.4-13.1 3.3-3.3 8-5.4 13.1-5.4H46v-12L61.3 36 45.9 51.3V39.1H29.3c-3.3 0-6.4 1.3-8.5 3.5-2.2 2.2-3.5 5.2-3.5 8.5h-6.5z"/></symbol><symbol id="trumbowyg-removeformat" viewBox="0 0 72 72"><path d="M58.2 54.6L52 48.5l3.6-3.6 6.1 6.1 6.4-6.4 3.8 3.8-6.4 6.4 6.1 6.1-3.6 3.6-6.1-6.1-6.4 6.4-3.7-3.8 6.4-6.4zM21.7 52.1H50V57H21.7zM18.8 15.2h34.1v6.4H39.5v24.2h-7.4V21.5H18.8v-6.3z"/></symbol><symbol id="trumbowyg-strikethrough" viewBox="0 0 72 72"><path d="M45.8 45c0 1-.3 1.9-.9 2.8-.6.9-1.6 1.6-3 2.1s-3.1.8-5 .8c-2.1 0-4-.4-5.7-1.1-1.7-.7-2.9-1.7-3.6-2.7-.8-1.1-1.3-2.6-1.5-4.5l-.1-.8-6.7.6v.9c.1 2.8.9 5.4 2.3 7.6 1.5 2.3 3.5 4 6.1 5.1 2.6 1.1 5.7 1.6 9.4 1.6 2.9 0 5.6-.5 8-1.6 2.4-1.1 4.3-2.7 5.6-4.7 1.3-2 2-4.2 2-6.5 0-1.6-.3-3.1-.9-4.5l-.2-.6H44c0 .1 1.8 2.3 1.8 5.5zM29 28.9c-.8-.8-1.2-1.7-1.2-2.9 0-.7.1-1.3.4-1.9.3-.6.7-1.1 1.4-1.6.6-.5 1.4-.9 2.5-1.1 1.1-.3 2.4-.4 3.9-.4 2.9 0 5 .6 6.3 1.7 1.3 1.1 2.1 2.7 2.4 5.1l.1.9 6.8-.5v-.9c-.1-2.5-.8-4.7-2.1-6.7s-3.2-3.5-5.6-4.5c-2.4-1-5.1-1.5-8.1-1.5-2.8 0-5.3.5-7.6 1.4-2.3 1-4.2 2.4-5.4 4.3-1.2 1.9-1.9 3.9-1.9 6.1 0 1.7.4 3.4 1.2 4.9l.3.5h11.8c-2.3-.9-3.9-1.7-5.2-2.9zm13.3-6.2zM22.7 20.3zM13 34.1h46.1v3.4H13z"/></symbol><symbol id="trumbowyg-strong" viewBox="0 0 72 72"><path d="M51.1 37.8c-1.1-1.4-2.5-2.5-4.2-3.3 1.2-.8 2.1-1.8 2.8-3 1-1.6 1.5-3.5 1.5-5.3 0-2-.6-4-1.7-5.8-1.1-1.8-2.8-3.2-4.8-4.1-2-.9-4.6-1.3-7.8-1.3h-16v42h16.3c2.6 0 4.8-.2 6.7-.7 1.9-.5 3.4-1.2 4.7-2.1 1.3-1 2.4-2.4 3.2-4.1.9-1.7 1.3-3.6 1.3-5.7.2-2.5-.5-4.7-2-6.6zM40.8 50.2c-.6.1-1.8.2-3.4.2h-9V38.5h8.3c2.5 0 4.4.2 5.6.6 1.2.4 2 1 2.7 2 .6.9 1 2 1 3.3 0 1.1-.2 2.1-.7 2.9-.5.9-1 1.5-1.7 1.9-.8.4-1.7.8-2.8 1zm2.6-20.4c-.5.7-1.3 1.3-2.5 1.6-.8.3-2.5.4-4.8.4h-7.7V21.6h7.1c1.4 0 2.6 0 3.6.1s1.7.2 2.2.4c1 .3 1.7.8 2.2 1.7.5.9.8 1.8.8 3-.1 1.3-.4 2.2-.9 3z"/></symbol><symbol id="trumbowyg-subscript" viewBox="0 0 72 72"><path d="M32 15h7.8L56 57.1h-7.9L44.3 46H27.4l-4 11.1h-7.6L32 15zm-2.5 25.4h12.9L36 22.3h-.2l-6.3 18.1zM58.7 59.9c.6-1.4 2-2.8 4.1-4.4 1.9-1.3 3.1-2.3 3.7-2.9.8-.9 1.3-1.9 1.3-3 0-.9-.2-1.6-.7-2.2-.5-.6-1.2-.9-2.1-.9-1.2 0-2.1.5-2.5 1.4-.3.5-.4 1.4-.5 2.5h-4c.1-1.8.4-3.2 1-4.3 1.1-2.1 3-3.1 5.8-3.1 2.2 0 3.9.6 5.2 1.8 1.3 1.2 1.9 2.8 1.9 4.8 0 1.5-.5 2.9-1.4 4.1-.6.8-1.6 1.7-3 2.6L66 57.7c-1 .7-1.7 1.2-2.1 1.6-.4.3-.7.7-1 1.1H72V64H57.8c0-1.5.3-2.8.9-4.1z"/></symbol><symbol id="trumbowyg-superscript" viewBox="0 0 72 72"><path d="M32 15h7.8L56 57.1h-7.9l-4-11.1H27.4l-4 11.1h-7.6L32 15zm-2.5 25.4h12.9L36 22.3h-.2l-6.3 18.1zM49.6 28.8c.5-1.1 1.6-2.3 3.4-3.6 1.5-1.1 2.5-1.9 3-2.4.7-.7 1-1.6 1-2.4 0-.7-.2-1.3-.6-1.8-.4-.5-1-.7-1.7-.7-1 0-1.7.4-2.1 1.1-.2.4-.3 1.1-.4 2.1H49c.1-1.5.3-2.6.8-3.5.9-1.7 2.5-2.6 4.8-2.6 1.8 0 3.2.5 4.3 1.5 1.1 1 1.6 2.3 1.6 4 0 1.3-.4 2.4-1.1 3.4-.5.7-1.3 1.4-2.4 2.2l-1.3 1c-.8.6-1.4 1-1.7 1.3-.3.3-.6.6-.8.9h7.4v3H48.8c0-1.3.3-2.4.8-3.5z"/></symbol><symbol id="trumbowyg-table" viewBox="0 0 72 72"><path d="M25.686 51.38v-6.347q0-.462-.297-.76-.298-.297-.761-.297H14.04q-.463 0-.761.297-.298.298-.298.76v6.346q0 .463.298.76.298.298.76.298h10.589q.463 0 .76-.298.298-.297.298-.76zm0-12.692v-6.346q0-.463-.297-.76-.298-.298-.761-.298H14.04q-.463 0-.761.298-.298.297-.298.76v6.346q0 .462.298.76.298.297.76.297h10.589q.463 0 .76-.297.298-.298.298-.76zm16.94 12.691v-6.346q0-.462-.297-.76-.298-.297-.761-.297H30.98q-.463 0-.76.297-.299.298-.299.76v6.346q0 .463.298.76.298.298.761.298h10.588q.463 0 .76-.298.299-.297.299-.76zm-16.94-25.383v-6.345q0-.463-.297-.76-.298-.298-.761-.298H14.04q-.463 0-.761.297-.298.298-.298.76v6.346q0 .463.298.76.298.298.76.298h10.589q.463 0 .76-.298.298-.297.298-.76zm16.94 12.692v-6.346q0-.463-.297-.76-.298-.298-.761-.298H30.98q-.463 0-.76.298-.299.297-.299.76v6.346q0 .462.298.76.298.297.761.297h10.588q.463 0 .76-.297.299-.298.299-.76zm16.94 12.691v-6.346q0-.462-.297-.76-.298-.297-.76-.297H47.92q-.463 0-.76.297-.298.298-.298.76v6.346q0 .463.297.76.298.298.761.298h10.588q.463 0 .761-.298.298-.297.298-.76zm-16.94-25.383v-6.345q0-.463-.297-.76-.298-.298-.761-.298H30.98q-.463 0-.76.297-.299.298-.299.76v6.346q0 .463.298.76.298.298.761.298h10.588q.463 0 .76-.298.299-.297.299-.76zm16.94 12.692v-6.346q0-.463-.297-.76-.298-.298-.76-.298H47.92q-.463 0-.76.298-.298.297-.298.76v6.346q0 .462.297.76.298.297.761.297h10.588q.463 0 .761-.297.298-.298.298-.76zm0-12.692v-6.345q0-.463-.297-.76-.298-.298-.76-.298H47.92q-.463 0-.76.297-.298.298-.298.76v6.346q0 .463.297.76.298.298.761.298h10.588q.463 0 .761-.298.298-.297.298-.76zm4.236-10.576v35.96q0 2.18-1.555 3.734-1.555 1.553-3.739 1.553H14.04q-2.184 0-3.739-1.553-1.555-1.553-1.555-3.735V15.42q0-2.181 1.555-3.735 1.555-1.553 3.739-1.553h44.468q2.184 0 3.739 1.553 1.555 1.554 1.555 3.735z"/></symbol><symbol id="trumbowyg-underline" viewBox="0 0 72 72"><path d="M36 35zM15.2 55.9h41.6V59H15.2zM21.1 13.9h6.4v21.2c0 1.2.1 2.5.2 3.7.1 1.3.5 2.4 1 3.4.6 1 1.4 1.8 2.6 2.5 1.1.6 2.7 1 4.8 1 2.1 0 3.7-.3 4.8-1 1.1-.6 2-1.5 2.6-2.5.6-1 .9-2.1 1-3.4.1-1.3.2-2.5.2-3.7V13.9H51v23.3c0 2.3-.4 4.4-1.1 6.1-.7 1.7-1.7 3.2-3 4.4-1.3 1.2-2.9 2-4.7 2.6-1.8.6-3.9.9-6.1.9-2.2 0-4.3-.3-6.1-.9-1.8-.6-3.4-1.5-4.7-2.6-1.3-1.2-2.3-2.6-3-4.4-.7-1.7-1.1-3.8-1.1-6.1V13.9z"/></symbol><symbol id="trumbowyg-undo" viewBox="0 0 72 72"><path d="M61.2 51.2c0-5.1-2.1-9.7-5.4-13.1-3.3-3.3-8-5.4-13.1-5.4H26.1v-12L10.8 36l15.3 15.3V39.1h16.7c3.3 0 6.4 1.3 8.5 3.5 2.2 2.2 3.5 5.2 3.5 8.5h6.4z"/></symbol><symbol id="trumbowyg-unlink" viewBox="0 0 72 72"><path d="M30.9 49.1l-6.7 6.7c-.8.8-1.6.9-2.1.9s-1.4-.1-2.1-.9l-5.2-5.2c-1.1-1.1-1.1-3.1 0-4.2l6.1-6.1.2-.2 6.5-6.5c-1.2-.6-2.5-.9-3.8-.9-2.3 0-4.6.9-6.3 2.6L10.8 42c-3.5 3.5-3.5 9.2 0 12.7l5.2 5.2c1.7 1.7 4 2.6 6.3 2.6s4.6-.9 6.3-2.6l6.7-6.7C38 50.5 38.6 46.3 37 43l-6.1 6.1zM38.5 22.7l6.7-6.7c.8-.8 1.6-.9 2.1-.9s1.4.1 2.1.9l5.2 5.2c1.1 1.1 1.1 3.1 0 4.2l-6.1 6.1-.2.2-6.5 6.5c1.2.6 2.5.9 3.8.9 2.3 0 4.6-.9 6.3-2.6l6.7-6.7c3.5-3.5 3.5-9.2 0-12.7l-5.2-5.2c-1.7-1.7-4-2.6-6.3-2.6s-4.6.9-6.3 2.6l-6.7 6.7c-2.7 2.7-3.3 6.9-1.7 10.2l6.1-6.1z"/><path d="M44.1 30.7c.2-.2.4-.6.4-.9 0-.3-.1-.6-.4-.9l-2.3-2.3c-.2-.2-.6-.4-.9-.4-.3 0-.6.1-.9.4L25.8 40.8c-.2.2-.4.6-.4.9 0 .3.1.6.4.9l2.3 2.3c.2.2.6.4.9.4.3 0 .6-.1.9-.4l14.2-14.2zM41.3 55.8v-5h22.2v5H41.3z"/></symbol><symbol id="trumbowyg-unordered-list" viewBox="0 0 72 72"><path d="M27 14h36v8H27zM27 50h36v8H27zM9 50h9v8H9zM9 32h9v8H9zM9 14h9v8H9zM27 32h36v8H27z"/></symbol><symbol id="trumbowyg-view-html" viewBox="0 0 72 72"><path fill="none" stroke="currentColor" stroke-width="8" stroke-miterlimit="10" d="M26.9 17.9L9 36.2 26.9 54M45 54l17.9-18.3L45 17.9"/></symbol>
      <symbol id="trumbowyg-base64" viewBox="0 0 72 72">
       <path d="M64 17v38H8V17h56m8-8H0v54h72V9z"/>
       <path d="M17.5 22C15 22 13 24 13 26.5s2 4.5 4.5 4.5 4.5-2 4.5-4.5-2-4.5-4.5-4.5zM16 50h27L29.5 32zM36 36.2l8.9-8.5L60.2 50H45.9S35.6 35.9 36 36.2z"/>
      </symbol>
      <symbol id="trumbowyg-insert-audio" viewBox="0 0 8 8"><path d="M3.344 0L2 2H0v4h2l1.344 2H4V0h-.656zM5 1v1c.152 0 .313.026.469.063H5.5c.86.215 1.5.995 1.5 1.938a1.99 1.99 0 0 1-2 2.001v1a2.988 2.988 0 0 0 3-3 2.988 2.988 0 0 0-3-3zm0 2v2l.25-.031C5.683 4.851 6 4.462 6 4c0-.446-.325-.819-.75-.938v-.031h-.031L5 3z"/></symbol><symbol id="trumbowyg-noembed" viewBox="0 0 72 72"><path d="M31.5 33.6V25l11 11-11 11v-8.8z"/><path d="M64 17v38H8V17h56m8-8H0v54h72V9z"/></symbol><symbol id="trumbowyg-preformatted" viewBox="0 0 72 72"><path d="M10.3 33.5c.4 0 .9-.1 1.5-.2s1.2-.3 1.8-.7c.6-.3 1.1-.8 1.5-1.3.4-.5.6-1.3.6-2.1V17.1c0-1.4.3-2.6.8-3.6s1.2-1.9 2-2.5c.8-.7 1.6-1.2 2.5-1.5.9-.3 1.6-.5 2.2-.5h5.3v5.3h-3.2c-.7 0-1.3.1-1.8.4-.4.3-.8.6-1 1-.2.4-.4.9-.4 1.3-.1.5-.1.9-.1 1.4v11.4c0 1.2-.2 2.1-.7 2.9-.5.8-1 1.4-1.7 1.8-.6.4-1.3.8-2 1-.7.2-1.3.3-1.7.4v.1c.5 0 1 .1 1.7.3.7.2 1.3.5 2 .9.6.5 1.2 1.1 1.7 1.9.5.8.7 2 .7 3.4v11.1c0 .4 0 .9.1 1.4.1.5.2.9.4 1.3s.6.7 1 1c.4.3 1 .4 1.8.4h3.2V63h-5.3c-.6 0-1.4-.2-2.2-.5-.9-.3-1.7-.8-2.5-1.5s-1.4-1.5-2-2.5c-.5-1-.8-2.2-.8-3.6V43.5c0-.9-.2-1.7-.6-2.3-.4-.6-.9-1.1-1.5-1.5-.6-.4-1.2-.6-1.8-.7-.6-.1-1.1-.2-1.5-.2v-5.3zM61.8 38.7c-.4 0-1 .1-1.6.2-.6.1-1.2.4-1.8.7-.6.3-1.1.7-1.5 1.3-.4.5-.6 1.3-.6 2.1v12.1c0 1.4-.3 2.6-.8 3.6s-1.2 1.9-2 2.5c-.8.7-1.6 1.2-2.5 1.5-.9.3-1.6.5-2.2.5h-5.3v-5.3h3.2c.7 0 1.3-.1 1.8-.4.4-.3.8-.6 1-1 .2-.4.4-.9.4-1.3.1-.5.1-.9.1-1.4V42.3c0-1.2.2-2.1.7-2.9.5-.8 1-1.4 1.7-1.8.6-.4 1.3-.8 2-1 .7-.2 1.3-.3 1.7-.4v-.1c-.5 0-1-.1-1.7-.3-.7-.2-1.3-.5-2-.9-.6-.4-1.2-1.1-1.7-1.9-.5-.8-.7-2-.7-3.4V18.5c0-.4 0-.9-.1-1.4-.1-.5-.2-.9-.4-1.3s-.6-.7-1-1c-.4-.3-1-.4-1.8-.4h-3.2V9.1h5.3c.6 0 1.4.2 2.2.5.9.3 1.7.8 2.5 1.5s1.4 1.5 2 2.5c.5 1 .8 2.2.8 3.6v11.6c0 .9.2 1.7.6 2.3.4.6.9 1.1 1.5 1.5.6.4 1.2.6 1.8.7.6.1 1.2.2 1.6.2v5.2z"/></symbol><symbol id="trumbowyg-upload" viewBox="0 0 72 72"><path d="M64 27v28H8V27H0v36h72V27h-8z"/><path d="M32.1 6.7h8v33.6h-8z"/><path d="M48 35.9L36 49.6 24 36h24z"/></symbol></svg>
    </div>
    <script type="text/javascript" src="./static/jquery.min.js"></script>
<script type="text/javascript" src="./static/bootstrap_3.3.7.min.js"></script>
<script type="text/javascript" src="./static/FileSaver.min.js"></script>
<script type="text/javascript" src="./static/dragula_3.7.2.min.js"></script>
<script type="text/javascript" src="./static/trumbowyg.2.7.2.min.js"></script>
<script type="text/javascript" src="./static/trumbowyg.base64.js"></script>
<script type="text/javascript" src="./static/spectrum.1.8.0.min.js"></script>
<script type="text/javascript" src="./static/drag_and_drop_file.js"></script>
<script type="text/javascript" src="./static/errors_and_warnings.js"></script>
<script type="text/javascript" src="./static/export/script.js"></script>
<script type="text/javascript" src="./static/colors.js"></script>
<script type="text/javascript" src="./static/script.js"></script>
<script type="text/javascript" src="./static/action_key.js"></script>
<script type="text/javascript" src="./static/export.js"></script>
<script type="text/javascript" src="./static/populate.js"></script>
<script type="text/javascript" src="./static/load_examples.js"></script>
<script type="text/javascript" src="./static/retro_compatibility.js"></script>
<script type="text/javascript" src="./static/locale/fr.js"></script>
<script type="text/javascript" src="./static/locale/trumbowyg/fr.js"></script>

  {% include 'templates/global.js.html' %}
</body>
</html>
