body {
  font-size: Serif;
  background-color: white;
}

h1 {
  text-align: center;
}

img {
  border: solid 1px black;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}
#corps {
  width: 17cm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#entete {
  width: 17cm;
  height: 3cm;
}

#zone-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin: auto; */
  margin-bottom: 2%;
}

@media print {
 .noprint {
    display: none;
  }
}