<!DOCTYPE html>
<html lang="fr">
<head>
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

	<title>LectOrBus - Pragmactivité</title>
	<meta name="description" content="Application Web pédagogique multijoueur qui permet de générer automatiquement des activités interactives d'entraînement à la lecture et à l'orthographe, du cycle 1 au cycle 3, à partir de mots, phrases ou textes" />
	<link rel="icon" href="favicon.ico" />
	<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /><![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/jquery-ui.css" />
	<link rel="stylesheet" href="css/keyboard.css">
	<link rel="stylesheet" href="css/lectorbus.css">
	<script src="js/jquery-1.12.4.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="js/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
	<script src="js/magictouch.js" type="text/javascript"></script>
	<script src="js/keyboard.js" type="text/javascript"></script>
	<script src="js/clipboard.min.js" type="text/javascript"></script>
	<script src="js/wordfind.js" type="text/javascript"></script>
	<script src="js/jquery.qrcode.min.js" type="text/javascript"></script>
	<script src="js/lectorbus.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		window.onload = function(){
			element = document.getElementById('message_avertissement_javascript');
			element.parentNode.removeChild(element);
		}
		var browser = navigator.appName;
		var ver = navigator.appVersion;
		var thestart = parseFloat(ver.indexOf("MSIE"))+1;
		var brow_ver = parseFloat(ver.substring(thestart+4,thestart+7));
	</script>

<style>
    .navbar-default {
        margin-left: 6rem;
    }
</style>
</head>
	
<body>
{% include 'templates/widget_back_menu.html' %}

	
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a style="display:none;" class="navbar-brand" href="../../pragmactivites_menu/index.html" title="Découvrir toutes les pragmactivités..."><b><span class="glyphicon glyphicon-hand-left"></span></b></a>
			<a class="navbar-brand" href="index.html" title="Accueil de LectOrBus"><b>LectOrBus</b></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<button id="bt_accueil" data-cycle="accueil" class="btn btn-success navbar-btn bt_choix_cycle gras">Accueil</button>
			<button id="bt_cycle1" data-cycle="cycle1" class="btn btn-primary navbar-btn bt_choix_cycle">Cycle 1</button>
			<button id="bt_cycle2" data-cycle="cycle2" class="btn btn-primary navbar-btn bt_choix_cycle">Cycle 2</button>
			<button id="bt_cycle3" data-cycle="cycle3" class="btn btn-primary navbar-btn bt_choix_cycle">Cycle 3</button>
			<button onclick="window.location.href='act.html'" class="btn btn-primary navbar-btn" style="" title="Accéder à l'interface complète">Tous cycles</button>
			<ul class="nav navbar-nav navbar-right">
				<span class="navbar-brand pointer ecran_choix" title="À propos de LectOrBus..." onclick="infosLectorbus();"><span class="glyphicon glyphicon-info-sign"></span></span>
			</ul>
		</div>	
	</div>
</nav>

<div class="container" style="margin-top: 3rem;">
	
	<div class="row ecran_choix">
	
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 presentation_cycles accueil">

			<div id="carousel_accueil" class="carousel slide" data-interval="6000" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel_accueil" data-slide-to="0" class="active"></li>
					<li data-target="#carousel_accueil" data-slide-to="1"></li>
					<li data-target="#carousel_accueil" data-slide-to="2"></li>
					<li data-target="#carousel_accueil" data-slide-to="3"></li>
				</ol>   
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="images/carousel/intro.jpg" alt="Image 1">
						<!-- <div class="carousel-caption"> -->
							<!-- <h3>First slide label</h3> -->
							<!-- <p>Lorem ipsum dolor sit amet...</p> -->
						<!-- </div> -->
					</div>
					<div class="item">
						<img src="images/carousel/multijoueur.jpg" alt="Image 4">
					</div>
					<div class="item">
						<img src="images/carousel/multiplateforme.jpg" alt="Image 3">
					</div>
					<div class="item">
						<img src="images/carousel/gratuite.jpg" alt="Image 2">
					</div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#carousel_accueil" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="carousel-control right" href="#carousel_accueil" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		
		</div>
		
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 presentation_cycles accueil">
			<img class="img-responsive" src="images/logo_lectorbus_256.png" style="margin:0 auto 10px auto; width:200px;">
			<button id="voir_doc" onclick="" class="btn btn-info btn-block" title=""><span class="glyphicon glyphicon-book"></span> Documentation</button>
			<button onclick="infosLectorbus();" class="btn btn-info btn-block" title=""><span class="glyphicon glyphicon-download-alt"></span> Téléchargement</button>
		</div>
		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 presentation_cycles cycle1 ombre_autour_5" style="display:none; background-color:#F8F8F8; margin-bottom:20px;"></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 presentation_cycles cycle2 ombre_autour_5" style="display:none; background-color:#F8F8F8; margin-bottom:20px;"></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 presentation_cycles cycle3 ombre_autour_5" style="display:none; background-color:#F8F8F8; margin-bottom:20px;"></div>
		
	</div>

	
	<div class="avertissement_navigateur" id="message_avertissement_javascript" style="text-align:center; margin-top:10px;">
		<b>Patience...</b> Javascript doit être activé sur votre navigateur pour que cette application fonctionne ! Avec Internet Explorer, en local, il faut "autoriser le contenu bloqué".
	</div>
	
	<div id="si_ie" class="avertissement_navigateur">
		<img style="float:right" src="images/logo_avertissement-ie.jpg" />
		<p><b>Vous utilisez un navigateur Web obsolète ou Javascript est désactivé !</b></p>
		<p>Pour que cette application fonctionne, il est nécessaire de télécharger et installer un navigateur "moderne", tel que <a target="_blank" href="https://www.mozilla.org/fr/firefox/new/">Mozilla Firefox</a> par exemple.</p>
		<p>Si cet ordinateur n'est pas connecté à Internet, <a target="_blank" href="http://portableapps.com/apps/internet/firefox_portable/localization">téléchargez une version portable de Firefox</a> et copiez-la sur cet ordinateur pour l'installer...</p>
		<div style="clear:both"></div>
	</div>
	
	<div id="imprimer_doc" class="ombre_autour_15" style="display:none; background-color:#FFF; margin:0 auto 20px auto; max-width:700px;"></div>

</div> <!-- fin class="container" -->



<!-- Fenêtre modale pour l'affichage de A propos -->
<div class="modal fade" id="modale_infos" role="dialog"></div>

<!-- Fenêtre modale pour l'affichage de Comment jouer -->
<div class="modal fade" id="modale_comment_jouer" role="dialog"></div>

<!-- Fenêtre modale pour l'affichage de l'aide-->
<div class="modal fade" id="modale_aide_jeu" role="dialog"></div>

<!-- Fenêtre modale de saisie du nom de l'activité exportée -->
<div class="modal fade" id="modale_exporter" role="dialog"></div>

<!-- Fenêtre modale de paramétrage -->
<div class="modal fade" id="modale_parametres" role="dialog" data-backdrop="static"></div>

<!-- Fenêtre modale aide contextuelle -->
<div class="modal fade" id="modale_aide_contextuelle" role="dialog"></div>

<!-- Fenêtre modale générique -->
<div class="modal fade" id="modale_generique" role="dialog"></div>

<script type="text/javascript">
	document.getElementById('si_ie').style.display = 'none';
	if ((browser=="Microsoft Internet Explorer") && (brow_ver < 9)) {
		document.getElementById('si_ie').style.display = 'block';
	}
	retourHaut();
</script>
<script src="js/data.js"></script>

{% include 'templates/global.js.html' %}
</body>
</html>