<!DOCTYPE html>
<html lang="fr">
<head>
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css?version=COMMITHASH" rel="stylesheet" type="text/css">
    <title>Générateur de Cartes de Nomenclature</title>

</head>
<body>
{% include 'templates/widget_back_menu.html' %}

    <div class="container">
        <div class="card-preview" id="card-preview">
            <div class="image-container" id="image-container">
                <div id="card-placeholder">Rajouter une image</div>
                <img src="" alt="Card Image" id="card-image" style="display:none;">
            </div>
            <div class="text" id="card-text">
                <div class="large" id="text-large">UN SOURIRE</div>
                <div class="medium" id="text-medium">un sourire</div>
                <div class="script" id="text-script">un sourire</div>
            </div>
        </div>
        <div class="form-group">
            <label for="text-input">Texte à insérer</label>
            <input type="text" id="text-input" value="un sourire" oninput="updateText()">
        </div>
        <div class="form-group" id="gestion-formes">
            <div style="text-align: center;">Formes des lettres</div>
            <input type="checkbox" name="majuscules" checked="true" onchange="(document.getElementById('text-large').classList.toggle('hide'))">
            <label for="majuscules">majuscules</label>
            <input type="checkbox" name="minuscules" checked="true" onchange="(document.getElementById('text-medium').classList.toggle('hide'))">
            <label for="minuscules">minuscules</label>
            <input type="checkbox" name="cursives" checked="true" onchange="(document.getElementById('text-script').classList.toggle('hide'))">
            <label for="cursives">cursives</label>
        </div>
        <div class="form-group">
            <label for="text-size">Taille du texte</label>
            <input type="range" id="text-size" min="10" max="40" value="24" oninput="updateTextSize()">
        </div>
        <div class="form-group">
            <label>Orientation</label>
            <div>
                <label><input type="radio" name="orientation" value="portrait" checked onchange="updateOrientation()"> Portrait</label>
                <label><input type="radio" name="orientation" value="landscape" onchange="updateOrientation()"> Paysage</label>
            </div>
        </div>
        <div class="form-group">
            <label>Bordure</label>
            <div>
                <label><input type="radio" name="border" value="none" checked onchange="updateBorder()"> Pas de bordure</label>
                <label><input type="radio" name="border" value="auto" onchange="updateBorder()"> Couleur automatique</label>
                <label><input type="radio" name="border" value="color" onchange="updateBorder()"> Choix de la couleur</label>
                <input type="color" id="border-color" value="#ff7f50" disabled onchange="updateBorderColor()">
            </div>
        </div>
        <div class="form-group">
            <label for="image-upload">Uploader une image</label>
            <input type="file" id="image-upload" accept="image/*" onchange="uploadImage()">
        </div>
        <div class="form-group">
            <label for="text-color">Couleur du texte</label>
            <input type="color" id="text-color" value="#000000" onchange="updateTextColor()">
        </div>
        <button id="bouton-generer" onclick="generateCard()">Générer la carte</button>
        <p> 
            <a href="https://forge.apps.education.fr/professeurherve/createur-de-fiches/-/issues">Rapporter un bug ou suggérer une amélioration</a>
        </p>

        <p>             
            Cette application est maintenue par Hervé Allesant.
        </p>

        <p>             
            Police de caractère cursive : <a href="https://www.jeanboyault.fr/belle-allure">Belle Allure CE </a>, avec l'aimable autorisation de Jean Boyault
        </p>
    
    </div>
       

    <script src="script.js?version=COMMITHASH"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
{% include 'templates/global.js.html' %}
</body>
</html>
