body {
    width: 17cm;
    margin: 0;
    padding: 0;
    }

#en-tete_impression {
    width: calc(100% -16cm);
    background-color: rgb(198, 200, 200);
    padding: 0.5cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#en-tete_impression input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#input_consigne{
    width: 100%;
    vertical-align: middle;
}


#printButton {
    font-size: 20px;
    margin-right: 30px;
}

#nombre {    
    width: 3em;
    margin-right: 30px;
}

form {
    display: inline;
}

#conteneur_impression {
    width: 100%;
}


.titre {
    font-weight: bold;
    display: none;
}

.etiquettes_a_decouper {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: anywhere;
    padding-top: 0;
    padding-bottom: 0.4cm;
    border-top: 1mm solid gray;
    page-break-inside: avoid;
}

.etiquettes_a_decouper p {
    margin-top: 0.4cm;
}

.etiquette_a_decouper {
    border:1mm dotted gray;
    padding:0.5cm;
    display:inline-block;
    border-collapse:collapse;
}

.zone_qrcode_etiquettes {
    margin-top: 0.3cm;
    text-align: center;
}

.carre_qr_code{
    display: inline-block;
    margin-top: 0.5cm;
    margin-right: 1cm;
    margin-left: 1cm;
    padding: 0.2cm;
    border: 0.5mm solid black;
    text-align: center;    
}

.zone_qrcode_etiquettes img {
    height: 2.2cm !important;
    width: 2.2cm !important;
    display: inline-block !important;
}

.cache {
    display: none;
}


/* Styles pour l'impression */
@media print {

    body {margin: 0 !important;}

    .non-printable {
        display: none !important;
    }

}






