<!DOCTYPE html>
<html lang="fr">
<head>
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éducajou - Chocomultiples</title>
    <link rel="stylesheet" href="style.css?version=COMMITHASH">
</head>
<body class="accueil-general">
{% include 'templates/widget_back_menu.html' %}
    

  <div id="gauche"> 

      <div id="haut">
          <a id="educajou" href="../"><img style="height: 100%;" src="images/educajou.png"></a>
          <img src="images/logo.png" id="logo" onclick="retourAccueil()">    
          <span id='titre'>Chocomultiples</span>
          <button id="bouton-plein-ecran" onclick="passerEnPleinEcran();"></button>
      </div>

      <div id="milieu">

        <div id="contenu">
          <div id="multiplication">
            <div id="representation">
              <div id="dessus">
                <span id="multiple-a" class="nombre" onclick="visibiliteFacteur('a')"></span>
                <div id="barre-dessus"></div>
              </div>
              <div id="cote">
                <span id="multiple-b" class="nombre" onclick="visibiliteFacteur('b')"></span>
                <div id="barre-cote"></div>
              </div>
              <div id="colonnes"></div>
              <div id="flou" class="hide"></div>
              <div id="ensemble" class="hide"></div>
              <div id="conteneur-papier" class="hide">
                <img id="papier" src="images/papier.svg">
                <div id="ombre-papier"></div>
              </div>
              <div id="ensemble-couleurs" class="hide">
                <div class="rangee-ensemble-couleurs" id="rangee1">
                  <div class="zone-couleur" id="xx"></div><div class="zone-couleur" id="xy" style="flex:1"></div>
                </div>
                <div class="rangee-ensemble-couleurs" style="flex:1">
                  <div class="zone-couleur" id="yx"></div><div class="zone-couleur" id="yy" style="flex:1"></div>
                </div>
              </div>
              <div id="separations" class="hide"></div>
            </div>
          </div>
          <button class="bouton-replier haut" id="bouton-replier-haut" onclick="replierHeader()"></button>
          <button class="bouton-replier droite" id="bouton-replier-droite" onclick="replierPanneau()"></button>

        </div>
       

        <div id="clavier" class="hide">

          <button class="key" onclick="entreeTexte(1)">1</button>
          <button class="key" onclick="entreeTexte(2)">2</button>
          <button class="key" onclick="entreeTexte(3)">3</button>
          <button class="key" onclick="entreeTexte(4)">4</button><br>
          <button class="key" onclick="entreeTexte(5)">5</button>
          <button class="key" onclick="entreeTexte(6)">6</button>
          <button class="key" onclick="entreeTexte(7)">7</button>
          <button class="key" onclick="entreeTexte(8)">8</button><br>
          <button class="key" onclick="entreeTexte(9)">9</button>
          <button class="key" onclick="entreeTexte(0)">0</button>
          <button class="key" onclick="entreeTexte(',')">,</button>
          <button class="key" onclick="entreeTexte('-')">-</button><br>
          <button class="key long" onclick="entreeTexte(false,'suppr')" style="background-image: url(images/gomme.svg);"></button>></button>
          <button class="key long" onclick="entreeTexte(false,'ok')" style="background-image: url(images/ok.svg);"></button>

        </div>


        <div id="stats" style="right: -415px;">
    
          <p id="titre-stats">Activité</p>
          <div class="section" id="reussite">
          Réussite : <span id="taux-reussite"></span>
          </div>
          <div class="section" id="resultats"></div>
          <div class="section" id="stats-bas">
            <button id="bouton-effacer-stats" onclick="effaceStats()">Remise à zéro</button>
          </div>
        </div>  


      </div>
          
      <div id="bas">

        <span id="boutons-gauche-bas">
          <button id="bouton-colonne" style="background-image: url(images/colonne.svg);" onclick="modeSelection('colonne')"></button>
          <button id="bouton-ligne" style="background-image: url(images/ligne.svg);" onclick="modeSelection('ligne')"></button>
          <button id="bouton-aucune"  style="background-image: url(images/aucune.svg);" onclick="modeSelection('aucune')"></button>
        </span>

        <span id="boutons-milieu-bas">
          <input id="input-multiple-a" type="number" min="0" max="100" oninput="creeCarreaux('chocolat')">
          X
          <input id="input-multiple-b" type="number" min="0" max="100" oninput="creeCarreaux('chocolat')">
          =
          <span id="resultat" class="nombre"></span>
        </span>

        <button id="bouton-infos" onclick="ouvre(divApropos)"></button>
        <button id="bouton-hasard" onclick="lancerAuHasard()">Au hasard</button>


      </div>

  </div>

  <div id="panneau">
    <div class="section">
      <p>Taille des carreaux</p>
      <label>
          <input type="radio" name="taille" value="fixe" onclick="majTaille()"> Fixe (si possible)
      </label>
      <br>
      <label>
          <input type="radio" name="taille" value="maximale" onclick="majTaille()"> Maximale
      </label>
  </div>

  <div class="section" id="gestion-flou">
    <input type="checkbox" id="input-axe-x" style="margin-top: 10px;" onchange="couleurs()">Couleurs axe X
    <br> 
    <input type="checkbox" id="input-axe-y" style="margin-top: 10px;" onchange="couleurs()">Couleurs axe Y
    <br> 
    <input type="checkbox" id="checkbox-alternees" style="margin-top: 10px;" onchange="couleurs()">Couleurs alternées
    <br> 
    <input type="checkbox" id="checkbox-separations" style="margin-top: 10px;" onchange="changeSeparations()">Séparations
    <br> 
    <input type="checkbox" id="input-details" style="margin-top: 10px;" onchange="details()">Détails des carreaux
    <br>
    <input type="checkbox" id="input-papier" style="margin-top: 10px;" onchange="papier()">Emballage papier
    <br>  
    <input type="checkbox" id="input-flou" style="margin-top: 10px;" onchange="details()">Voile flou
  
    <div style="margin-top: 10px;">
      <span class="intitule">Taille</span><input id="range-taille-flou" type="range" min="10" max="100" oninput="flou()">       
    </div>
    <div style="margin-top: 10px;">
      <span class="intitule">Intensité</span> <input id="range-intensite-flou" type="range" min="1" max="20" oninput="flou()">          
    </div>
          
  </div>

  <div class="section" id="gestion-hasard">
    <p>Paramètres hasard</p>

    <div style="margin-top: 10px;">
      <span class="intitule">De</span>
      <input id="input-multiple-a-min" type="number" min="0" max="100" oninput="majHasard(this.value)">
      X
      <input id="input-multiple-b-min" type="number" min="0" max="100" oninput="majHasard(this.value)">
    </div>

    <div>
      <span class="intitule">à</span>
      <input id="input-multiple-a-max" type="number" min="0" max="100" oninput="majHasard(this.value)">
      X
      <input id="input-multiple-b-max" type="number" min="0" max="100" oninput="majHasard(this.value)">
    </div>

    <div>
      <input type="checkbox" id="input-reversible" style="margin-top: 10px;" onchange="majHasard()">Commutatif
    </div>
    <div>
      <input type="checkbox" id="input-change-facteurs" style="margin-top: 10px;" onchange="majHasard()">Masquer parmi 👇
    </div>

</div>

  <div class="section" id="gestion-valeurs-affichees">
    <p>Afficher</p>
    <input type="checkbox" id="checkbox-multiple-a" class='affichage-valeurs' style="margin-top: 10px;" onchange="afficher()">Facteur A
    <br>
    <input type="checkbox" id="checkbox-multiple-b"  class='affichage-valeurs' style="margin-top: 10px;" onchange="afficher()">Facteur B
    <br>
    <input type="checkbox" id="checkbox-resultat" class='affichage-valeurs' style="margin-top: 10px;" onchange="afficher()">Résultat

    
  </div>
  


  </div>
  


    <div id="darkbox" class="hide"></div>

    <div id="apropos" class="lightbox hide">
      <button class="bouton-fermer" onclick="ferme(divApropos)"></button>
      <h1>À propos</h1> <!-- Le  titre -->
      
      <div class="contenu-lightbox"> <!-- Le  contenu -->
            
        <ul>Chocomultiples est une application sous licence libre GNU GPL, de la <a class="cartouche" style="background-image: url(images/educajou.png);" href="https://chocomultiples.forge.apps.education.fr/">suite Éducajou, écrite par Arnaud Champollion</a>.</ul> 
        <ul>La police utilisée pour les chiffres et les titres est <strong>EcritureA-Romain</strong> de <a class="cartouche" style="background-image: url(images/eduscol.svg);" href="https://eduscol.education.fr/204/polices-de-caracteres-cursives-pour-l-enseignement-de-l-ecriture">Éduscol</a> sous licence Creative Commons BY ND.</ul>
        <h2>Utiliser hors-ligne</h2>
            <ul>Télécharger l'application <a class="cartouche" style="background-image: url(images/zip.png);" href="https://forge.apps.education.fr/educajou/chocomultiples/-/archive/main/Chocomultiples-main.zip">chocomultiples-main.zip</a></ul> 
            <ul>Extraire le ZIP</ul>
            <ul>Ouvrir le fichier index.html</ul>


        <h2>En savoir plus et accéder aux sources</h2>
            <ul>Voir <a class="cartouche" style="background-image: url(images/forge.png);" href="https://forge.apps.education.fr/educajou/chocomultiples">la page du projet</a> sur la Forge des Communs Numériques Éducatifs.</ul> 

                 
        <h2>Signaler un bug ou suggérer une amélioration</h2>
            <ul>Pour contribuer, vous pouvez ajouter <a href="https://forge.apps.education.fr/educajou/Chocomultiples/-/issues">un ticket</a>.</ul> 
          </p>   
    </div>
    
    <script src="fonctions.js?version=COMMITHASH"></script>
    <script src="script.js?version=COMMITHASH"></script>
{% include 'templates/global.js.html' %}
</body>
</html>
