<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% include 'templates/favicon.html' %}
  {% include 'templates/global.css.html' %}
  <link rel="stylesheet" type="text/css" media="screen" href="balance.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="dialogbox.css" />
  <title>Balance virtuelle</title>
</head>
<body>
  {% include 'templates/widget_back_menu.html' %}
  <div id="boite-masses-base">
      <img src="img/500g.png" class="masse masse-base" title="500 g" style="max-height: 85px;max-width: 47px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/200g.png" class="masse masse-base" title="200 g" style="max-height: 69px;max-width: 37px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/100g.png" class="masse masse-base" title="100 g" style="max-height: 51px;max-width: 30px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/100g.png" class="masse masse-base" title="100 g" style="max-height: 51px;max-width: 30px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/50g.png" class="masse masse-base" title="50 g" style="max-height: 38px;max-width: 21px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/20g.png" class="masse masse-base" title="20 g" style="max-height: 31px;max-width: 16px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/10g.png"class="masse masse-base" title="10 g" style="max-height: 25px;max-width: 15px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/10g.png" class="masse masse-base" title="10 g" style="max-height: 25px;max-width: 15px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/5g.png" class="masse masse-base" title="5 g" style="max-height: 18px;max-width: 9px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/2g.png" class="masse masse-base" title="2 g" style="max-height: 11px;max-width: 9px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/2g.png" class="masse masse-base" title="2 g" style="max-height: 11px;max-width: 9px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/1g.png" class="masse masse-base" title="1 g" style="max-height: 8px;max-width: 6px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
  </div>
  <div id="boite-masses-5kg">
      <img src="img/2kg.png" class="masse masse-5kg" title="2 kg" style="max-height: 72px;max-width: 83px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/1kg.png" class="masse masse-5kg" title="1 kg" style="max-height: 49px;max-width: 56px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
      <img src="img/1kg.png" class="masse masse-5kg" title="1 kg" style="max-height: 49px;max-width: 56px" ondragstart="drag(event)" onmouseover="createTip(event)" onmouseout="cancelTip(event)">
  </div>

  <div id="consignes"><p>Équilibre la balance, puis écris le résutat de la pesée en g ou en kg dans la case "Masse de l'objet". Enfin, appuie sur le bouton [Vérifier].<br/>Tu peux déplacer une masse d'un plateau à l'autre, ou l'enlever en la faisant glisser vers un emplacement libre de la réserve de masses.</p></div>

  <div id="reserve" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="centre">
    <div id="zone-gauche">
      <div id="range-masses"></div>
      <form id="resultat" method="post" onsubmit="verification(event)">
        <p><label for="resultat">Masse de l'objet<br />en indiquant l'unité.</label> <br />
        <input name="proposition" type="text" id="proposition"/>
        </p>
      </form>
  </div>
    <div id="receptacle">
      <div id="balance" ondrop="drop(event)" ondragover="allowDrop(event)">
        <img src="img/axe-gauche.png" id="axe-gauche" class="mobile" alt="balance Roberval" draggable="false">
        <img src="img/axe-droit.png" id="axe-droit" class="mobile" alt="balance Roberval" draggable="false">
        <img src="img/base.png" id="base" class="balance" alt="balance Roberval" draggable="false">
        <img src="img/bras.png" id="bras-balance" class="rotation" alt="balance Roberval" draggable="false">
        <img src="img/plateau-gauche.png" id="plateau-gauche" class="mobile" alt="balance Roberval" draggable="false">
        <img src="img/plateau-droit.png" id="plateau-droit" class="mobile" alt="balance Roberval" draggable="false">
      </div>
    </div>
    <div id="zone-affichage">
      <div id="messages"></div>
      <div id="infos"></div>
    </div>
  </div>
  <div id="commandes">
    <button id="serie1" type="button" value="serie1" autocomplete="off" onclick="defSerie(1)">Série 1 - 0 à 1 kg</button>
    <button id="serie2" type="button" value="serie2" autocomplete="off" onclick="defSerie(2)">Série 2 - 0 à 1 kg</button>
    <button id="serie3" type="button" value="serie3" autocomplete="off" onclick="defSerie(3)">Série 3 - 1 à 5 kg</button>
    <button id="serie4" type="button" value="serie4" autocomplete="off" onclick="defSerie(4)">Série 4 - 1 à 5 kg</button>
    <button id="verifier" type="button" disabled onclick="verification(event)">Vérifier</button>
    <button id="ranger" type="button" disabled onclick="rangeMasses()">Aide au calcul de la masse</button>
    <button id="apprendre" type="button" onclick="apprentissage()">Apprentissage</button>
  </div>

  {% include 'templates/global.js.html' %}
  <script src="outils.js" type="text/javascript"></script>
  <script src="dialogbox.js" type="text/javascript"></script>
  <script src="balance.js" type="text/javascript"></script>
</body>
</html>
