body {
  font-size: Serif;
  background-color: white;
}

h1 {
  text-align: center;
}

p  {
	font-size: 15pt;
}

#corps {
	width: 17cm;
}

#entete {
  width: 17cm;
  height: 3cm;
}

.tabimpression {
  width: 17cm;;
}

.ligne-nom {
	font-size: 20pt;
}

.ligne {
	height: 1.5cm;
	font-size: 15pt;
}

.ligne2 {
    font-weight: bold;
	color: red;
}


.col-nom {
	width: 17cm;
	text-align: center;
}

.col1 {
	width: 10cm;
}


.col2 {
	width: 5cm;
	font-weight: bold;
	color: red;
		text-align: right;
}

@media print {
 .noprint {
    display: none;
  }
}