<!DOCTYPE html>
<html lang="fr">
    <head>
{% include 'templates/favicon.html' %}
{% include 'templates/global.css.html' %}

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Face Privacy</title>
        <script src="./js/face-api.min.js"></script>
        <script src="./js/glfx.min.js"></script>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
{% include 'templates/widget_back_menu.html' %}

        <div id="loadingOverlay">
            <div id="loadingSpinner"></div>
        </div>
        <p class="blur-title" align="center"><img src="logo.svg" height="200px"></p>
        <p class="subtitle">Un outil simple et efficace pour flouter les visages ou d'autres zones d'une photo et l'enregistrer dans la résolution de votre choix.</p>
        <p align="center" class="upload_zone">
            <input type="file" id="imageInput" accept="image/*" class="custom-file-input">
            <label for="imageInput" class="upload-label">Choisir la photo</label>
        </p>
        <div id="content" style="display:none;">
            <div class="tools" style="background-color: color(srgb 0.405 0.485 0.4101);">
                <button class="collapsible active" style="margin-left: 20px;">Visages à flouter <i class="fas fa-chevron-right"></i></button>
                <div class="content" style="display: grid;
                    grid-template-columns: repeat(2, auto);">
                    <div id="facesContainer"></div>
                    <div id="options">
                        <button id="selectAllButton" style="height:150px">Sélectionner tout</button>
                        <div style="background-color: color(srgb 0.0224 0.3412 0.3254); margin-right: 20px; border: 2px solid white;"><div style="display: block; margin-bottom: 10px; font-size: 1.2em; color: white; background-color: color(srgb 0.0224 0.3412 0.3254); padding: 8px; border-bottom: 2px solid white;">Choix du mode : </div>
                        <div style="display: flex; margin-left: auto; margin-right: auto; width: 70%;"><button id="blurModeButton" class="mode-button selected" data-tooltip="Flouter les visages"></button>
                        <button id="emojiModeButton" class="mode-button" data-tooltip="Remplacer les visages par un émoji"></button></div>
                        </div>
                    </div>
                    <br>
                    <div>
                    </div>
                </div>
            </div>
            <div class="tools" style="background-color: color(srgb 0.3088 0.345 0.3105);">
                <button class="collapsible" style="margin-left: 20px; ">Outils <i class="fas fa-chevron-right"></i></button>
                <div class="content" style="display: none; grid-template-columns: repeat(2, auto); grid-gap: 5px; width:100%; margin-left: auto; margin-right: auto;max-width:500px;">
                    <button id="cursorButton" class="button active">Curseur</button>
                    <button id="brushButton" class="button">Crayon flouteur</button>
                    <button id="emojiButton" class="button">Émoji</button>
                    <button id="eraserButton" class="button">Gomme</button>
                    <div id="sizeSlider_zone" style="grid-column: 1 / -1; display: none; flex-direction: column; color: white; background-color: rgb(17, 156, 149); padding: 10px; border-radius: 10px; margin-top: 10px;align-items: center;">
                        <label id="sizeSlider_label" for="brushSize">Taille du pinceau/gomme :</label>
                        <input type="range" id="sizeSlider" min="10" max="100" value="30">
                    </div>
                </div>
            </div>
            <p align="center">
                <canvas id="outputCanvas"></canvas>
            </p>
            <div class="export_zone">
                <div id="resolutionContainer">
                    <div style="flex: 100%; font-size: 1.3em;">Résolution de sortie : </div>
                    <div class="field-container">
                        <label for="widthInput">Largeur :</label>
                        <input type="number" id="widthInput" min="1" step="1" />
                    </div>
                    <div class="field-container">
                        <label for="heightInput">Hauteur :</label>
                        <input type="number" id="heightInput" min="1" step="1" />
                    </div>
                </div>
                <p align="center">
                    <button id="downloadButton"  style="display:none;">Télécharger la nouvelle photo</button>
                </p>
            </div>
            <div id="customCursor" class="customCursor" style="position: absolute; display: none; pointer-events: none;">
                <span id="cursorIcon" style="font-size: 2em;"></span>
            </div>
        </div>
        <div class="footer">
            <button class="accordion">Droit à l’image et conformité au RGPD</button>
                <div class="panel">
                    <p>L’application “Face Privacy” respecte les droits à l’image de chacun et est conforme aux dispositions du Règlement Général sur la Protection des Données (RGPD) de l’Union Européenne (Règlement (UE) 2016/679). Selon l’article 4 du RGPD, les données biométriques telles que les visages sont considérées comme des données à caractère personnel sensibles. Toute captation, traitement ou diffusion de ces données doit être effectuée avec le consentement explicite de la personne concernée ou de son représentant légal.</p>
                </div>

            <button class="accordion">Loi sur la captation et la diffusion de l’image d’un mineur</button>
                <div class="panel">
                    <p>En France, la captation et la diffusion de l’image d’un mineur sont encadrées par des lois strictes pour protéger leur vie privée et leur intégrité. Conformément à l’article 9 du Code civil et à l’article 226-1 du Code pénal, il est interdit de diffuser des images de mineurs sans l’autorisation préalable des titulaires de l’autorité parentale. Cette interdiction est renforcée dans le cadre de l’éducation, où la capture et la publication d’images de mineurs dans les écoles ou lors d’événements scolaires nécessitent une autorisation écrite des parents ou des représentants légaux. La violation de ces lois peut entraîner des sanctions pénales et civiles.</p>
                       <p>En France, la captation et la diffusion de l’image d’un mineur sont encadrées par des lois strictes pour protéger leur vie privée et leur intégrité. Conformément à l’article 9 du Code civil et à l’article 226-1 du Code pénal, il est interdit de diffuser des images de mineurs sans l’autorisation préalable des titulaires de l’autorité parentale. Cette interdiction est renforcée dans le cadre de l’éducation, où la capture et la publication d’images de mineurs dans les écoles ou lors d’événements scolaires nécessitent une autorisation écrite des parents ou des représentants légaux. La violation de ces lois peut entraîner des sanctions pénales et civiles.</p>
                    <p>Pour plus de détails sur la protection des données personnelles dans l'éducation, vous pouvez consulter la page dédiée sur <a href="https://eduscol.education.fr/398/protection-des-donnees-personnelles-et-assistance" target="_blank" style="color: white;">Eduscol</a> ou <a href="https://eduscol.education.fr/document/52590/download" target="_blank" style="color: white;">télécharger le modèle d'autorisation d’enregistrement et d’utilisation de l’image</a> proposé par Eduscol.</p>
                </div>

            <button class="accordion">Confidentialité et traitement Local des Données</button>
                <div class="panel">
                    <p>L’application “Face Privacy” est conçue pour garantir la confidentialité et la sécurité des images de ses utilisateurs. Aucune photo n’est téléchargée sur un quelconque serveur ou stockée en ligne. Toutes les opérations de traitement d’image, y compris la détection et le floutage des visages, se déroulent entièrement sur la machine de l’utilisateur.</p>
                    <p>L’application utilise un réseau neuronal intégré directement sur l’appareil de l’utilisateur pour détecter automatiquement les visages dans les photos. Une fois les visages détectés, l’application applique un floutage pour protéger l’identité des personnes présentes sur l’image. Ce processus est effectué localement, sans transfert de données vers des serveurs externes, assurant ainsi que vos données personnelles ne quittent jamais votre appareil.</p>
                    <p>En utilisant “Face Privacy”, vous avez la certitude que vos photos restent privées et sécurisées, tout en respectant pleinement les réglementations relatives à la vie privée, telles que le RGPD.</p>
                </div>
            <button class="accordion">Face Privacy est libre</button>
    <div class="panel">
        <p>
            Face Privacy est un projet libre, et son code source est disponible sur la forge des communs numériques éducatifs. Vous pouvez accéder au code source à l'adresse suivante : 
            <a href="https://forge.apps.education.fr/faceprivacy" target="_blank" style="color: white;">https://forge.apps.education.fr/faceprivacy</a>.
        </p>
        <p>
            Merci d'ouvrir un ticket sur LaForgeEdu pour échanger avec nous, rapporter un bug, suggérer une amélioration, etc. Vous pouvez accéder à la page des tickets à l'adresse suivante : 
            <a href="https://forge.apps.education.fr/faceprivacy/app/-/issues" target="_blank" style="color: white;">https://forge.apps.education.fr/faceprivacy/app/-/issues</a>.
        </p>
    </div>
        </div>
        <script src="./js/fp.min.js"></script>
    {% include 'templates/global.js.html' %}
</body>
</html>