<html lang="fr">
  <head>
    <title>Au jardin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'templates/favicon.html' %}
    {% include 'templates/global.css.html' %}
    <link rel="stylesheet" type="text/css" media="screen" href="aujardin.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="dialogbox.css" />
</head>
<body>
  {% include 'templates/widget_back_menu.html' %}
  <div id="commandes">
    <div id="consigne">
      <p>Tu dois planter le nombre indiqué de poireaux, pommes de terre et salades dans les différents potagers en les faisant glisser depuis la réserve du bas. Tu peux les supprimer du jardin en les donnant à manger au cochon.</p>
    </div>
    <div id="zone-boutons">
      <button id="Niveau1" type="button" value="Niveau1" autocomplete="off" onclick="defNiveau1()">Nombres de 1 à 10</button>
      <button id="Niveau2" type="button" value="Niveau2" autocomplete="off" onclick="defNiveau2()">Nombres de 10 à 20</button>
      <button id="verifier" type="button" disabled onclick="verification()">Vérifier</button>
    </div>
  </div>

  <div id="ligne1" class="ligne">
    <div id="pre1" class="pre">
      <div id="modele1" class="modele"></div>
      <div id="erreur1" class="erreur"></div>
      <div id="enclos1" alt="enclos" class="enclos" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="pre2" class="pre">
      <div id="modele2" class="modele"></div>
      <div id="erreur2" class="erreur"></div>
      <div id="enclos2" alt="enclos" class="enclos" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="pre3" class="pre">
      <div id="modele3" class="modele"></div>
      <div id="erreur3" class="erreur"></div>
      <div id="enclos3" alt="enclos" class="enclos" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
  </div>

  <div id="baspage">
    <div id="espace"></div>
    <div id="reserve">
        <img src="img/poireaux.png" id="legume1" class="legume1" alt="legume1" draggable="true" ondragstart="drag(event)">
        <img src="img/pommes.png" id="legume2" class="legume2" alt="legume2" draggable="true" ondragstart="drag(event)">
        <img src="img/salades.png" id="legume3" class="legume3" alt="legume3" draggable="true" ondragstart="drag(event)">
    </div>
    <div id="elimination">
      <img src="img/cochon.png" id="poubelle" ondrop="detruit(event)" ondragover="survolPig(event)" ondragleave="finSurvolPig(event)"></div>
    </div>
  </div>

  {% include 'templates/global.js.html' %}
  <script src="dialogbox.js" type="text/javascript"></script>
  <script src="aujardin.js" type="text/javascript"></script>

</body>
</html>
