<!doctype html>
<html lang="fr">
  <head>
    <title>Histoires à reconstituer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="height=device-height">

    {% include 'templates/favicon.html' %}
    {% include 'templates/global.css.html' %}
    <link rel="stylesheet" type="text/css" media="screen" href="histoires.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="dialogbox.css" />
  </head>
<body onload="load();">
  <div id="ecran-noir" class="invisible"></div>
  <div id="page">
    <div id="commandes">
      {% include 'templates/widget_back_menu.html' %}
      <div id="zone-listes" class="btcommandes">
        <button id="renard-chasse" type="button" class="btliste" enabled onclick="defListe(this)">Renard chasse</button>
        <button id="chiot-perdu" type="button" class="btliste" enabled onclick="defListe(this)">Un chiot perdu</button>
        <button id="cache-cache" type="button" class="btliste" enabled onclick="defListe(this)">Cache-cache</button>
        <button id="les-courses" type="button" class="btliste" enabled onclick="defListe(this)">Les courses</button>
        <button id="la-fusee" type="button" class="btliste" enabled onclick="defListe(this)">La fusée</button>
        <button id="le-ski" type="button" class="btliste" enabled onclick="defListe(this)">Le ski</button>
        <button id="chasse-aux-papillons" type="button" class="btliste" enabled onclick="defListe(this)">Chasse aux papillons</button>
        <button id="cheval-fougeux" type="button" class="btliste" enabled onclick="defListe(this)">Un cheval fougueux</button>
        <button id="pecheur-inattendu" type="button" class="btliste" enabled onclick="defListe(this)">Un pêcheur inattendu</button>
        <button id="le-train" type="button" class="btliste" enabled onclick="defListe(this)">Le train</button>
        <button id="la-randonnee" type="button" class="btliste" enabled onclick="defListe(this)">La randonnée</button>
        <button id="le-jongleur" type="button" class="btliste" enabled onclick="defListe(this)">Le jongleur</button>
        <button id="depart-pour-la-mer" type="button" class="btliste" enabled onclick="defListe(this)">Départ pour la mer</button>
        <button id="automne" type="button" class="btliste" enabled onclick="defListe(this)">L'automne</button>
    </div>
      <div id="zone-commandes"class="btcommandes">
        <button id="verifier" type="button" class="btaction" disabled onclick="verification()">Vérifier</button>
        <button id="imprimer" type="button" class="btaction" onclick='pageImpression()' disabled>Imprimer</button>
      </div>
    </div>

    <div id="consignes">
        Choisis une histoire, puis fais glisser les images dans la zone du bas pour les remettre dans l'ordre.
    </div>

    <div id="reserve"></div>

    <div id="receptacle" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="deleteLastFakeElement(event)"></div>
  </div>
  <div id="bravo" class="invisible" onclick="effaceBravo()"></div>

  {% include 'templates/global.js.html' %}
  <script src="dialogbox.js" type="text/javascript"></script>
  <script src="outils.js" type="text/javascript"></script>
  <script src="images.js" type="text/javascript"></script>
  <script src="histoires.js" type="text/javascript"></script>
</body>
</html>
